<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="61638903-917e-488e-9cec-67f0c8ab0643" Alias="dokumentatsiya" Level="1">
  <Info>
    <Name>Документация</Name>
    <Icon>icon-notepad-alt color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>Dokumentatsiya</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8c77716f-ece4-4e71-9097-82d0d763b72d">Dokumentatsiya</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1246c96f-5591-4cde-ad6a-594f64a0abcf</Key>
      <Name>Документация</Name>
      <Alias>dokumentatsiyaList</Alias>
      <Definition>89d0358a-1b57-41ad-827f-fa18a7372af9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="2">Содержимое</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d6a2299-8715-4678-8cb2-ed842e74d4c8</Key>
      <Name>Изображение</Name>
      <Alias>izobrazhenie</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Будет отображать в списке документации]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="1">Медиа</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3004255a-dfc9-4ede-b9b0-f7739ccdeb49</Key>
      <Caption>Содержимое</Caption>
      <Alias>2</Alias>
      <Type>Tab</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>c43f3a99-bc43-4671-9f18-8a5bbf514911</Key>
      <Caption>Медиа</Caption>
      <Alias>1</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>