<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2a35f07-9fe2-404f-a861-af7318991747" Alias="kollaborafii" Level="1">
  <Info>
    <Name>Коллаборации</Name>
    <Icon>icon-columns color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d">heroBase</Composition>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>Kollaborafii</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c119b7dc-29fc-4431-958c-86b8764a4d80">Kollaborafii</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>