<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="33f08e22-34ac-411d-9189-08071a0e73b0" Alias="kontakty" Level="1">
  <Info>
    <Name>Контакты</Name>
    <Icon>icon-addressbook color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d">heroBase</Composition>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>Kontakty</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5309e32f-bc8d-454f-b141-0644677f28ac">Kontakty</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>