<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d69eeeb-5d4f-4c5a-a415-7e5840645c21" Alias="nOVOSTI" Level="1">
  <Info>
    <Name>Новости</Name>
    <Icon>icon-newspaper color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d">heroBase</Composition>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>NOVOSTI</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3913617f-f3fe-4c84-9356-47df78fc5880">NOVOSTI</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2aa3c196-439e-4b78-800f-7303be540f88" SortOrder="0">novost</ContentType>
    <ContentType Key="3df3d91e-f168-45be-abd8-c51fe6bc261c" SortOrder="1">novost2</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>