<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12ff7272-7f60-4d29-bfec-851af63c42fe" Alias="obEkty" Level="1">
  <Info>
    <Name>Обьекты</Name>
    <Icon>icon-school color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d">heroBase</Composition>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>ObEkty</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2a25e3f6-0921-47b5-b40e-790d7d6bd14a">ObEkty</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b536f3ea-0794-4e64-8195-6972af63a918" SortOrder="0">obEkt</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>