<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8cde639f-e467-4e76-95c8-6ba5792d8948" Alias="oKompanii" Level="1">
  <Info>
    <Name>О компании</Name>
    <Icon>icon-addressbook color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d">heroBase</Composition>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>OKompanii</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bd24f76a-c0a0-4cfc-9990-11a2ed1a3b76">OKompanii</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>