<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f40805c8-06c1-4ccf-bf77-b4633666ce2d" Alias="papka" Level="1">
  <Info>
    <Name>Папка</Name>
    <Icon>icon-folder color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8cde639f-e467-4e76-95c8-6ba5792d8948" SortOrder="0">oKompanii</ContentType>
    <ContentType Key="812b7f61-1847-41f7-9b80-1b028e668e78" SortOrder="1">proizvodstvo</ContentType>
    <ContentType Key="4d93ec97-d636-4b07-a0e3-e4609c10ce59" SortOrder="2">uchebnyiFentr</ContentType>
    <ContentType Key="4d69eeeb-5d4f-4c5a-a415-7e5840645c21" SortOrder="3">nOVOSTI</ContentType>
    <ContentType Key="12ff7272-7f60-4d29-bfec-851af63c42fe" SortOrder="4">obEkty</ContentType>
    <ContentType Key="6ade5089-d7e0-43bb-8287-12b169f2bf77" SortOrder="5">tekstovayaStranifa</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>