<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="947361a0-6f4b-45e3-ba7d-0a6083e309ba" Alias="partnerskayaSet" Level="1">
  <Info>
    <Name>Партнерская сеть</Name>
    <Icon>icon-chart-curve color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d">heroBase</Composition>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>PartnerskayaSet</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="482a063d-762d-4406-aab4-9b5dba8fc1eb">PartnerskayaSet</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>