<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f17b538-189b-4914-acc6-fca538144a8d" Alias="sistemy" Level="1">
  <Info>
    <Name>Системы</Name>
    <Icon>icon-layers color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d">heroBase</Composition>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>Sistemy</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aed9fc9a-13b7-47b6-ad34-daf0839aa2a8">Sistemy</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="595dfdbf-bb4a-4b43-93f3-05a617167bc4" SortOrder="0">sistema</ContentType>
    <ContentType Key="d02f7ca5-dd8b-4653-bd15-d9f37b9e5bfb" SortOrder="1">tekhnicheskayaDokumentatsiya</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>