<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="595dfdbf-bb4a-4b43-93f3-05a617167bc4" Alias="sistema" Level="1">
  <Info>
    <Name>Система</Name>
    <Icon>icon-defrag color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Страница системы крепления</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>Sistema</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b93898e5-0000-0000-0000-000000000000</Key>
      <Name>Детализированное изображение</Name>
      <Alias>detailImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Изображение детали крепления]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="media">Медиа</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7c51acf1-0000-0000-0000-000000000000</Key>
      <Name>Галерея изображений</Name>
      <Alias>imageGallery</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Дополнительные изображения для контентной секции]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="media">Медиа</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1f1f737-ed14-4a50-818b-e39931f9b4dd</Key>
      <Name>Изображение для списка систем</Name>
      <Alias>izobrazhenieDlyaSpiskaSistem</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Это изображение будет показано на странице "Системы", в списке для текцщей системы]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="media">Медиа</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e5d4a219-0000-0000-0000-000000000000</Key>
      <Name>Основное изображение</Name>
      <Alias>mainImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Основное изображение системы]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="media">Медиа</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a170b0d4-0000-0000-0000-000000000000</Key>
      <Name>Преимущества системы</Name>
      <Alias>systemAdvantages</Alias>
      <Definition>96567f46-d0a7-459c-ba07-624ebb25b8e9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Список преимуществ системы с иконками]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="advantages">Преимущества</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52cba3cf-0000-0000-0000-000000000000</Key>
      <Name>Описание системы</Name>
      <Alias>systemDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Краткое описание системы]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Основной контент</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>21c013fb-0000-0000-0000-000000000000</Key>
      <Name>Особенности системы</Name>
      <Alias>systemFeatures</Alias>
      <Definition>9aba7662-7e12-4ad2-aa9f-25a8674251e0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Список особенностей системы]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="features">Особенности</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a1b2c3d4-e5f6-7890-1234-567890abcdef</Key>
      <Name>Название системы</Name>
      <Alias>systemName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Основное название системы (например: Керамогранит (скрытое крепление))]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Основной контент</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1d0a62f-0000-0000-0000-000000000000</Key>
      <Name>Тег системы</Name>
      <Alias>systemTag</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Код системы (например: РОНСОН-400)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Основной контент</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e707b7ab-83e4-4e29-a364-7123f8b21c11</Key>
      <Name>Подробное описание</Name>
      <Alias>testBlockGrid</Alias>
      <Definition>07dc1f5d-c91e-4659-a15f-dea0dca4f6b3</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Подробное описание системы с возможностью форматирования]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Основной контент</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db07efdc-0000-0000-0000-000000000000</Key>
      <Name>Описание станка</Name>
      <Alias>toolDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Описание специального станка]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="tool">Станок</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>43c4e8a0-0000-0000-0000-000000000000</Key>
      <Name>Изображение станка</Name>
      <Alias>toolImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Изображение специального станка]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="tool">Станок</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>538f978a-0000-0000-0000-000000000000</Key>
      <Name>Название станка</Name>
      <Alias>toolTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Название специального станка]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tool">Станок</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6784965b-9b09-4bd0-aa5b-e35d84438d14</Key>
      <Name>Видео презентация</Name>
      <Alias>videoPrezentatsiya</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[ID видео из youtube]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Основной контент</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2e79b70a-cf59-4eb9-b1d5-8a82e724ebed</Key>
      <Caption>Медиа</Caption>
      <Alias>media</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>5bfcba0f-9e50-4703-a703-8ff57ebbd62a</Key>
      <Caption>Станок</Caption>
      <Alias>tool</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>78e9c376-6540-4845-81e3-36c4897fd70e</Key>
      <Caption>Основной контент</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c37cdfbd-885c-420a-bfbf-b48ab277d774</Key>
      <Caption>Особенности</Caption>
      <Alias>features</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>f05d69e4-4f5c-4602-bc29-6abacca6851e</Key>
      <Caption>Преимущества</Caption>
      <Alias>advantages</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>