<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad05811b-67ea-47d1-8510-d1c1df5e7517" Alias="sistemaTip2" Level="1">
  <Info>
    <Name>Система Тип-2</Name>
    <Icon>icon-multiple-credit-cards color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2a3b4c5d-6e7f-8a9b-0c1d-2e3f4a5b6c7d">heroBase</Composition>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>SistemaTip2</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0c8095f8-dd93-4c16-9dcb-7e06a6769d49">SistemaTip2</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>