<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d02f7ca5-dd8b-4653-bd15-d9f37b9e5bfb" Alias="tekhnicheskayaDokumentatsiya" Level="1">
  <Info>
    <Name>Техническая документация</Name>
    <Icon>icon-book color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="8e7f1008-4b9e-4c94-9d8b-7c1a7e3b3a45">seoBase</Composition>
    </Compositions>
    <DefaultTemplate>TekhnicheskayaDokumentatsiya</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bbeaaccc-1fd1-48ab-82c3-71ea2423f3cc">TekhnicheskayaDokumentatsiya</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="61638903-917e-488e-9cec-67f0c8ab0643" SortOrder="0">dokumentatsiya</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>