@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TekstovayaStranifa>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}
<div class="container-sm">

    <article class="text-page">
        <section class="text-section card">
            <h4 class="mb-5">Общие положения</h4>
            <ol class="num-list body2">
                <li>
                    Настоящая Политика определяет порядок обработки персональных данных в ООО «РОНСОН ГРУПП»
                    (далее – Компания) в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».
                </li>
                <li>
                    Цель обработки данных — заключение и исполнение договоров, информирование об услугах Компании,
                    а также соблюдение требований законодательства РФ.
                </li>
            </ol>
        </section>

        <section class="text-section card">
            <h4 class="mb-5">Состав обрабатываемых данных</h4>
            <ol class="num-list body2">
                <li>
                    Компания может обрабатывать следующие данные:
                    <ul class="bullet-list">
                        <li>ФИО;</li>
                        <li>контактные данные (телефон, e-mail);</li>
                        <li>должность и место работы (для корпоративных клиентов);</li>
                        <li>иные данные, необходимые для оказания услуг.</li>
                    </ul>
                </li>
            </ol>
        </section>

        <section class="text-section card">
            <h4 class="mb-5">Принципы и условия обработки</h4>
            <ol class="num-list body2">
                <li>Обработка осуществляется законно и справедливо, только с согласия субъекта данных.</li>
                <li>Компания обеспечивает конфиденциальность и безопасность данных с помощью орг- и техмер.</li>
            </ol>
        </section>
    </article>



</div>