<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f38f0ac7-1d27-439c-9f3f-089cd8825a53" Alias="Dropdown multiple Системы" Level="1">
  <Info>
    <Name>Dropdown multiple Системы</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "РОНСОН-100"
    },
    {
      "id": 2,
      "value": "РОНСОН-200"
    },
    {
      "id": 3,
      "value": "РОНСОН-300"
    },
    {
      "id": 4,
      "value": "РОНСОН-400"
    },
    {
      "id": 5,
      "value": "РОНСОН-500"
    },
    {
      "id": 6,
      "value": "РОНСОН-600"
    },
    {
      "id": 7,
      "value": "РОНСОН-700"
    },
    {
      "id": 8,
      "value": "РОНСОН-740"
    }
  ],
  "Multiple": true
}]]></Config>
</DataType>