<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2322ba51-ebe2-492d-bad9-c2e253500cc3" Alias="Изображение системы - Выравнивание изображения - Dropdown" Level="1">
  <Info>
    <Name>Изображение системы - Выравнивание изображения - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "left"
    },
    {
      "id": 2,
      "value": "center"
    },
    {
      "id": 3,
      "value": "right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>