<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f0deadf-5031-4fa5-bc8f-01b2adbe9911" Alias="Изображение системы - Размер изображения - Dropdown" Level="1">
  <Info>
    <Name>Изображение системы - Размер изображения - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "100%"
    },
    {
      "id": 2,
      "value": "75%"
    },
    {
      "id": 3,
      "value": "50%"
    },
    {
      "id": 4,
      "value": "25%"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>