<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96567f46-d0a7-459c-ba07-624ebb25b8e9" Alias="Система - Преимущества системы - Block List" Level="1">
  <Info>
    <Name>Система - Преимущества системы - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": "#ffffff",
      "contentElementTypeKey": "22222222-2222-2222-2222-222222222222",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": "#ffffff",
      "label": "{{advantageTitle}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>