<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07dc1f5d-c91e-4659-a15f-dea0dca4f6b3" Alias="Система - Block Grid" Level="1">
  <Info>
    <Name>Система - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "02129d38-58e1-4e0c-be15-6f64a2fa8652",
      "name": "Demo Blocks"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 4,
          "createLabel": "Add to left column",
          "key": "aaaaaaaa-1111-1111-1111-111111111111",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "center",
          "columnSpan": 4,
          "createLabel": "Add to center column",
          "key": "bbbbbbbb-2222-2222-2222-222222222222",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 4,
          "createLabel": "Add to right column",
          "key": "cccccccc-3333-3333-3333-333333333333",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "cccc3333-3333-3333-3333-333333333333",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "02129d38-58e1-4e0c-be15-6f64a2fa8652",
      "iconColor": null,
      "inlineEditing": false,
      "label": "3 Колонки",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "16ab4521-0eaa-410c-9ace-2382715a4571",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "d9ce882e-ad57-47c1-80e8-3cef795d33b5",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "bc546e7b-5ab7-4d2f-b456-e04f4e906f8a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "02129d38-58e1-4e0c-be15-6f64a2fa8652",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Блок с двумя колонками",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "aaaa1111-1111-1111-1111-111111111111",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "02129d38-58e1-4e0c-be15-6f64a2fa8652",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Текст ({{textContent | ncRichText | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/blocklistviews/sistemaTextBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "bbbb2222-2222-2222-2222-222222222222",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "02129d38-58e1-4e0c-be15-6f64a2fa8652",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Изображение системы",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/blocklistviews/sistemaImageBlock.html"
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>