<?xml version="1.0" encoding="utf-8"?>
<Media Key="291cf27e-e4c5-d94b-4abf-aec55ad249fb" Alias="000012_C-pDeNW1Dug.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/CPDeNW1Dugjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000012_C-pDeNW1Dug.jpg" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000012/000012_C-pDeNW1Dug.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>