<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7a72d41-ac05-0a72-0941-d2eca41a8ed9" Alias="000097_мурманский 3д.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/murmanskii3djpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000097_мурманский 3д.jpg" />
    <SortOrder>317</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000097/000097_мурманский 3д.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>