<?xml version="1.0" encoding="utf-8"?>
<Media Key="3785ca6f-dff5-194f-44d3-5ecd55c2cbc4" Alias="000050_мосавтохолод сколковское ш.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/mosavtokholodSkolkovskoeShjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000050_мосавтохолод сколковское ш.jpg" />
    <SortOrder>185</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000050/000050_мосавтохолод сколковское ш.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>