<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c310682-1135-f24a-d4d5-21f768cf3f98" Alias="000094_старая купавна школа.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/starayaKupavnaShkolajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000094_старая купавна школа.jpg" />
    <SortOrder>298</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000094/000094_старая купавна школа.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>