<?xml version="1.0" encoding="utf-8"?>
<Media Key="5003b6a0-02f3-438c-38e5-98413ec6a823" Alias="000051_иркутск дом музыки обл.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/irkutskDomMuzykiObljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000051_иркутск дом музыки обл.jpg" />
    <SortOrder>186</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000051/000051_иркутск дом музыки обл.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>