<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0c34a8b-46d6-0085-6b80-f4017a41869f" Alias="000079_000000873.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000079_000000873.jpg" />
    <SortOrder>263</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000079/000079_000000873.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>