<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1565582-c4b2-b24f-eda2-c77e9ca0feef" Alias="000059_южносах офисы сандал фибро.JPG" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/yuzhnosakhOfisySandalFibroJPG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000059_южносах офисы сандал фибро.JPG" />
    <SortOrder>212</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000059/000059_южносах офисы сандал фибро.JPG",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>