<?xml version="1.0" encoding="utf-8"?>
<Media Key="49584abe-8c6a-191b-cd3f-dcd32bc57944" Alias="000073_3  Центр информации и связей с общественностью ДК Нейтрино - 1обл.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/FentrInformatsiiISvyazeiSObschestvennostyuDKNeitrino1obljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000073_3  Центр информации и связей с общественностью ДК Нейтрино - 1обл.jpg" />
    <SortOrder>248</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000073/000073_3  Центр информации и связей с общественностью ДК Нейтрино - 1обл.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>