<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a4f8749-d976-11ee-db44-bd2ac233a864" Alias="000180_7afbf00941bba9e61b4151860c7054ad.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/afbf00941bba9e61b4151860c7054adjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000180_7afbf00941bba9e61b4151860c7054ad.jpg" />
    <SortOrder>666</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000180/000180_7afbf00941bba9e61b4151860c7054ad.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>