<?xml version="1.0" encoding="utf-8"?>
<Media Key="f898d9ad-c9c1-1960-18ea-ea459f781bd8" Alias="000174_1024x768-3.JPG" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/x7683JPG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000174_1024x768-3.JPG" />
    <SortOrder>635</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000174/000174_1024x768-3.JPG",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>