<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2b540af-4d77-eeb0-cd7e-d82c6e659dee" Alias="000195_1024x768-3.jpeg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/x7683jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000195_1024x768-3.jpeg" />
    <SortOrder>746</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000195/000195_1024x768-3.jpeg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>