<?xml version="1.0" encoding="utf-8"?>
<Media Key="38fd6413-4316-a9b6-6942-9bcefaa66f07" Alias="000180_3e7fa64a691c2656e8c052d0a2115d89.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/e7fa64a691c2656e8c052d0a2115d89jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000180_3e7fa64a691c2656e8c052d0a2115d89.jpg" />
    <SortOrder>663</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000180/000180_3e7fa64a691c2656e8c052d0a2115d89.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>