<?xml version="1.0" encoding="utf-8"?>
<Media Key="741890bf-134a-8ae4-2c0e-63c9e90d62a1" Alias="000143_1c01013bba06afb470574cf565c29281-(1).jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/c01013bba06afb470574cf565c292811Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000143_1c01013bba06afb470574cf565c29281-(1).jpg" />
    <SortOrder>476</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000143/000143_1c01013bba06afb470574cf565c29281-(1).jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>