<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f04b57e-9292-2ff4-bebc-6fe0a9a6841b" Alias="000100_IMG_8549.JPG" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/IMG_8549JPG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000100_IMG_8549.JPG" />
    <SortOrder>328</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000100/000100_IMG_8549.JPG",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>