<?xml version="1.0" encoding="utf-8"?>
<Media Key="6353907c-a63f-ad1a-f51a-f7510d678359" Alias="000124_det-sad-zolotoi-kluchik-1.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/detSadZolotoiKluchik1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000124_det-sad-zolotoi-kluchik-1.jpg" />
    <SortOrder>412</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000124/000124_det-sad-zolotoi-kluchik-1.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>