<?xml version="1.0" encoding="utf-8"?>
<Media Key="442eba89-5589-9837-f3c7-61cbaeb18cb4" Alias="000125_det-sad-sloniki_2.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/detSadSloniki_2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000125_det-sad-sloniki_2.jpg" />
    <SortOrder>416</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000125/000125_det-sad-sloniki_2.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>