<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cc79511-8fb7-b85f-0c53-194ffc61647e" Alias="000176_768x1024-WhiteHills_Tivoli_009_F550-00.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/x1024WhiteHills_Tivoli_009_F55000jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000176_768x1024-WhiteHills_Tivoli_009_F550-00.jpg" />
    <SortOrder>644</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000176/000176_768x1024-WhiteHills_Tivoli_009_F550-00.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>