<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e20a46a-ea79-98f7-753b-771b52c18ea7" Alias="000198_image-25-07-16-09-41-6(7).jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/image250716094167Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000198_image-25-07-16-09-41-6(7).jpg" />
    <SortOrder>758</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000198/000198_image-25-07-16-09-41-6(7).jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>