<?xml version="1.0" encoding="utf-8"?>
<Media Key="7875c193-b7d7-d9a7-ff8f-78f31181a3ff" Alias="000166_DSC_0065(1).jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/DSC_00651Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000166_DSC_0065(1).jpg" />
    <SortOrder>588</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000166/000166_DSC_0065(1).jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>