<?xml version="1.0" encoding="utf-8"?>
<Media Key="60f36f25-8560-5d5a-8d5d-1fcff8b80175" Alias="000176_mZoc1DIWLtM.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/mZoc1DIWLtMjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000176_mZoc1DIWLtM.jpg" />
    <SortOrder>648</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000176/000176_mZoc1DIWLtM.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>