<?xml version="1.0" encoding="utf-8"?>
<Media Key="59ed48a8-3007-3273-64b2-c1751001242f" Alias="000176_HhOvslWOnVA.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/HhOvslWOnVAjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000176_HhOvslWOnVA.jpg" />
    <SortOrder>646</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000176/000176_HhOvslWOnVA.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>