<?xml version="1.0" encoding="utf-8"?>
<Media Key="743abdb0-02d8-d17a-4a3d-6c64a835ca61" Alias="000102_IMG_3256 обл.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/IMG_3256Obljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000102_IMG_3256 обл.jpg" />
    <SortOrder>335</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000102/000102_IMG_3256 обл.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>