<?xml version="1.0" encoding="utf-8"?>
<Media Key="29042d74-515c-65cd-140d-8b861c38fa2d" Alias="000126_Dark-red_dark-brown_02.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/DarkRed_darkBrown_02jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:23</CreateDate>
    <NodeName Default="000126_Dark-red_dark-brown_02.jpg" />
    <SortOrder>421</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000126/000126_Dark-red_dark-brown_02.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>