<?xml version="1.0" encoding="utf-8"?>
<Media Key="33d59c32-6f5b-ccb6-fe35-3998f171cd71" Alias="000176__YP8efT1jkU(1).jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/YP8efT1jkU1Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000176__YP8efT1jkU(1).jpg" />
    <SortOrder>649</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000176/000176__YP8efT1jkU(1).jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>