<?xml version="1.0" encoding="utf-8"?>
<Media Key="31f097e8-b620-6727-daf4-5bbd8aa096da" Alias="000180_f7c15c1a5f7e74c4c474afe1dd75cb2a.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/f7c15c1a5f7e74c4c474afe1dd75cb2ajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000180_f7c15c1a5f7e74c4c474afe1dd75cb2a.jpg" />
    <SortOrder>669</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000180/000180_f7c15c1a5f7e74c4c474afe1dd75cb2a.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>