<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9cb474d-90cc-75e5-ec27-f7766f269203" Alias="000180_53eab56a174513b281f7ece5adcff5b8.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/eab56a174513b281f7ece5adcff5b8jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000180_53eab56a174513b281f7ece5adcff5b8.jpg" />
    <SortOrder>664</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000180/000180_53eab56a174513b281f7ece5adcff5b8.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>