<?xml version="1.0" encoding="utf-8"?>
<Media Key="80d95b6f-69b0-e2d0-955e-4dff8b46ce20" Alias="000279_1_DSC03456.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/DSC03456jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000279_1_DSC03456.jpg" />
    <SortOrder>1292</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000279/000279_1_DSC03456.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>