<?xml version="1.0" encoding="utf-8"?>
<Media Key="27c8ac3b-3c27-cefd-fae1-947a3fa74040" Alias="000213_768x1024-IMG_4744(2)-min.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/x1024IMG_47442Minjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000213_768x1024-IMG_4744(2)-min.jpg" />
    <SortOrder>841</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000213/000213_768x1024-IMG_4744(2)-min.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>