<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b94dd0d-b893-51d5-1598-9ec9ea9cd56a" Alias="000281_1_DSC03456.JPG" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/DSC03456JPG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000281_1_DSC03456.JPG" />
    <SortOrder>1305</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000281/000281_1_DSC03456.JPG",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>