<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed3d4e30-dd6d-065b-1e69-7f8390c0ee1e" Alias="000237_00.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000237_00.jpg" />
    <SortOrder>977</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000237/000237_00.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>