<?xml version="1.0" encoding="utf-8"?>
<Media Key="81c57cf0-5f61-b594-89e4-1adf9eb70884" Alias="000209_768x1024-DSC02669(1).jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/x1024DSC026691Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000209_768x1024-DSC02669(1).jpg" />
    <SortOrder>816</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000209/000209_768x1024-DSC02669(1).jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>