<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4d104a5-fda1-805a-4626-7af2eac08fb6" Alias="000281_6_DSC03484.JPG" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/DSC03484JPG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000281_6_DSC03484.JPG" />
    <SortOrder>1310</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000281/000281_6_DSC03484.JPG",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>