<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba72f5f6-f971-c418-6389-46fd74c2a9df" Alias="000215_IMG_5069(1)-min.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/IMG_50691Minjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000215_IMG_5069(1)-min.jpg" />
    <SortOrder>857</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000215/000215_IMG_5069(1)-min.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>