<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0d0c6bf-7967-d901-c47d-67a81ccc3e6f" Alias="000215_IMG_4913(2)-min.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/IMG_49132Minjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:24</CreateDate>
    <NodeName Default="000215_IMG_4913(2)-min.jpg" />
    <SortOrder>852</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000215/000215_IMG_4913(2)-min.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>