<?xml version="1.0" encoding="utf-8"?>
<Media Key="758bbfe0-6d4f-1f53-def0-bab0a2967d95" Alias="000308_2.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:25</CreateDate>
    <NodeName Default="000308_2.jpg" />
    <SortOrder>1492</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000308/000308_2.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>