<?xml version="1.0" encoding="utf-8"?>
<Media Key="521984fd-bb28-2921-6895-38fde6b420fb" Alias="000315_13.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:25</CreateDate>
    <NodeName Default="000315_13.jpg" />
    <SortOrder>1557</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000315/000315_13.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>