<?xml version="1.0" encoding="utf-8"?>
<Media Key="b93dc07f-c3e5-a34d-8e00-564c77a5564b" Alias="000303_1.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:25</CreateDate>
    <NodeName Default="000303_1.jpg" />
    <SortOrder>1449</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000303/000303_1.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>