<?xml version="1.0" encoding="utf-8"?>
<Media Key="29e00845-1b28-cf18-0775-7b0097b8e6fb" Alias="000320_6.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:25</CreateDate>
    <NodeName Default="000320_6.jpg" />
    <SortOrder>1610</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000320/000320_6.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>