<?xml version="1.0" encoding="utf-8"?>
<Media Key="e29ab17d-e29b-d092-f319-9370595d3621" Alias="000318_7.jpg" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-20T21:13:25</CreateDate>
    <NodeName Default="000318_7.jpg" />
    <SortOrder>1591</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/000318/000318_7.jpg",
  "focalPoint": null,
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>