<?xml version="1.0" encoding="utf-8"?>
<Media Key="a418c944-71e7-4422-b588-b9719ad4436d" Alias="001" Level="3">
  <Info>
    <Parent Key="0f571765-21c2-4030-94e2-65b9ba52ed3a">Клинкер и декоративный камень</Parent>
    <Path>/Sistemy/KlinkerIDekorativnyiKamen/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T17:56:56</CreateDate>
    <NodeName Default="001" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ilebrjhh/001.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>