<?xml version="1.0" encoding="utf-8"?>
<Media Key="518442c0-0b04-4361-8850-47921110d964" Alias="004" Level="3">
  <Info>
    <Parent Key="0f571765-21c2-4030-94e2-65b9ba52ed3a">Клинкер и декоративный камень</Parent>
    <Path>/Sistemy/KlinkerIDekorativnyiKamen/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T17:56:56</CreateDate>
    <NodeName Default="004" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yzbiiuie/004.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>