<?xml version="1.0" encoding="utf-8"?>
<Media Key="a847282d-316b-4091-b6ee-33ed3f27f6f5" Alias="005" Level="3">
  <Info>
    <Parent Key="0f571765-21c2-4030-94e2-65b9ba52ed3a">Клинкер и декоративный камень</Parent>
    <Path>/Sistemy/KlinkerIDekorativnyiKamen/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T17:56:55</CreateDate>
    <NodeName Default="005" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fmuepkdl/005.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>