<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8af1bfe-fed9-412c-9323-d19791ef9df3" Alias="03F953cfdbc10495d7785bc68ad6ad8c241168a1" Level="3">
  <Info>
    <Parent Key="f927e902-40b4-4384-a8bc-d3174071da1d">Системы общие картинки</Parent>
    <Path>/Sistemy/SistemyObschieKartinki/F953cfdbc10495d7785bc68ad6ad8c241168a1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T17:44:24</CreateDate>
    <NodeName Default="03F953cfdbc10495d7785bc68ad6ad8c241168a1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5anl5kgz/03f953cfdbc10495d7785bc68ad6ad8c241168a1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>