<?xml version="1.0" encoding="utf-8"?>
<Media Key="39f0793b-dadd-45a4-98d1-75077711621b" Alias="1 R 300" Level="3">
  <Info>
    <Parent Key="b23e2683-a028-4f9f-98ce-9066ea8f0224">Керамогранит (видимое крепление)</Parent>
    <Path>/Sistemy/KeramogranitVidimoeKreplenie/R300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T18:12:16</CreateDate>
    <NodeName Default="1 R 300" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hv2paoo3/1_r-300.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>