<?xml version="1.0" encoding="utf-8"?>
<Media Key="627b7999-9907-41a3-8d2e-d9f32edb5f02" Alias="1 R 500" Level="3">
  <Info>
    <Parent Key="0f571765-21c2-4030-94e2-65b9ba52ed3a">Клинкер и декоративный камень</Parent>
    <Path>/Sistemy/KlinkerIDekorativnyiKamen/R500</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T17:56:57</CreateDate>
    <NodeName Default="1 R 500" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t32hwyqh/1_r-500.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>