<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac1b2cfe-cc9a-40b1-8c2e-35c912902280" Alias="100 2" Level="4">
  <Info>
    <Parent Key="bb8e469c-18fe-4e6b-865b-29dd9ae04d8b">Ронсон 100</Parent>
    <Path>/Sistemy/TekhnicheskayaDokumentatsiya/Ronson100/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-17T10:40:16</CreateDate>
    <NodeName Default="100 2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5awbxle0/100-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>