<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bb3ac8c-32cc-4210-9329-7c24e9ece49e" Alias="100 1" Level="4">
  <Info>
    <Parent Key="bb8e469c-18fe-4e6b-865b-29dd9ae04d8b">Ронсон 100</Parent>
    <Path>/Sistemy/TekhnicheskayaDokumentatsiya/Ronson100/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-17T10:40:16</CreateDate>
    <NodeName Default="100 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rkwlhg4m/100-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>