<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6a50be3-9398-48b0-a4a6-54d7710a1fc1" Alias="2 R 500" Level="3">
  <Info>
    <Parent Key="0f571765-21c2-4030-94e2-65b9ba52ed3a">Клинкер и декоративный камень</Parent>
    <Path>/Sistemy/KlinkerIDekorativnyiKamen/R500</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T17:56:56</CreateDate>
    <NodeName Default="2 R 500" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2ufllruy/2_r-500.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>