<?xml version="1.0" encoding="utf-8"?>
<Media Key="e216bd5b-cc37-44bb-9f06-e7369609b360" Alias="2 R 300" Level="3">
  <Info>
    <Parent Key="b23e2683-a028-4f9f-98ce-9066ea8f0224">Керамогранит (видимое крепление)</Parent>
    <Path>/Sistemy/KeramogranitVidimoeKreplenie/R300</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T18:12:15</CreateDate>
    <NodeName Default="2 R 300" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lw4bnyrx/2_r-300.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>