<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3cc8c9e-1583-4c85-8f6a-f6d01ed0b29d" Alias="2Cdf7e3d32ef90443de78f0ebba5534dc5f20059" Level="3">
  <Info>
    <Parent Key="f927e902-40b4-4384-a8bc-d3174071da1d">Системы общие картинки</Parent>
    <Path>/Sistemy/SistemyObschieKartinki/Cdf7e3d32ef90443de78f0ebba5534dc5f20059</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T17:44:24</CreateDate>
    <NodeName Default="2Cdf7e3d32ef90443de78f0ebba5534dc5f20059" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tcgmzi2d/2cdf7e3d32ef90443de78f0ebba5534dc5f20059.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>