<?xml version="1.0" encoding="utf-8"?>
<Media Key="934bad7c-76f6-4338-b164-2c2999b65b4c" Alias="3 4" Level="3">
  <Info>
    <Parent Key="d8257dbb-bb33-4c1e-8ee0-4055cd6cf5b4">Плитка на затирке</Parent>
    <Path>/Sistemy/PlitkaNaZatirke/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-15T16:27:25</CreateDate>
    <NodeName Default="3 4" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pkwfxe5w/3_4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>