<?xml version="1.0" encoding="utf-8"?>
<Media Key="5efb3e78-e625-4dab-92c9-5ccb206a6cf7" Alias="3 R 400" Level="3">
  <Info>
    <Parent Key="934327cb-f8d2-4e0c-999c-b645510e9f3e">Керамогранит (скрытое крепление)</Parent>
    <Path>/Sistemy/KeramogranitSkrytoeKreplenie/R400</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-28T17:27:27</CreateDate>
    <NodeName Default="3 R 400" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/py5pwxrf/3_r-400.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>