<?xml version="1.0" encoding="utf-8"?>
<Media Key="127ba910-5794-4efb-b913-e89a080cbe4e" Alias="3 R 300 (1)" Level="3">
  <Info>
    <Parent Key="b23e2683-a028-4f9f-98ce-9066ea8f0224">Керамогранит (видимое крепление)</Parent>
    <Path>/Sistemy/KeramogranitVidimoeKreplenie/R3001</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T18:12:15</CreateDate>
    <NodeName Default="3 R 300 (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c0uhweuu/3_r-300-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>