<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee35b08c-1a49-484b-b191-c4ae96d1989d" Alias="4 R 300 (1)" Level="3">
  <Info>
    <Parent Key="b23e2683-a028-4f9f-98ce-9066ea8f0224">Керамогранит (видимое крепление)</Parent>
    <Path>/Sistemy/KeramogranitVidimoeKreplenie/R3001</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T18:12:15</CreateDate>
    <NodeName Default="4 R 300 (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rkydl1sj/4_r-300-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>