<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb145446-0e2e-43b0-919e-df2f3369ee13" Alias="4 Sesmi" Level="4">
  <Info>
    <Parent Key="bb8e469c-18fe-4e6b-865b-29dd9ae04d8b">Ронсон 100</Parent>
    <Path>/Sistemy/TekhnicheskayaDokumentatsiya/Ronson100/Sesmi</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-17T10:40:17</CreateDate>
    <NodeName Default="4 Sesmi" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ibkbj4zo/4_sesmi.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>