<?xml version="1.0" encoding="utf-8"?>
<Media Key="9838b460-4420-4219-be5b-fd30c67d0563" Alias="6Dc4084b927d0ac5f768d668eb5afe2a6632fb09" Level="3">
  <Info>
    <Parent Key="f927e902-40b4-4384-a8bc-d3174071da1d">Системы общие картинки</Parent>
    <Path>/Sistemy/SistemyObschieKartinki/Dc4084b927d0ac5f768d668eb5afe2a6632fb09</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T17:44:23</CreateDate>
    <NodeName Default="6Dc4084b927d0ac5f768d668eb5afe2a6632fb09" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m00drgba/6dc4084b927d0ac5f768d668eb5afe2a6632fb09.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>