<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdc7b4c0-625e-442a-aedf-9d1556f8917b" Alias="Hr B05" Level="3">
  <Info>
    <Parent Key="90bec49c-8f6d-4d3e-ad9f-d1c8bc9b12fa">Вентфасад для загородного дома</Parent>
    <Path>/Sistemy/VentfasadDlyaZagorodnogoDoma/HrB05</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:46:28</CreateDate>
    <NodeName Default="Hr B05" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y00mp5k4/hr_b05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>