<?xml version="1.0" encoding="utf-8"?>
<Media Key="e425ca16-7a65-49e8-ab24-d098ec508b39" Alias="Hr B06" Level="3">
  <Info>
    <Parent Key="90bec49c-8f6d-4d3e-ad9f-d1c8bc9b12fa">Вентфасад для загородного дома</Parent>
    <Path>/Sistemy/VentfasadDlyaZagorodnogoDoma/HrB06</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:46:28</CreateDate>
    <NodeName Default="Hr B06" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cdfclzdf/hr_b06.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>