<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5556a35-8833-4885-bf68-8643cd84db2d" Alias="Hr B07" Level="3">
  <Info>
    <Parent Key="90bec49c-8f6d-4d3e-ad9f-d1c8bc9b12fa">Вентфасад для загородного дома</Parent>
    <Path>/Sistemy/VentfasadDlyaZagorodnogoDoma/HrB07</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:46:28</CreateDate>
    <NodeName Default="Hr B07" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gnvflnjt/hr_b07.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>