<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4446592-a844-4ab9-96b7-14efb4235d38" Alias="Hr B03" Level="3">
  <Info>
    <Parent Key="90bec49c-8f6d-4d3e-ad9f-d1c8bc9b12fa">Вентфасад для загородного дома</Parent>
    <Path>/Sistemy/VentfasadDlyaZagorodnogoDoma/HrB03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:46:27</CreateDate>
    <NodeName Default="Hr B03" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/srsfjzce/hr_b03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>