<?xml version="1.0" encoding="utf-8"?>
<Media Key="96302b36-7065-463b-b533-6cb0da88463c" Alias="Hr B02" Level="3">
  <Info>
    <Parent Key="90bec49c-8f6d-4d3e-ad9f-d1c8bc9b12fa">Вентфасад для загородного дома</Parent>
    <Path>/Sistemy/VentfasadDlyaZagorodnogoDoma/HrB02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:46:26</CreateDate>
    <NodeName Default="Hr B02" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gavdbftf/hr_b02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>