<?xml version="1.0" encoding="utf-8"?>
<Media Key="8456c763-9ebc-4361-ad2f-68744c477d01" Alias="I11" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/I11</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:16</CreateDate>
    <NodeName Default="I11" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kldfnbf2/i11.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>