<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a167b0c-9e6e-468f-beec-62642791ffa5" Alias="I22" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/I22</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:13</CreateDate>
    <NodeName Default="I22" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hv3bmgto/i22.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>