<?xml version="1.0" encoding="utf-8"?>
<Media Key="4df43b35-58f6-4ffb-b9b6-bc3ec43c4328" Alias="Icon Door 42" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconDoor42</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:16</CreateDate>
    <NodeName Default="Icon Door 42" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aq3pitpw/icon-door-42.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>