<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5e05a2c-0851-489a-8659-8121a5c6aee2" Alias="Icon Telegram 24" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconTelegram24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:58:12</CreateDate>
    <NodeName Default="Icon Telegram 24" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dvnobzkr/icon-telegram-24.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>