<?xml version="1.0" encoding="utf-8"?>
<Media Key="d291d788-caff-4f0f-a862-0cedaf15b2d8" Alias="Icon Youtube 24" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconYoutube24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:58:21</CreateDate>
    <NodeName Default="Icon Youtube 24" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xhljdux5/icon-youtube-24.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>