<?xml version="1.0" encoding="utf-8"?>
<Media Key="989c0f58-3e1f-46e3-9b70-f6dc1bd7e632" Alias="Icon Arrow 20" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconArrow20</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:51</CreateDate>
    <NodeName Default="Icon Arrow 20" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nehjzga5/icon-arrow-20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>