<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4a7b9d0-4255-437b-b9ba-4de5c27c4304" Alias="Icon Location 24" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconLocation24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:39</CreateDate>
    <NodeName Default="Icon Location 24" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2g2lpvcv/icon-location-24.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>