<?xml version="1.0" encoding="utf-8"?>
<Media Key="9db452ff-c06b-48e2-956d-c1a6e9888d60" Alias="Icon Arrow 24" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconArrow24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:54</CreateDate>
    <NodeName Default="Icon Arrow 24" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zzjljhll/icon-arrow-24.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>