<?xml version="1.0" encoding="utf-8"?>
<Media Key="93a14537-2acf-4042-a263-12cb2cbceac3" Alias="Icon Modal 20" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconModal20</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:51</CreateDate>
    <NodeName Default="Icon Modal 20" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/azclde4p/icon-modal-20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>