<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0be3749-8c3a-482f-88f8-8c7377c9e02f" Alias="Icon Close 20" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconClose20</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:03</CreateDate>
    <NodeName Default="Icon Close 20" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pa1l32b0/icon-close-20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>