<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f1505dd-66b3-41cd-9764-c6ccc891e527" Alias="Icon Open 32" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconOpen32</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:53</CreateDate>
    <NodeName Default="Icon Open 32" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3qcbkt3t/icon-open-32.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>