<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5f291f8-01c3-4534-8b7a-e84783adf414" Alias="Icon Filter 20" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconFilter20</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:24</CreateDate>
    <NodeName Default="Icon Filter 20" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zgipfvod/icon-filter-20.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>