<?xml version="1.0" encoding="utf-8"?>
<Media Key="20b32bfe-85a5-454d-a030-3634d3280a93" Alias="Icon Scale 42" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconScale42</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:58:00</CreateDate>
    <NodeName Default="Icon Scale 42" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z2vlgiff/icon-scale-42.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>