<?xml version="1.0" encoding="utf-8"?>
<Media Key="96194110-0366-4406-9153-53d97a4bf17d" Alias="Icon Filter 32" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconFilter32</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:27</CreateDate>
    <NodeName Default="Icon Filter 32" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/efabtftg/icon-filter-32.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>