<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dada7a6-ee33-48b4-b5c3-c0d4cde32532" Alias="Icon Clock 24" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconClock24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:01</CreateDate>
    <NodeName Default="Icon Clock 24" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s4tl0pjt/icon-clock-24.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>