<?xml version="1.0" encoding="utf-8"?>
<Media Key="f605345f-687d-453f-a67f-6d82261fa143" Alias="Icon Location 32" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconLocation32</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:42</CreateDate>
    <NodeName Default="Icon Location 32" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ny0al3t3/icon-location-32.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>