<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6375a75-d7ae-4e70-aa18-58a905e52a30" Alias="Icon Rutube 24" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconRutube24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:57</CreateDate>
    <NodeName Default="Icon Rutube 24" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/irndp3vo/icon-rutube-24.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>