<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7e1534c-9474-412f-a8e8-dd0aedca46d7" Alias="Icon Email 24" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconEmail24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:20</CreateDate>
    <NodeName Default="Icon Email 24" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pvjpd31u/icon-email-24.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>