<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b8d9ef5-f2a8-4ab3-92e0-865fbdd96bab" Alias="Icon Close 32" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconClose32</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:06</CreateDate>
    <NodeName Default="Icon Close 32" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yspi0s3i/icon-close-32.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>