<?xml version="1.0" encoding="utf-8"?>
<Media Key="a810a72d-0e38-4065-be67-e72a651be97d" Alias="Icon Expand 42" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/IconExpand42</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:57:22</CreateDate>
    <NodeName Default="Icon Expand 42" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dstbbkby/icon-expand-42.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>