<?xml version="1.0" encoding="utf-8"?>
<Media Key="3311c78e-72da-46e0-942b-6bc176cb8d40" Alias="Logo" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:38</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x5dbcm40/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>