<?xml version="1.0" encoding="utf-8"?>
<Media Key="14c57333-09c9-46d1-b267-c316409a6581" Alias="Mapclaster" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Mapclaster</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:26</CreateDate>
    <NodeName Default="Mapclaster" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ajznkfgj/mapclaster.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>