<?xml version="1.0" encoding="utf-8"?>
<Media Key="62c627c6-ff7b-4dae-b7d1-3fb0879b21b0" Alias="Object1" Level="2">
  <Info>
    <Parent Key="696c5b71-e2ba-46c3-bb47-106815aa60bc">Жилые Объекты</Parent>
    <Path>/ZhilyeObekty/Object1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-21T19:33:04</CreateDate>
    <NodeName Default="Object1" />
    <SortOrder>1643</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yatnmyt1/object1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>