<?xml version="1.0" encoding="utf-8"?>
<Media Key="6671bea9-c36d-4084-ab29-ea6a09c039fa" Alias="Plnazatirke" Level="3">
  <Info>
    <Parent Key="d8257dbb-bb33-4c1e-8ee0-4055cd6cf5b4">Плитка на затирке</Parent>
    <Path>/Sistemy/PlitkaNaZatirke/Plnazatirke</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-15T16:24:14</CreateDate>
    <NodeName Default="Plnazatirke" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v45hcztn/plnazatirke.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>