<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4590b3f-06a8-4f51-b7da-933d32dde38c" Alias="Plusadd" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Plusadd</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:55:34</CreateDate>
    <NodeName Default="Plusadd" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/byfftjfi/plusadd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>