<?xml version="1.0" encoding="utf-8"?>
<Media Key="6043d717-c092-49d2-859d-f024b177712a" Alias="Pr2" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Pr2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:03</CreateDate>
    <NodeName Default="Pr2" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e1lfgyes/pr2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>