<?xml version="1.0" encoding="utf-8"?>
<Media Key="2912553c-dba4-4f68-b03c-a78a01c0b9f0" Alias="Pr4" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Pr4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:55:57</CreateDate>
    <NodeName Default="Pr4" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bvkbekne/pr4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>