<?xml version="1.0" encoding="utf-8"?>
<Media Key="c20efbe7-ac67-4c97-98a1-263691c24873" Alias="Pr6" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Pr6</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:55:46</CreateDate>
    <NodeName Default="Pr6" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/013b3qth/pr6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>