<?xml version="1.0" encoding="utf-8"?>
<Media Key="e87f2cb0-7030-4ce7-aef1-7b28bf011bc9" Alias="Pr8" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Pr8</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:55:37</CreateDate>
    <NodeName Default="Pr8" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qewh50bq/pr8.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>