<?xml version="1.0" encoding="utf-8"?>
<Media Key="42fec790-8766-419c-9656-0f77bcd05e1d" Alias="Pr9" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Pr9</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:55:51</CreateDate>
    <NodeName Default="Pr9" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uhdp2qtg/pr9.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>