<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3c9b737-0ee2-46c5-88e6-8d33cd88cbdf" Alias="Recke4" Level="3">
  <Info>
    <Parent Key="7f842dec-b08e-4395-9ae1-51c40f70a783">Кирпич Ронсон</Parent>
    <Path>/Sistemy/KirpichRonson/Recke4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T12:23:19</CreateDate>
    <NodeName Default="Recke4" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gg1ntu5c/recke4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>