<?xml version="1.0" encoding="utf-8"?>
<Media Key="947597c4-a24c-4538-9310-9d32288d2b65" Alias="Recke3" Level="3">
  <Info>
    <Parent Key="7f842dec-b08e-4395-9ae1-51c40f70a783">Кирпич Ронсон</Parent>
    <Path>/Sistemy/KirpichRonson/Recke3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T12:23:19</CreateDate>
    <NodeName Default="Recke3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yklhlfcm/recke3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>