<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2436043-2e30-4186-903b-aa169f07aa5a" Alias="Recke (1)" Level="3">
  <Info>
    <Parent Key="7f842dec-b08e-4395-9ae1-51c40f70a783">Кирпич Ронсон</Parent>
    <Path>/Sistemy/KirpichRonson/Recke1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T12:23:19</CreateDate>
    <NodeName Default="Recke (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ivqehyrq/recke-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>