<?xml version="1.0" encoding="utf-8"?>
<Media Key="5689d365-7510-4bb3-a2ae-42fcad372acc" Alias="Ronson 100 Fibro" Level="3">
  <Info>
    <Parent Key="fc22e382-1590-4e8e-bac0-5bc6f0aa0cf6">Листовые материалы</Parent>
    <Path>/Sistemy/ListovyeMaterialy/Ronson100Fibro</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:32:11</CreateDate>
    <NodeName Default="Ronson 100 Fibro" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mpjjsvqq/ronson-100_fibro.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>