<?xml version="1.0" encoding="utf-8"?>
<Media Key="52c8b6ac-4870-46fe-920d-f1574b74db91" Alias="Ronson 100 Kmew" Level="3">
  <Info>
    <Parent Key="4b08f45a-8be6-44dc-82bf-ac1e8dcd602e">Плиты KMEW</Parent>
    <Path>/Sistemy/PlityKMEW/Ronson100Kmew</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:35:15</CreateDate>
    <NodeName Default="Ronson 100 Kmew" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vk1mqutq/ronson-100_kmew.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>