<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9003cd7-cd93-4cd0-9e7a-15194601df89" Alias="Ronson 400 Natur Stone" Level="3">
  <Info>
    <Parent Key="35967035-c834-4013-b2aa-c938bb2a3945">Натуральный камень</Parent>
    <Path>/Sistemy/NaturalnyiKamen/Ronson400NaturStone</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:00:01</CreateDate>
    <NodeName Default="Ronson 400 Natur Stone" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0e4abwmt/ronson-400_natur_stone.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>