<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c594b23-a984-42d4-9ac2-31f3137517c5" Alias="Ronson 200 Alumokompozit" Level="3">
  <Info>
    <Parent Key="0665283d-6747-4e62-9fac-dc52c5aed6e4">Кассеты из композита и стали</Parent>
    <Path>/Sistemy/KassetyIzKompozitaIStali/Ronson200Alumokompozit</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:26:51</CreateDate>
    <NodeName Default="Ronson 200 Alumokompozit" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/evffspee/ronson-200_alumokompozit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>