<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b30cc7a-dd0a-4aea-a9a8-2e19d3653b65" Alias="Ronson 400 Natur Stone2" Level="3">
  <Info>
    <Parent Key="d11334fe-4a78-4999-b30c-9dff72b37902">Натуральный камень с рустами</Parent>
    <Path>/Sistemy/NaturalnyiKamenSRustami/Ronson400NaturStone2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:05:52</CreateDate>
    <NodeName Default="Ronson 400 Natur Stone2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ptgdbcyk/ronson-400_natur_stone2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>