<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ad0c077-4191-43fa-a519-6866958f2299" Alias="Search" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:42</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i1anaour/search.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>