<?xml version="1.0" encoding="utf-8"?>
<Media Key="66806aa7-4861-4c78-b8e2-479a8587a660" Alias="Smalllogo" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Smalllogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:33</CreateDate>
    <NodeName Default="Smalllogo" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/szviaztb/smalllogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>