<?xml version="1.0" encoding="utf-8"?>
<Media Key="da6a6385-10a8-4998-a7e8-97ca0f2006f5" Alias="Stalkompozit" Level="3">
  <Info>
    <Parent Key="71adb13b-080f-4e2e-b9bc-ad0f5320bac1">Листовой стальной композит</Parent>
    <Path>/Sistemy/ListovoiStalnoiKompozit/Stalkompozit</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:19:41</CreateDate>
    <NodeName Default="Stalkompozit" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qnrhvwvi/stalkompozit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>