<?xml version="1.0" encoding="utf-8"?>
<Media Key="a363eeff-62dd-4691-be20-ebb4dcb9a0b8" Alias="Stkmpzt 5" Level="3">
  <Info>
    <Parent Key="71adb13b-080f-4e2e-b9bc-ad0f5320bac1">Листовой стальной композит</Parent>
    <Path>/Sistemy/ListovoiStalnoiKompozit/Stkmpzt5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:19:40</CreateDate>
    <NodeName Default="Stkmpzt 5" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5hxghi43/stkmpzt_5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>