<?xml version="1.0" encoding="utf-8"?>
<Media Key="9008fa2e-65fd-4216-bfdc-3555058007d2" Alias="Stkmpzt 1" Level="3">
  <Info>
    <Parent Key="71adb13b-080f-4e2e-b9bc-ad0f5320bac1">Листовой стальной композит</Parent>
    <Path>/Sistemy/ListovoiStalnoiKompozit/Stkmpzt1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:19:40</CreateDate>
    <NodeName Default="Stkmpzt 1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fd3areh3/stkmpzt_1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>