<?xml version="1.0" encoding="utf-8"?>
<Media Key="608ce357-fc70-4dfa-9e8e-fe1260304cc6" Alias="Stkmpzt 2" Level="3">
  <Info>
    <Parent Key="71adb13b-080f-4e2e-b9bc-ad0f5320bac1">Листовой стальной композит</Parent>
    <Path>/Sistemy/ListovoiStalnoiKompozit/Stkmpzt2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T19:19:40</CreateDate>
    <NodeName Default="Stkmpzt 2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/khrjyydq/stkmpzt_2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>