<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d5c86fb-c09f-44a8-8437-772a18b509e2" Alias="System Big" Level="3">
  <Info>
    <Parent Key="934327cb-f8d2-4e0c-999c-b645510e9f3e">Керамогранит (скрытое крепление)</Parent>
    <Path>/Sistemy/KeramogranitSkrytoeKreplenie/SystemBig</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-27T22:39:30</CreateDate>
    <NodeName Default="System Big" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5wdfyxm5/system_big.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>