<?xml version="1.0" encoding="utf-8"?>
<Media Key="7edf699e-978d-4ce6-980d-bf32ff49728f" Alias="U1" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/U1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:19</CreateDate>
    <NodeName Default="U1" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v3un45un/u1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>