<?xml version="1.0" encoding="utf-8"?>
<Media Key="dafdeb42-8a08-4d89-9b39-d62b53aa1eaf" Alias="U2" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/U2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:18</CreateDate>
    <NodeName Default="U2" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/opvp1wqi/u2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>