<?xml version="1.0" encoding="utf-8"?>
<Media Key="a39a0839-9680-45fe-9b38-5b47795479d0" Alias="Zoom" Level="2">
  <Info>
    <Parent Key="73f3bd02-9131-48ff-8721-d7844ae92508">Иконки</Parent>
    <Path>/Ikonki/Zoom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-28T13:56:08</CreateDate>
    <NodeName Default="Zoom" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/baejvi2a/zoom.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>