<?xml version="1.0" encoding="utf-8"?>
<Media Key="90bec49c-8f6d-4d3e-ad9f-d1c8bc9b12fa" Alias="Вентфасад для загородного дома" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/VentfasadDlyaZagorodnogoDoma</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T19:38:44</CreateDate>
    <NodeName Default="Вентфасад для загородного дома" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>