<?xml version="1.0" encoding="utf-8"?>
<Media Key="696c5b71-e2ba-46c3-bb47-106815aa60bc" Alias="Жилые Объекты" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ZhilyeObekty</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-20T20:53:31</CreateDate>
    <NodeName Default="Жилые Объекты" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>