<?xml version="1.0" encoding="utf-8"?>
<Media Key="73f3bd02-9131-48ff-8721-d7844ae92508" Alias="Иконки" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ikonki</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-28T13:55:24</CreateDate>
    <NodeName Default="Иконки" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>