<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd6f531b-d101-4943-ac0d-025dc12c4978" Alias="Картинки" Level="3">
  <Info>
    <Parent Key="f3be5e13-8323-435e-863c-98a65058ba94">Техническая документация</Parent>
    <Path>/Sistemy/TekhnicheskayaDokumentatsiya/Kartinki</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T20:27:26</CreateDate>
    <NodeName Default="Картинки" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>