<?xml version="1.0" encoding="utf-8"?>
<Media Key="0665283d-6747-4e62-9fac-dc52c5aed6e4" Alias="Кассеты из композита и стали" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/KassetyIzKompozitaIStali</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T19:26:47</CreateDate>
    <NodeName Default="Кассеты из композита и стали" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>