<?xml version="1.0" encoding="utf-8"?>
<Media Key="b23e2683-a028-4f9f-98ce-9066ea8f0224" Alias="Керамогранит (видимое крепление)" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/KeramogranitVidimoeKreplenie</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T18:11:23</CreateDate>
    <NodeName Default="Керамогранит (видимое крепление)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>