<?xml version="1.0" encoding="utf-8"?>
<Media Key="d53013a6-0e0d-4b97-a49f-30a1b289948f" Alias="Керамогранит (точечное крепление)" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/KeramogranitTochechnoeKreplenie</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T18:08:42</CreateDate>
    <NodeName Default="Керамогранит (точечное крепление)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>