<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f842dec-b08e-4395-9ae1-51c40f70a783" Alias="Кирпич Ронсон" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/KirpichRonson</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T12:22:51</CreateDate>
    <NodeName Default="Кирпич Ронсон" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>