<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f571765-21c2-4030-94e2-65b9ba52ed3a" Alias="Клинкер и декоративный камень" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/KlinkerIDekorativnyiKamen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T17:56:49</CreateDate>
    <NodeName Default="Клинкер и декоративный камень" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>