<?xml version="1.0" encoding="utf-8"?>
<Media Key="71adb13b-080f-4e2e-b9bc-ad0f5320bac1" Alias="Листовой стальной композит" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/ListovoiStalnoiKompozit</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T19:18:45</CreateDate>
    <NodeName Default="Листовой стальной композит" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>