<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc22e382-1590-4e8e-bac0-5bc6f0aa0cf6" Alias="Листовые материалы" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/ListovyeMaterialy</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T19:31:29</CreateDate>
    <NodeName Default="Листовые материалы" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>