<?xml version="1.0" encoding="utf-8"?>
<Media Key="35967035-c834-4013-b2aa-c938bb2a3945" Alias="Натуральный камень" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/NaturalnyiKamen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T18:59:42</CreateDate>
    <NodeName Default="Натуральный камень" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>