<?xml version="1.0" encoding="utf-8"?>
<Media Key="d11334fe-4a78-4999-b30c-9dff72b37902" Alias="Натуральный камень с рустами" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/NaturalnyiKamenSRustami</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T19:05:32</CreateDate>
    <NodeName Default="Натуральный камень с рустами" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>