<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b08f45a-8be6-44dc-82bf-ac1e8dcd602e" Alias="Плиты KMEW" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/PlityKMEW</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T19:34:45</CreateDate>
    <NodeName Default="Плиты KMEW" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>