<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebe6db75-419f-48e4-993e-ca9c92ec5bab" Alias="Р 100" Level="4">
  <Info>
    <Parent Key="fd6f531b-d101-4943-ac0d-025dc12c4978">Картинки</Parent>
    <Path>/Sistemy/TekhnicheskayaDokumentatsiya/Kartinki/R</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T20:27:39</CreateDate>
    <NodeName Default="Р 100" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/opnpn025/р-100.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>