<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ab82e8e-65d1-4b8a-b260-12dc5b96a3e0" Alias="Р 400" Level="4">
  <Info>
    <Parent Key="fd6f531b-d101-4943-ac0d-025dc12c4978">Картинки</Parent>
    <Path>/Sistemy/TekhnicheskayaDokumentatsiya/Kartinki/R</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-16T20:27:40</CreateDate>
    <NodeName Default="Р 400" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/raxlqwwr/р-400.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>