<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb8e469c-18fe-4e6b-865b-29dd9ae04d8b" Alias="Ронсон 100" Level="3">
  <Info>
    <Parent Key="f3be5e13-8323-435e-863c-98a65058ba94">Техническая документация</Parent>
    <Path>/Sistemy/TekhnicheskayaDokumentatsiya/Ronson100</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-17T10:40:04</CreateDate>
    <NodeName Default="Ронсон 100" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>