<?xml version="1.0" encoding="utf-8"?>
<Media Key="f927e902-40b4-4384-a8bc-d3174071da1d" Alias="Системы общие картинки" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/SistemyObschieKartinki</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T17:44:12</CreateDate>
    <NodeName Default="Системы общие картинки" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>