<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3be5e13-8323-435e-863c-98a65058ba94" Alias="Техническая документация" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/TekhnicheskayaDokumentatsiya</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T20:27:05</CreateDate>
    <NodeName Default="Техническая документация" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>