<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a0b20a4-0cf8-43a8-b6c3-941652d2ec98" Alias="Терракота" Level="2">
  <Info>
    <Parent Key="bf3026f1-bc30-4049-9ccc-af52d9a594dd">Системы</Parent>
    <Path>/Sistemy/Terrakota</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-16T19:10:31</CreateDate>
    <NodeName Default="Терракота" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>