<?xml version="1.0" encoding="utf-8"?>
<Content Key="d443b3e6-cd85-4b69-a6f1-4e74b622b71a" Alias="1 сентября – День Знаний!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/sentyabryaDenZnanii</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="1 сентября – День Знаний!" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Поздравляем с началом нового учебного года!</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2021-09-01T13:53:19]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[1 сентября – День Знаний!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Поздравляем учеников, родителей и учителей с началом нового учебного года!</p><p>&nbsp;</p><p>Мы гордимся, что среди наших многочисленных объектов есть образовательные учреждения. С одним из них хотим сегодня вас познакомить!</p><p>&nbsp;</p><p>Это Международная школа креативных технологий <a href="https://tumo.moscow" target="_blank">TUMO</a>. Там нет учителей и оценок.</p><p>&nbsp;</p><p>Студенты школы обучаются самостоятельно &mdash; выполняют задания и посещают мастер-классы приглашенных экспертов, а итогом обучения становится портфолио выполненных проектов.</p><p>&nbsp;</p><p>Первые этажи фасада школы выполнены из декоративного камня White Hills.</p>]]></Value>
    </text>
  </Properties>
</Content>