<?xml version="1.0" encoding="utf-8"?>
<Content Key="69e217ae-3450-4e4b-ba4d-a2b9b875064f" Alias="13 августа 2017 года - День СТРОИТЕЛЯ" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/avgusta2017GodaDenSTROITELYa</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="13 августа 2017 года - День СТРОИТЕЛЯ" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Примите наши самые искренние поздравления!</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2017-08-05T13:19:32]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[13 августа 2017 года - День СТРОИТЕЛЯ]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p><img alt="" src="/netcat_files/userfiles/news/stroitel_den.jpg" style="width: 700px; height: 522px;" /></p>]]></Value>
    </text>
  </Properties>
</Content>