<?xml version="1.0" encoding="utf-8"?>
<Content Key="321a83e3-96df-44e4-b4b7-88227bb62d5e" Alias="7 октября 2019 года - Всемирный ДЕНЬ АРХИТЕКТУРЫ" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/oktyabrya2019GodaVsemirnyiDENARKhITEKTURY</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="7 октября 2019 года - Всемирный ДЕНЬ АРХИТЕКТУРЫ" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Компания РОНСОН от всей души поздравляет Вас с этим замечательным Праздником!</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2019-10-07T13:27:30]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[7 октября 2019 года - Всемирный ДЕНЬ АРХИТЕКТУРЫ]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Компания РОНСОН от всей души поздравляет Вас со Всемирным ДНЕМ АРХИТЕКТУРЫ. Этот замечательный праздник был учрежден в 1985&nbsp;году Международным союзом архитекторов и отмечается во&nbsp;всем мире в первый понедельник октября.&nbsp;</p><p>&nbsp;</p><p><img alt="" src="/netcat_files/userfiles/news/dstr2019.jpg" style="width: 720px; height: 496px;" /></p><p>&nbsp;</p>]]></Value>
    </text>
  </Properties>
</Content>