<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfbc5043-01dc-4ab4-9f7d-20c46b977454" Alias="8 августа - День Строителя!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/avgustaDenStroitelya</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="8 августа - День Строителя!" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>РОНСОН поздравляет всех Строителей с профессиональным праздником!</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2021-08-05T19:38:21]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[8 августа - День Строителя!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>РОНСОН поздравляет всех Строителей с профессиональным праздником!</p><p><img alt="" src="/netcat_files/userfiles/news/den_stroitelya2021.jpg" style="width: 720px; height: 957px;" /></p>]]></Value>
    </text>
  </Properties>
</Content>