<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae8b50e1-5b90-6b0a-1358-fbf42c4f75f0" Alias="Оздоровительный медико-диагностический центр для детей и взрослых МЕДАССИСТ" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ozdorovitelnyy-mediko-diagnosticheskiy-tsentr-dlya-detey-i-vzroslyh-medassist-511477</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-24T14:34:57</CreateDate>
    <NodeName Default="Оздоровительный медико-диагностический центр для детей и взрослых МЕДАССИСТ" />    <SortOrder>1397</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <objectName>
      <Value><![CDATA[Оздоровительный медико-диагностический центр для детей и взрослых &quot;МЕДАССИСТ&quot;]]></Value>
    </objectName>
    <description>
      <Value><![CDATA[Г. Курск, Ул. Димитрова, Д. 16-16а]]></Value>
    </description>
    <god>
      <Value><![CDATA[2016]]></Value>
    </god>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-200",
  "РОНСОН-300",
  "РОНСОН-400"
]]]></Value>
    </systems>
    <obl>
      <Value><![CDATA[композит., крупноформатный керамогранит, терракота, солнцезащитные ламели из композитного материала]]></Value>
    </obl>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[«Вентилируемые фасады Воронеж»]]></Value>
    </montagepartner>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <ronsonGranit>
      <Value><![CDATA[1]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
  </Properties>
</Content>
