<?xml version="1.0" encoding="utf-8"?>
<Content Key="23065108-ea63-2159-127b-4640e32463ba" Alias="ЖК Остров-1" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/zhk-ostrov-1-e8b8e2</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-24T14:34:57</CreateDate>
    <NodeName Default="ЖК Остров-1" />    <SortOrder>1180</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <objectName>
      <Value><![CDATA[ЖК &quot;Остров-1&quot;]]></Value>
    </objectName>
    <description>
      <Value><![CDATA[Г. Москва, Северо-Западный административный округ, Район Хорошёво-Мнёвники, Ул. Нижние Мнёвники, Уч. 37Б, Корп. 1]]></Value>
    </description>
    <god>
      <Value><![CDATA[2024]]></Value>
    </god>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-400 (3453,6 М2)",
  "РОНСОН-500 (10337,78 М2)",
  "РОНСОН-740"
]]]></Value>
    </systems>
    <obl>
      <Value><![CDATA[крупноформатный керамогранит (скрытое крепление), бетонная плика white hills, кирпич]]></Value>
    </obl>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <ronsonGranit>
      <Value><![CDATA[1]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
  </Properties>
</Content>
