<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bd73e84-a92a-fb52-fa37-b93b596e55ab" Alias="ЖК Пикассо (2 корпуса)" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/zhk-pikasso-2-korpusa-49d48a</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-24T14:34:57</CreateDate>
    <NodeName Default="ЖК Пикассо (2 корпуса)" />    <SortOrder>1362</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <objectName>
      <Value><![CDATA[ЖК &quot;Пикассо&quot; (2 корпуса)]]></Value>
    </objectName>
    <description>
      <Value><![CDATA[Г. Москва, Ул. Озерная, Д. 35, К.2]]></Value>
    </description>
    <god>
      <Value><![CDATA[2018]]></Value>
    </god>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300",
  "РОНСОН-400",
  "РОНСОН-500"
]]]></Value>
    </systems>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление), керамогранит (скрыиое крепление), бетонная плитка white hills]]></Value>
    </obl>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[Мангазея]]></Value>
    </montagepartner>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <ronsonGranit>
      <Value><![CDATA[1]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
  </Properties>
</Content>
