<?xml version="1.0" encoding="utf-8"?>
<Content Key="029f6f54-6817-c16b-2f7d-da7dd9a5bae8" Alias="ЖК Река 1" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/zhk-reka-1-55c70a</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-24T14:34:57</CreateDate>
    <NodeName Default="ЖК Река 1" />    <SortOrder>1171</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <objectName>
      <Value><![CDATA[ЖК &quot;Река 1&quot;]]></Value>
    </objectName>
    <description>
      <Value><![CDATA[Г. Москва, Ул. Сергея Бондарчука, 6]]></Value>
    </description>
    <god>
      <Value><![CDATA[2024]]></Value>
    </god>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-200",
  "РОНСОН-400"
]]]></Value>
    </systems>
    <obl>
      <Value><![CDATA[кассеты из алюмокомпозита, крупноформатный натуральный камень, крупноформатный керамогранит  (скрытое крепление)]]></Value>
    </obl>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <ronsonGranit>
      <Value><![CDATA[1]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
  </Properties>
</Content>
