<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f83b665-dd24-a0dd-c4af-0ea20f0eff0e" Alias="ЖК Пушкино Град" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/zhk-pushkino-grad-0f01b8</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-24T14:34:57</CreateDate>
    <NodeName Default="ЖК Пушкино Град" />    <SortOrder>1029</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <objectName>
      <Value><![CDATA[ЖК &quot;Пушкино Град&quot;]]></Value>
    </objectName>
    <description>
      <Value><![CDATA[«&quot;Многоэтажный жилой комплекс, Состоящий из 3-х жилых домов (I-я очередь строительства, Жилые дома №1, №2, №3 по ППТ), Переменной этажности, Со встроенными нежилыми помещениями на 1-ом этаже, Расположенный по адресу: Московская область, Пушкинский г.о., В районе села Братовщина&quot; в составе жилого комплекса Пушкино Град (&quot;Квартал 2030&quot;)» ул. Полевая, корп. 1-3]]></Value>
    </description>
    <god>
      <Value><![CDATA[2026]]></Value>
    </god>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
    <obl>
      <Value><![CDATA[бетонная плитка декастоун]]></Value>
    </obl>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
  </Properties>
</Content>
