<?xml version="1.0" encoding="utf-8"?>
<Content Key="ecdf04c5-b705-fdad-9aa8-3c4bbf16fe53" Alias="Администрация сосновского района, с. Долгодеревенское" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/AdministratsiyaSosnovskogoRaionaSDolgoderevenskoe</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:32</CreateDate>
    <NodeName Default="Администрация сосновского района, с. Долгодеревенское" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[Челябинская область, Сосновский район, село Долгодеревенское, ул. 50 лет]]></Value>
    </description>
    <god>
      <Value><![CDATA[2008]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "4fdffd29-b13c-485a-8644-d5b992ec7c69",
    "mediaKey": "82d02291-9743-3a65-4c73-db0f52372085"
  },
  {
    "key": "150200cc-f498-4be3-a41d-f1db7f0961c2",
    "mediaKey": "86c7d962-ad6e-b7d7-ef11-93cc9dfb4549"
  },
  {
    "key": "66e7ef61-8cf7-4798-93ea-c4e5b27d1191",
    "mediaKey": "5e2d24b5-6edf-8e4b-587a-209fbe75c0df"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Администрация сосновского района, с. Долгодеревенское]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>