<?xml version="1.0" encoding="utf-8"?>
<Content Key="50282670-ecd8-5810-6bc8-a0d1f24d5828" Alias="Административное здание предприятия «Хетих русс»" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/AdministrativnoeZdaniePredpriyatiyaKhetikhRuss</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:51</CreateDate>
    <NodeName Default="Административное здание предприятия «Хетих русс»" />
    <SortOrder>94</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Железнодорожный]]></Value>
    </description>
    <god>
      <Value><![CDATA[2006]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "a508dff2-f0de-410d-a653-8cdd319dbf6e",
    "mediaKey": "8b26ca6c-b048-02c3-532e-1a22c094531a"
  },
  {
    "key": "83839d49-a3b1-44d5-8556-bfeabdbb854f",
    "mediaKey": "7d17062f-a6cb-3344-3f25-926880b762b8"
  },
  {
    "key": "648412b5-c7f1-4340-9014-2cbd64b423e5",
    "mediaKey": "48740919-809e-b21f-de4f-20a4d6c67099"
  },
  {
    "key": "a5fa0a27-72f0-40ad-80c6-469a0b798155",
    "mediaKey": "ba3944fe-08b1-4c60-7bb1-cd68196602be"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Административное здание предприятия «Хетих русс»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[0]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[]]]></Value>
    </systems>
  </Properties>
</Content>