<?xml version="1.0" encoding="utf-8"?>
<Content Key="54b7414a-24a8-1ce1-448d-7e58ca549c69" Alias="Атлетическая деревня, г. Алматы, Республика Казахстан" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/AtleticheskayaDerevnyaGAlmatyRespublikaKazakhstan</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:11</CreateDate>
    <NodeName Default="Атлетическая деревня, г. Алматы, Республика Казахстан" />
    <SortOrder>167</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Алматы, Алатауский район, по ул. Момышулы севернее пр. Рыскулова.]]></Value>
    </description>
    <god>
      <Value><![CDATA[2016]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "1d1d4b22-daf0-430c-bec3-3450fda6b6a3",
    "mediaKey": "3db19b0e-8cf6-483b-80cd-c54606dc8761"
  },
  {
    "key": "e147a9bc-79b2-41a8-ba7a-c9545fc87cc3",
    "mediaKey": "2eb62f7c-c4d9-32d1-6db1-02dd4fa6428e"
  },
  {
    "key": "06f92c08-481a-4c09-b627-fd1a3ca3eb41",
    "mediaKey": "6c4cc1c0-39f4-21ee-7ae7-98860cf2619f"
  },
  {
    "key": "a82210a8-e350-4c39-8f05-bac29559e934",
    "mediaKey": "4379dee1-34b5-829f-c935-ea8b29fb358d"
  },
  {
    "key": "bf758310-4022-41c8-a1a5-c29ea35ecb9c",
    "mediaKey": "f5b2a68a-0450-9677-fbe2-905c76554d17"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Атлетическая деревня, г. Алматы, Республика Казахстан]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[Rockpanel]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-100"
]]]></Value>
    </systems>
  </Properties>
</Content>