<?xml version="1.0" encoding="utf-8"?>
<Content Key="006b4c85-bf1c-3ebf-a2cf-42821755532e" Alias="Бизнес-центр класса А «DELTA»" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/BiznesTsentrKlassaADELTA</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:11</CreateDate>
    <NodeName Default="Бизнес-центр класса А «DELTA»" />
    <SortOrder>166</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Архангельск, Набережная Северной Двины, 54]]></Value>
    </description>
    <god>
      <Value><![CDATA[2016]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "fac19344-8210-4ddc-9078-3fd4c07120e4",
    "mediaKey": "33d59c32-6f5b-ccb6-fe35-3998f171cd71"
  },
  {
    "key": "f809812d-ea5a-4b94-8cff-415a71772837",
    "mediaKey": "eec52cd3-255f-ee8e-ac20-6bec1d8e053f"
  },
  {
    "key": "1b7d35db-708c-4bc3-b796-e2c286e78a89",
    "mediaKey": "1cc79511-8fb7-b85f-0c53-194ffc61647e"
  },
  {
    "key": "2cfae9f3-8677-4ded-b8c4-d41d27a4e4e4",
    "mediaKey": "59ed48a8-3007-3273-64b2-c1751001242f"
  },
  {
    "key": "aa148e27-dfb4-452d-97f9-71d93c9c8217",
    "mediaKey": "d9f701e3-dd0a-2de4-c727-f4d93a065e1f"
  },
  {
    "key": "dd7acb66-318e-4ae6-b551-6eb5945ff29a",
    "mediaKey": "60f36f25-8560-5d5a-8d5d-1fcff8b80175"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Бизнес-центр класса А «DELTA»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[клинкер, декоративный камень White Hills]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>