<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcbe2ce3-b722-4738-afc7-1ebef79bc9ce" Alias="Велопоход РОНСОН 2021" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/VelopokhodRONSON2021</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Велопоход РОНСОН 2021" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>22-23 мая коллектив РОНСОН прошел дистанцию 70км</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2021-05-24T16:31:30]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Велопоход РОНСОН 2021]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>В прошедшие выходные - 23-24 мая коллектив РОНСОН отправился в велопоход. Наш маршрут начался на станции Тарусская Тульской области и пролегал вдоль реки Ока до г. Серпухов. За два дня мы проехали 70км, съели 25кг шашлыков, пол ночи пели песни под гитару и просто незабываемо провели это время!&nbsp;</p>]]></Value>
    </text>
  </Properties>
</Content>