<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f1311c8-eabc-4395-a068-ac1e99ed290c" Alias="Главная" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Glavnaya</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-08-29T20:06:41</CreateDate>
    <NodeName Default="Главная" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="30ab8948-fb82-47bf-ba59-c5f0fd018448">Glavnaya</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[143969, МО, г. Реутов, Носовихинское шоссе
д. 9А, корпус А.]]></Value>
    </address>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <email>
      <Value><![CDATA[info@ronson-group.ru]]></Value>
    </email>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <phoneMain>
      <Value><![CDATA[+7 (495) 730-35-88]]></Value>
    </phoneMain>
    <phoneSales>
      <Value><![CDATA[+7 (905) 570-30-90]]></Value>
    </phoneSales>
    <siteName>
      <Value><![CDATA[РОНСОН]]></Value>
    </siteName>
    <socialRutube>
      <Value><![CDATA[1]]></Value>
    </socialRutube>
    <socialTelegram>
      <Value><![CDATA[1]]></Value>
    </socialTelegram>
    <socialVk>
      <Value><![CDATA[1]]></Value>
    </socialVk>
    <socialWhatsapp>
      <Value><![CDATA[1]]></Value>
    </socialWhatsapp>
    <socialYoutube>
      <Value><![CDATA[1]]></Value>
    </socialYoutube>
  </Properties>
</Content>