<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7eb1961-146e-6bf5-cea0-92f9014df2c2" Alias="Городской квартал RIVERPARK" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/GorodskoiKvartalRIVERPARK</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:21</CreateDate>
    <NodeName Default="Городской квартал RIVERPARK" />
    <SortOrder>263</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул. Речников, вл. 7, ул. Корабельная, 6]]></Value>
    </description>
    <god>
      <Value><![CDATA[2021]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "cf910f1d-f907-41d2-b6da-29bbccebb030",
    "mediaKey": "b322a844-829a-b2be-433c-9b1a7bc25d35"
  },
  {
    "key": "7098be8f-8259-4864-92bc-66fbc1a77a69",
    "mediaKey": "155b3754-1061-2934-fd2f-cfc97cb2a8d6"
  },
  {
    "key": "efc10e5c-16da-41b6-b140-387c21b3fa7a",
    "mediaKey": "969a8771-0d7a-0458-0924-6a38ead15804"
  },
  {
    "key": "50ceb705-8a17-4154-9735-946854974e31",
    "mediaKey": "0d651eb3-275d-049d-484b-e291d8ed0824"
  },
  {
    "key": "f6bbdab0-d40b-47b4-86a4-ba780f68261c",
    "mediaKey": "2d5bcbab-823d-fcf9-8b49-6b0784a69e2b"
  },
  {
    "key": "a7a25ddc-c066-412d-a2ab-6e5232ef3368",
    "mediaKey": "d3346885-1800-708c-89d2-3461123b35da"
  },
  {
    "key": "0fe76bfd-7703-4096-adb7-3ff94c4fce37",
    "mediaKey": "cbb322d4-b565-8920-23a3-dd70598caa7e"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Городской квартал RIVERPARK]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое и скрытое крепление), терракота]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[1]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>