<?xml version="1.0" encoding="utf-8"?>
<Content Key="67374234-6907-4011-bb6b-154fd32692ea" Alias="Группа компаний «РОНСОН» поздравляет милых дам с праздником 8 марта!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/GruppaKompaniiRONSONPozdravlyaetMilykhDamSPrazdnikom8Marta</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Группа компаний «РОНСОН» поздравляет милых дам с праздником 8 марта!" />
    <SortOrder>58</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[nan]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2016-03-04T17:44:49]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Группа компаний «РОНСОН» поздравляет милых дам с праздником 8 марта!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p><strong>Уважаемые дамы!</strong></p><p>Группа компаний &laquo;Ронсон&raquo; спешит поздравить вас с самым чудесным весенним праздником - 8 марта! Будьте счастливы, любимы и красивы! &nbsp;Пусть в вашем сердце всегда живет весна и в жизни случается больше чудес! Все что вы хотели знать о <a href="http://in4game.ru/pin-up">букмекерской компании пин уп бет</a> уже опубликовано у нас на сайте.</p><p><img alt="" src="http://ronson-group.ru/netcat_files/userfiles/1/8marta.jpg" style="width: 700px; height: 490px;" /></p><p>Всех милых женщин на планете<br />Мы поздравляем в этот день.<br />Для вас пусть солнышко всех светит,<br />И заиграет звонкая капель.<br />Мы пожелаем вам здоровья,<br />Уюта в доме и тепла.<br />Заботы близких и внимания<br />Сегодня, завтра и всегда!<br />Желаем вам конечно счастья,<br />И пусть уходят все ненастья.<br />Чтоб радовались вы всегда<br />Весны приходу и тепла!</p>]]></Value>
    </text>
  </Properties>
</Content>