<?xml version="1.0" encoding="utf-8"?>
<Content Key="39f552a1-3c21-699e-41d4-d281a7b18e51" Alias="ДК «Нейтрино» Десногорской АЭС" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/DKNeitrinoDesnogorskoiAES</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:41</CreateDate>
    <NodeName Default="ДК «Нейтрино» Десногорской АЭС" />
    <SortOrder>67</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Десногорск, 4-ый микр-н]]></Value>
    </description>
    <god>
      <Value><![CDATA[2012]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "5a2cacc8-fe9b-4a4c-8488-96c8a873a31d",
    "mediaKey": "966c415f-692f-51c1-3cd5-d4f757594391"
  },
  {
    "key": "b43bbc4f-ed9c-43dd-a3a1-4b87e7560f84",
    "mediaKey": "05956604-de2d-fee0-bedb-bcd8d0153c09"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ДК «Нейтрино» Десногорской АЭС]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>