<?xml version="1.0" encoding="utf-8"?>
<Content Key="526340a1-1a5d-4fb8-8658-4897daf8e8a5" Alias="Документация на систему Ронсон-300" Level="4">
  <Info>
    <Parent Key="313ed678-34da-4856-86d9-fde6e9df8307">Техническая документация</Parent>
    <Path>/Glavnaya/Sistemy/TekhnicheskayaDokumentatsiya/DokumentatsiyaNaSistemuRonson300</Path>
    <Trashed>false</Trashed>
    <ContentType>dokumentatsiya</ContentType>
    <CreateDate>2025-10-16T21:10:44</CreateDate>
    <NodeName Default="Документация на систему Ронсон-300" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c77716f-ece4-4e71-9097-82d0d763b72d">Dokumentatsiya</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <dokumentatsiyaList>
      <Value><![CDATA[]]></Value>
    </dokumentatsiyaList>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <izobrazhenie>
      <Value><![CDATA[[
  {
    "key": "5733d489-9397-4e29-a5c9-501b0f783f77",
    "mediaKey": "66dee699-bc61-4940-9a8c-5c35832c2d5f"
  }
]]]></Value>
    </izobrazhenie>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Документация на систему Ронсон-300]]></Value>
    </pageTitle>
  </Properties>
</Content>