<?xml version="1.0" encoding="utf-8"?>
<Content Key="172a583b-549b-4d18-92f3-608fe99115fc" Alias="Дом «Роттердам» признан лучшим региональным жилым комплексом" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/DomRotterdamPriznanLuchshimRegionalnymZhilymKompleksom</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Дом «Роттердам» признан лучшим региональным жилым комплексом" />
    <SortOrder>65</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>По итогам премии UrbanAwards-2016 наш объект - Жилой дом &laquo;Роттердам&raquo; с навесным вентилирируемым фасадом Ронсон-500 был признан лучшим региональным жилым комплексом.</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2016-11-30T17:55:58]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Дом «Роттердам» признан лучшим региональным жилым комплексом]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>По итогам премии UrbanAwards-2016 наш объект - Жилой дом &laquo;Роттердам&raquo; с навесным вентилирируемым фасадом Ронсон-500 был признан лучшим региональным жилым комплексом. Премия Urban Awards уже 10 лет ежегодно проходит в Москве, отмечая лучшие проекты на рынке жилой городской недвижимости. Объекты-лауреаты&nbsp;Urban Awards&nbsp;получают статус&nbsp;&laquo;Лучший объект года&raquo;&nbsp;в&nbsp;соответствующей номинации&nbsp;и&nbsp;тем самым подтверждают соблюдение самых строгих&nbsp;стандартов&nbsp;качества&nbsp;на&nbsp;рынке жилья.</p><p>&nbsp;</p><p>Роттердам - дом с авторской архитектурой и дизайном в историческом центре Казани на ул.Некрасова, 28. Облицовочный материал: разноцветный КЛИНКЕР РОНСОН (Dark red, Naranja), декоративный камень White Hills, японская фиброцементная плита KMEW.</p>]]></Value>
    </text>
  </Properties>
</Content>