<?xml version="1.0" encoding="utf-8"?>
<Content Key="dbc67a74-b351-4c8d-b6f0-1193a5755aae" Alias="Документация на систему Ронсон-100" Level="4">
  <Info>
    <Parent Key="313ed678-34da-4856-86d9-fde6e9df8307">Техническая документация</Parent>
    <Path>/Glavnaya/Sistemy/TekhnicheskayaDokumentatsiya/DokumentatsiyaNaSistemuRonson100</Path>
    <Trashed>false</Trashed>
    <ContentType>dokumentatsiya</ContentType>
    <CreateDate>2025-10-16T20:22:40</CreateDate>
    <NodeName Default="Документация на систему Ронсон-100" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c77716f-ece4-4e71-9097-82d0d763b72d">Dokumentatsiya</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <dokumentatsiyaList>
      <Value><![CDATA[]]></Value>
    </dokumentatsiyaList>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <izobrazhenie>
      <Value><![CDATA[[
  {
    "key": "3b292741-a976-456b-a4fe-57eb6f5d690c",
    "mediaKey": "ebe6db75-419f-48e4-993e-ca9c92ec5bab"
  }
]]]></Value>
    </izobrazhenie>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Документация на систему Ронсон-100]]></Value>
    </pageTitle>
  </Properties>
</Content>