<?xml version="1.0" encoding="utf-8"?>
<Content Key="85a93c82-64e0-460e-9753-c1524984e4ee" Alias="Документация на систему Ронсон-500" Level="4">
  <Info>
    <Parent Key="313ed678-34da-4856-86d9-fde6e9df8307">Техническая документация</Parent>
    <Path>/Glavnaya/Sistemy/TekhnicheskayaDokumentatsiya/DokumentatsiyaNaSistemuRonson500</Path>
    <Trashed>false</Trashed>
    <ContentType>dokumentatsiya</ContentType>
    <CreateDate>2025-10-16T21:11:15</CreateDate>
    <NodeName Default="Документация на систему Ронсон-500" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c77716f-ece4-4e71-9097-82d0d763b72d">Dokumentatsiya</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <dokumentatsiyaList>
      <Value><![CDATA[]]></Value>
    </dokumentatsiyaList>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <izobrazhenie>
      <Value><![CDATA[[
  {
    "key": "b9ff27df-dad0-412a-b0ae-7dc4ef29f1b7",
    "mediaKey": "f9afeb75-ed34-4521-8d53-6787677b5f74"
  }
]]]></Value>
    </izobrazhenie>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Документация на систему Ронсон-500]]></Value>
    </pageTitle>
  </Properties>
</Content>