<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b7b3194-d5bd-c0cd-5b22-ee1128fd037a" Alias="Дорожно–ремонтное строительное управление" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/DorozhnoRemontnoeStroitelnoeUpravlenie</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:30</CreateDate>
    <NodeName Default="Дорожно–ремонтное строительное управление" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Челябинск, ул. Героев Танкограда 51П]]></Value>
    </description>
    <god>
      <Value><![CDATA[2008]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "2a367249-a869-4ff1-85b5-629ef3f2c3d8",
    "mediaKey": "bd89e113-2f18-affa-c9a1-b7a9cf420c52"
  },
  {
    "key": "5632ff54-a8b7-4f10-a9a1-8246d7b83ba9",
    "mediaKey": "b8ec273d-99e5-526d-7b72-82773d904c39"
  },
  {
    "key": "6a608569-fda2-4929-8159-1040c8741358",
    "mediaKey": "3433e5f6-c121-b9d8-6d5f-f24b134b691d"
  },
  {
    "key": "6cb88a82-6112-4d8b-ad7c-f22960a594b0",
    "mediaKey": "014ab282-fb3a-9b04-3c5f-557da50f6c39"
  },
  {
    "key": "1304b862-beae-4e7e-a313-8e60d1d269e4",
    "mediaKey": "47691a7a-b183-0da5-032f-f72d476bbf04"
  },
  {
    "key": "24798425-0571-4d7d-a168-1cfc324a098d",
    "mediaKey": "39cc8ee2-daab-c6e8-5d92-beb64879cb90"
  },
  {
    "key": "f9441121-f3a8-4bc9-b08d-8767ca915699",
    "mediaKey": "2aa270e3-36ae-b6be-ac3a-affcd6556825"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Дорожно–ремонтное строительное управление]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>