<?xml version="1.0" encoding="utf-8"?>
<Content Key="690805c8-1fdd-4335-9c44-f005f1e2aa3f" Alias="Документация на систему Ронсон-740" Level="4">
  <Info>
    <Parent Key="313ed678-34da-4856-86d9-fde6e9df8307">Техническая документация</Parent>
    <Path>/Glavnaya/Sistemy/TekhnicheskayaDokumentatsiya/DokumentatsiyaNaSistemuRonson740</Path>
    <Trashed>false</Trashed>
    <ContentType>dokumentatsiya</ContentType>
    <CreateDate>2025-10-16T21:12:10</CreateDate>
    <NodeName Default="Документация на систему Ронсон-740" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c77716f-ece4-4e71-9097-82d0d763b72d">Dokumentatsiya</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <dokumentatsiyaList>
      <Value><![CDATA[]]></Value>
    </dokumentatsiyaList>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <izobrazhenie>
      <Value><![CDATA[[
  {
    "key": "6d8b1535-1c10-4b2b-8149-1e4658d47771",
    "mediaKey": "46b0d497-5e08-4f94-9c8b-9364c215cbe8"
  }
]]]></Value>
    </izobrazhenie>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Документация на систему Ронсон-740]]></Value>
    </pageTitle>
  </Properties>
</Content>