<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa3cc7a3-8783-49c4-8808-3a4f0925f73c" Alias="Документация на систему Ронсон-200" Level="4">
  <Info>
    <Parent Key="313ed678-34da-4856-86d9-fde6e9df8307">Техническая документация</Parent>
    <Path>/Glavnaya/Sistemy/TekhnicheskayaDokumentatsiya/DokumentatsiyaNaSistemuRonson200</Path>
    <Trashed>false</Trashed>
    <ContentType>dokumentatsiya</ContentType>
    <CreateDate>2025-10-16T20:39:25</CreateDate>
    <NodeName Default="Документация на систему Ронсон-200" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c77716f-ece4-4e71-9097-82d0d763b72d">Dokumentatsiya</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <dokumentatsiyaList>
      <Value><![CDATA[]]></Value>
    </dokumentatsiyaList>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <izobrazhenie>
      <Value><![CDATA[[
  {
    "key": "d87998fd-46cc-4aad-8cfc-55e13ed527ac",
    "mediaKey": "addc4bd2-40c7-42dd-a959-1586f60f95e9"
  }
]]]></Value>
    </izobrazhenie>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>