<?xml version="1.0" encoding="utf-8"?>
<Content Key="395bad8a-8ae0-484d-a6fd-3e866968a2f8" Alias="Евразийский патент РОНСОН!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/EvraziiskiiPatentRONSON</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Евразийский патент РОНСОН!" />
    <SortOrder>66</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Мы получили новый патент на изобретение.</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2019-09-05T18:34:10]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Евразийский патент РОНСОН!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Мы получили Евразийский патент № 032803 на изобретение &laquo;Система навесного вентилируемого фасада для облицовки зданий и облицовочная плитка&raquo;.</p><p>&nbsp;</p><p>Более подробно с новым изобретением Вы можете ознакомиться в разделе &ndash;&nbsp;<a href="http://ronson-group.ru/systems/klinker/" target="_blank">Клинкер и декоративный камень</a>.&nbsp;</p><p>&nbsp;</p><p><img alt="" src="/netcat_files/userfiles/news/big_patent_032803.jpg" style="width: 566px; height: 800px;" /></p><p>&nbsp;</p>]]></Value>
    </text>
  </Properties>
</Content>