<?xml version="1.0" encoding="utf-8"?>
<Content Key="538e1492-8e22-fe9d-6bc3-45498cd228b7" Alias="Жилой дом (8)" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhiloiDom8</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:29</CreateDate>
    <NodeName Default="Жилой дом (8)" />
    <SortOrder>30</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул. Лобачевского, д. 100А]]></Value>
    </description>
    <god>
      <Value><![CDATA[2009]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "72ab4dd4-36d3-4d94-bd1c-99cbf13beccb",
    "mediaKey": "5f9fcc00-00c0-5262-ce73-a8d2031e7b34"
  },
  {
    "key": "a704274c-327d-49b1-89d5-d15e8953cf4c",
    "mediaKey": "9b5f95a9-1d23-619c-b01b-ceeac25bc9a7"
  },
  {
    "key": "f11635e9-db88-4b2a-8d64-458d6f17556d",
    "mediaKey": "bcd57423-dbc2-9ca7-433d-229af56e47b3"
  },
  {
    "key": "c84817da-171e-4b29-9157-2b774387e341",
    "mediaKey": "243a9330-4139-f2aa-6602-92c75f9e93d8"
  },
  {
    "key": "0e80d03b-58f5-4c82-87ec-cc82594741c1",
    "mediaKey": "2bd88c9f-abce-70ed-e233-a2cdeab77946"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Жилой дом]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[кассеты из алюмокомпозита]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-200"
]]]></Value>
    </systems>
  </Properties>
</Content>