<?xml version="1.0" encoding="utf-8"?>
<Content Key="5148bedc-e9cd-75ac-88aa-22de84d64a5f" Alias="Жилой дом (5)" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhiloiDom5</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:28</CreateDate>
    <NodeName Default="Жилой дом (5)" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул. Фотиевой, дом 4]]></Value>
    </description>
    <god>
      <Value><![CDATA[2010]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "0c85cf0f-aee3-43a4-9780-2342d724c711",
    "mediaKey": "6be6e9b6-389e-8cbd-cc53-25222d7b721b"
  },
  {
    "key": "b0612d9b-6290-43ac-937c-2b65da14572a",
    "mediaKey": "56fa01b4-87d1-a658-f2a4-7127125bfbdb"
  },
  {
    "key": "101afc8f-a11a-4d6e-a1a0-7ccc06b2704d",
    "mediaKey": "10a92295-464f-7eca-5b39-d96a6c9e445c"
  },
  {
    "key": "daa4d573-7c02-4edc-bf46-da75ecb742aa",
    "mediaKey": "62346f94-764d-47d4-b6ac-d21fd75cbd4c"
  },
  {
    "key": "a07c587e-fc3b-4463-b339-ebedf4f0aba2",
    "mediaKey": "d2a31474-24f2-28e3-f291-32556dc317e6"
  },
  {
    "key": "41613c7a-aac4-4332-86cb-96d56d2c5a94",
    "mediaKey": "7213baa3-c6da-5648-acb8-deffb3bf0630"
  },
  {
    "key": "c41b0000-2943-4036-9afd-f9828ef5a51a",
    "mediaKey": "aae1c5c1-358c-c962-781d-78a946b2a3e8"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Жилой дом]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит, натуральный камень, декор из стеклофибробетона]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-100"
]]]></Value>
    </systems>
  </Properties>
</Content>