<?xml version="1.0" encoding="utf-8"?>
<Content Key="963e8114-e319-83b7-f9fa-43ba5c7b1340" Alias="Жилой дом (10)" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ZhiloiDom10</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:39</CreateDate>
    <NodeName Default="Жилой дом (10)" />
    <SortOrder>60</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул.Новочеремушкинская, д.60]]></Value>
    </description>
    <god>
      <Value><![CDATA[2007]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "1923eef0-fdd7-450f-b174-6ba57eb769f1",
    "mediaKey": "cb3ba673-ed38-dd42-5613-7e6b6892213a"
  },
  {
    "key": "209bb43b-af6d-4f7e-80dd-6614bc0b3dd2",
    "mediaKey": "ce3188c6-4e4a-3496-1f2e-a20081581999"
  },
  {
    "key": "fd5f7ca1-d06b-427d-99ac-560a3069590c",
    "mediaKey": "dcf4a7e9-50cc-08d6-5b4b-d0106a160103"
  },
  {
    "key": "90104f4b-3e20-49d4-971d-558f48617370",
    "mediaKey": "e4af6c14-f961-12fb-98f6-24a8347bc9a5"
  },
  {
    "key": "9d41a991-e7e0-49d8-8025-e91832ce1bf3",
    "mediaKey": "1bd0ccf2-de65-1a53-f9c6-e0e6e6b3479c"
  },
  {
    "key": "7570b63f-f152-4300-b91c-e5e8c22ad864",
    "mediaKey": "f72dea8c-c703-ad31-9442-39823a00951b"
  },
  {
    "key": "82d77075-ffa2-4647-a4fd-e2b3eed58dee",
    "mediaKey": "331b2db4-8e13-7cb5-6936-ddd3e82bfa87"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Жилой дом]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[фиброцементные плиты, мокрый фасад, витражи]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[1]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[]]]></Value>
    </systems>
  </Properties>
</Content>