<?xml version="1.0" encoding="utf-8"?>
<Content Key="45513b29-daa5-d747-3492-d23e5d34b787" Alias="Жилой дом (1)" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ZhiloiDom1</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:24</CreateDate>
    <NodeName Default="Жилой дом (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г.Мытищи, ул. Троицкая, д. 11]]></Value>
    </description>
    <god>
      <Value><![CDATA[2011]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "a0b84e42-8927-4f35-b0f4-7b85cb20663f",
    "mediaKey": "03f707e7-58d7-e0c3-7495-685059f6e452"
  },
  {
    "key": "bce48b95-1845-4ffe-a170-a6f99a702e7a",
    "mediaKey": "59306b89-3b40-d59e-bc80-8dae89f51321"
  },
  {
    "key": "b2edc1af-5b4b-4704-9803-2e3de500c8bb",
    "mediaKey": "75b01bc5-215f-1b8e-0181-ba4c32494315"
  },
  {
    "key": "f7d3c582-78b6-4bb5-96fa-3c66e7e91128",
    "mediaKey": "ce654771-7a06-89b2-af9e-5f77407928fd"
  },
  {
    "key": "ec88d263-ae7e-49e2-b018-70463baa559f",
    "mediaKey": "6eba64ed-24f7-ea18-f4ea-b5e6ba12423b"
  },
  {
    "key": "b4259c51-a693-4a50-9efc-c27e8da5df95",
    "mediaKey": "8e8c5f44-eef5-d375-0fb7-ee5d2a6ed8a4"
  },
  {
    "key": "d241c3de-9ff3-4264-a9a8-b79ead9c7885",
    "mediaKey": "4deb8442-da56-1767-5c85-90981151a4de"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Жилой дом]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300 (КРЕПЛЕНИЕ В МЕЖЭТАЖНЫЕ ПЕРЕКРЫТИЯ)"
]]]></Value>
    </systems>
  </Properties>
</Content>