<?xml version="1.0" encoding="utf-8"?>
<Content Key="70100ba6-d185-aec4-561b-f51e4993ae9e" Alias="Жилой дом, г. Шымкент" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ZhiloiDomGShymkent</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:16</CreateDate>
    <NodeName Default="Жилой дом, г. Шымкент" />
    <SortOrder>189</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[Республика Казахстан, г. Шымкент, ул. Туркестанская, д. 55]]></Value>
    </description>
    <god>
      <Value><![CDATA[2016]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "448d0b18-738f-4812-aec6-58d361367755",
    "mediaKey": "2638897c-e0e4-e243-108f-bac46eae46ff"
  },
  {
    "key": "eaca9eee-6142-4063-8452-62a2761f5d34",
    "mediaKey": "58ebf6b8-47c3-3e76-49d9-b8c7216b085e"
  },
  {
    "key": "62fe922c-c895-4f12-ad6c-3864ebf4bb72",
    "mediaKey": "7d6fb698-a982-fba3-7902-ee6a937e521d"
  },
  {
    "key": "2ee8ee6e-4f3c-485b-bba6-14bd572ba899",
    "mediaKey": "a39a9bc4-8950-5208-14ea-58705d39485a"
  },
  {
    "key": "01b86bc5-9f9b-4467-bfad-2afda2cda163",
    "mediaKey": "8e20a46a-ea79-98f7-753b-771b52c18ea7"
  },
  {
    "key": "1bc24cb8-54ba-446d-9f11-d1ee41328e9c",
    "mediaKey": "dc5ad4d1-5854-39d4-2e51-8578f5080d1f"
  },
  {
    "key": "9e114d94-903b-4094-995e-bfc39dfa1127",
    "mediaKey": "451d995f-6e02-5f0a-005b-ee1ca814007f"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Жилой дом, г. Шымкент]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[натуральный камень, клинкер]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[1]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-400"
]]]></Value>
    </systems>
  </Properties>
</Content>