<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb1d7dad-b342-d5ef-b806-1dd6da16166e" Alias="Жилой дом" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhiloiDom</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:21</CreateDate>
    <NodeName Default="Жилой дом" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Челябинск, Курчатовский р-н, Комсомольский проспект, д.9]]></Value>
    </description>
    <god>
      <Value><![CDATA[2008]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "22ab8363-1b02-4f71-9aca-b6a3441efa52",
    "mediaKey": "e38e4c6c-30d6-3176-3ed0-e82d05361a10"
  },
  {
    "key": "4256a2d2-cf4c-4a67-aa99-37842871a630",
    "mediaKey": "44c0810a-6078-2d4a-d086-0fee727ee5bd"
  },
  {
    "key": "439d85d7-79b9-40b5-b7f5-403b040a313c",
    "mediaKey": "7ef914b6-0c49-96f3-a0c6-1639967df9b2"
  },
  {
    "key": "a0e387b9-dd2e-445c-b2cf-cc922a17a4de",
    "mediaKey": "fc70340b-3830-afbf-f94d-5e175a8a8d62"
  },
  {
    "key": "bb294655-002a-47c4-ade9-fe28abbc02b4",
    "mediaKey": "5e38eaf4-d4b8-6721-68d6-140df4e27f13"
  },
  {
    "key": "2a7d0c1a-0782-4174-b532-31a2b3466289",
    "mediaKey": "ddffc5e6-1b3a-8e7e-ed58-c10883103e52"
  },
  {
    "key": "fc500094-8240-46b6-8ca2-fa9f283886e3",
    "mediaKey": "95687f40-5bc6-7248-e963-e2892ca6ced8"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[ООО &quot;Нью-Строй&quot;, г. Челябинск, Уральский ФО]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Жилой дом]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>