<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac03a1f4-3b87-9423-bbf9-1efba2e1b4da" Alias="Жилой дом (7)" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhiloiDom7</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:29</CreateDate>
    <NodeName Default="Жилой дом (7)" />
    <SortOrder>29</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Челябинск, пересечение ул. Сулимова и ул. Курчатова]]></Value>
    </description>
    <god>
      <Value><![CDATA[2009]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "25ec30ee-8319-4374-8bc4-9746740361b9",
    "mediaKey": "3081fcd5-34ea-02dd-c740-93d3a1fd66d5"
  },
  {
    "key": "faabd7a8-887c-4495-8e7e-4dff890b87c2",
    "mediaKey": "fb94cb51-708f-85d3-dd19-3be6e23e6e5a"
  },
  {
    "key": "6e6702bc-bbb6-4875-804f-9cd180429506",
    "mediaKey": "2986d54f-d702-274c-3eaa-667a2e80c43e"
  },
  {
    "key": "554b48a3-7784-4625-8f3b-bfcd8ee1bb8d",
    "mediaKey": "7f8bb216-e3f4-f626-08ee-7c984ba61eb3"
  },
  {
    "key": "ebd65b3f-8e56-41d8-8221-1eba63558668",
    "mediaKey": "517c09cc-1c7a-5994-7e31-b6b528f51949"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Жилой дом]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>