<?xml version="1.0" encoding="utf-8"?>
<Content Key="27b03f60-366b-0371-d2a8-10e4bc820472" Alias="ЖК «Родной город. Воронцовский парк»" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhKRodnoiGorodVorontsovskiiPark</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:18</CreateDate>
    <NodeName Default="ЖК «Родной город. Воронцовский парк»" />
    <SortOrder>211</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул. Профсоюзная, д.66]]></Value>
    </description>
    <god>
      <Value><![CDATA[2018]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "72b5b9f5-5089-4368-857a-911285539e95",
    "mediaKey": "ee2b5998-9fbf-ced7-d214-c46820b0c5b4"
  },
  {
    "key": "50760d77-ffc2-4f7a-8e9a-dd413269038c",
    "mediaKey": "ee2b5998-9fbf-ced7-d214-c46820b0c5b4"
  },
  {
    "key": "3f61b55d-170d-4a77-b8b4-9009bf60968d",
    "mediaKey": "1ab70f0a-edfe-5548-7b58-f727249360ed"
  },
  {
    "key": "1b3cb6fb-9dcb-48ce-8d33-f7f32a8cef4d",
    "mediaKey": "e8756b3c-b103-da03-83b4-b62fee1a379a"
  },
  {
    "key": "a76473f2-78e2-47ec-affe-e82704787c2b",
    "mediaKey": "49cc814a-5d56-8247-6a6c-c97a2ad3bdfe"
  },
  {
    "key": "f39e0e9e-638f-4788-899c-4a9f84d63933",
    "mediaKey": "5c449451-0f37-cdcb-5103-58662cd8e414"
  },
  {
    "key": "a4562e71-231b-4861-ad84-a9d23a7c0abd",
    "mediaKey": "de06cfc8-d42b-e0d2-261a-49819dddf9fb"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Родной город. Воронцовский парк»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[декоративный камень White Hills]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[1]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>