<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bb2f0ca-7f65-432b-1a63-aa36bef7a951" Alias="ЖК «Валентиновка парк» (1)" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhKValentinovkaPark1</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:13</CreateDate>
    <NodeName Default="ЖК «Валентиновка парк» (1)" />
    <SortOrder>170</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[Московская область, г. Королев, ул. Горького, д. 79]]></Value>
    </description>
    <god>
      <Value><![CDATA[2016]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "5276b78b-dc5b-4397-8867-ebc5b98e33fc",
    "mediaKey": "38fd6413-4316-a9b6-6942-9bcefaa66f07"
  },
  {
    "key": "d92f9cfb-ab04-432e-9c4b-bc52b41ea948",
    "mediaKey": "7a4f8749-d976-11ee-db44-bd2ac233a864"
  },
  {
    "key": "a0e34f15-b185-4b41-9d61-efdbf7337572",
    "mediaKey": "b1087921-ff6a-6343-457f-f0d1c67f1568"
  },
  {
    "key": "2dd8dfaa-d0c6-4e1a-ad82-d0b68ba6e4b0",
    "mediaKey": "b9cb474d-90cc-75e5-ec27-f7766f269203"
  },
  {
    "key": "83f35a41-6265-4e2f-aeb0-9cd6092bce3a",
    "mediaKey": "92f97271-43e9-087f-c30e-d59ce36b5475"
  },
  {
    "key": "18d7d157-21ca-4cdf-b734-acce310127e9",
    "mediaKey": "3c0a5407-6c15-f56c-6911-355d54b6dfc6"
  },
  {
    "key": "3f112798-87b3-4bf8-8b91-d959cd587eb2",
    "mediaKey": "31f097e8-b620-6727-daf4-5bbd8aa096da"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Валентиновка парк»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[декоративный камень White Hills]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[1]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>