<?xml version="1.0" encoding="utf-8"?>
<Content Key="41648970-7d9f-77da-f5f7-ff7d983fcff2" Alias="ЖК «Счастье в Замоскворечье»" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhKSchasteVZamoskvoreche</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:07</CreateDate>
    <NodeName Default="ЖК «Счастье в Замоскворечье»" />
    <SortOrder>147</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, 3-ий Люсиновский переулок, 1]]></Value>
    </description>
    <god>
      <Value><![CDATA[2016]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "25f9729c-daec-4e21-a338-f9981c966846",
    "mediaKey": "e787abeb-5a41-61e8-6e6b-de7c761053e7"
  },
  {
    "key": "ca999c74-5356-4ada-82cc-8de59ffaff1a",
    "mediaKey": "53a4ed29-43c2-f640-5e14-73d2a98cba4e"
  },
  {
    "key": "142c4c3c-8790-4f7c-917e-64766012a8e6",
    "mediaKey": "b7197f24-b3d8-9e28-b2a7-52b9140845ba"
  },
  {
    "key": "3189e201-53ee-4264-afaf-cb2810e4219d",
    "mediaKey": "9da58ccd-9f7d-37a1-209d-d3281cfd058a"
  },
  {
    "key": "e22aa0e2-3f02-468a-9bed-34d971d405d1",
    "mediaKey": "f8ed7d6e-b6cb-dacf-9ce5-85f0e960a7e1"
  },
  {
    "key": "d56d27fa-863c-40c9-9232-94b5959d8979",
    "mediaKey": "9aa42a10-0fdc-e0c9-d5bc-7729bb0f6bfe"
  },
  {
    "key": "83357294-9ca9-4eac-97a3-0842c8526727",
    "mediaKey": "1066ea71-6fbf-2716-f347-aa6c7aa7e3a1"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Счастье в Замоскворечье»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[декоративный камень White Hills, декор из стеклофибробетона]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[1]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>