<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b29866a-c890-462d-96d7-619c554399f3" Alias="ЖК Дивное" Level="4">
  <Info>
    <Parent Key="7a2b75b3-181a-46fb-a6bd-46f005c77761">Офисные Здания</Parent>
    <Path>/Glavnaya/Obekty/OfisnyeZdaniya/ZhKDivnoe</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-09-15T12:34:36</CreateDate>
    <NodeName Default="ЖК Дивное" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>