<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6da5f16-4a2a-d08b-66de-aa8ad3439579" Alias="ЖК «Валентиновка Парк»" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhKValentinovkaPark</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:04</CreateDate>
    <NodeName Default="ЖК «Валентиновка Парк»" />
    <SortOrder>134</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[Московская область, г. Королев, ул. Добролюбова]]></Value>
    </description>
    <god>
      <Value><![CDATA[2016]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "0d570c30-bafd-4597-ab97-8c700bdda03a",
    "mediaKey": "741890bf-134a-8ae4-2c0e-63c9e90d62a1"
  },
  {
    "key": "c48a8fa4-368c-47b5-8a1f-e4aebe58679a",
    "mediaKey": "c38f470f-6f69-2a6d-cdcf-39b611ca64c8"
  },
  {
    "key": "281b9d73-18ef-4449-910f-4e4bdb2ba976",
    "mediaKey": "69311023-02c9-e019-df8e-c1911d4cfca2"
  },
  {
    "key": "f1f11827-f51c-41ad-8ab1-ce44bf33ffe8",
    "mediaKey": "d984cacb-7801-dad3-0e0d-928d6989e14c"
  },
  {
    "key": "371a5237-05b4-4f3a-aa74-3f870b2cbcee",
    "mediaKey": "c14bd2b6-c287-223c-f4f2-439eda36a814"
  },
  {
    "key": "90bb01a7-db28-42af-96bf-1c5203b76282",
    "mediaKey": "b0ae607c-7066-4e7c-4bb1-15acf8d22fc9"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Валентиновка Парк»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300 (КРЕПЛЕНИЕ В МЕЖЭТАЖНЫЕ ПЕРЕКРЫТИЯ)"
]]]></Value>
    </systems>
  </Properties>
</Content>