<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5f124b7-5c99-267c-5233-be927af46aa7" Alias="ЖК «Переделкино ближнее», Московская область" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhKPeredelkinoBlizhneeMoskovskayaOblast</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:59</CreateDate>
    <NodeName Default="ЖК «Переделкино ближнее», Московская область" />
    <SortOrder>107</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[Московская обл., д. Рассказовка]]></Value>
    </description>
    <god>
      <Value><![CDATA[2014]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "e7467b47-22a3-4288-b8a6-3cb2f69ed26d",
    "mediaKey": "1c157cd3-1036-087c-07f2-9e11bf05d369"
  },
  {
    "key": "330e0848-addd-4628-9b45-c9d7b5c6d903",
    "mediaKey": "4b00a2da-222d-eef2-82b2-32eb69d3caa1"
  },
  {
    "key": "b311982f-f905-4b5b-b71e-6f4335541fdc",
    "mediaKey": "fed6e44e-d58f-1ed5-41eb-1b5fab3712d7"
  },
  {
    "key": "5961df00-c774-4cff-bf6a-a0cfa3c6be32",
    "mediaKey": "2b7700e8-bbab-0bb1-e0cb-b79473de0f39"
  },
  {
    "key": "9169f4f7-797f-4b58-98f0-04d2a5c62088",
    "mediaKey": "d4e2320a-ba69-c7e5-5c0f-03850851c79f"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Переделкино ближнее», Московская область]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[фиброцементные плиты]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-100"
]]]></Value>
    </systems>
  </Properties>
</Content>