<?xml version="1.0" encoding="utf-8"?>
<Content Key="b042a01c-9cb4-4869-ad33-f9e6024ea56c" Alias="ЖК Дивное" Level="4">
  <Info>
    <Parent Key="916d0b65-29b8-4baf-93e9-d89ec6d6f0c0">Промышленные Объекты</Parent>
    <Path>/Glavnaya/Obekty/PromyshlennyeObekty/ZhKDivnoe</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-09-15T12:34:42</CreateDate>
    <NodeName Default="ЖК Дивное" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <god>
      <Value><![CDATA[]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[]]></Value>
    </systems>
  </Properties>
</Content>