<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2026e65-d2b8-21b1-35b6-92d724ad0548" Alias="ЖК Гранвиль, г. Санкт" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ZhKGranvilGSankt</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:08</CreateDate>
    <NodeName Default="ЖК Гранвиль, г. Санкт" />
    <SortOrder>148</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Санкт-Петербург, набережная Лейтенанта Шмидта, д. 21 А]]></Value>
    </description>
    <god>
      <Value><![CDATA[2015]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "2cc46737-cad6-4f55-8d0b-ea1e7941d36f",
    "mediaKey": "398c0a9a-c104-e979-11b8-52f8aeb90fbc"
  },
  {
    "key": "98e1eb8e-17ae-4d18-844f-4879754a7431",
    "mediaKey": "f6b6c744-110d-6e9f-754d-f4ef3da0875f"
  },
  {
    "key": "9c9723cd-5398-4452-a066-6c9a18d177dc",
    "mediaKey": "b409c844-6bfd-50d5-c990-c58e38479bf6"
  },
  {
    "key": "d69e9cbd-bcd1-4b83-a19b-e2c697b1fa01",
    "mediaKey": "bc0d828c-3ee7-95c9-700b-75ede7d816f2"
  },
  {
    "key": "9262f047-c3fb-4ca9-b004-fde483898411",
    "mediaKey": "f183b07c-fc38-de6f-9ce1-32dcf7d4f6c8"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК Гранвиль, г. Санкт]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[декоративный камень White Hills, декор из стеклофибробетона]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[1]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[1]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>