<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a37a1c1-e3d8-8b8b-71ee-a505aa01c592" Alias="ЖК «Борисовские пруды»" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ZhKBorisovskiePrudy</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:20</CreateDate>
    <NodeName Default="ЖК «Борисовские пруды»" />
    <SortOrder>261</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул. Борисовские пруды, д. 7, к. 2]]></Value>
    </description>
    <god>
      <Value><![CDATA[2020]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "c6ecd1e9-00b4-443b-8f40-0efcbaad471b",
    "mediaKey": "4f1fd8d1-f07a-c995-7ad3-c8db5f5e54c0"
  },
  {
    "key": "da14e4f0-bbe6-4852-adb4-613f13cb5376",
    "mediaKey": "ae46486a-3cbd-530b-e21f-2aa51c2ed998"
  },
  {
    "key": "c1c09c08-d70f-43fc-980e-47a84c24b5de",
    "mediaKey": "cfc3a5bf-911d-ba99-bb02-9c7ab8072047"
  },
  {
    "key": "2a3d44a3-9655-4f1f-aa11-74819e4b1185",
    "mediaKey": "f5f74f8e-e041-08e3-d5b1-3f6d0db24066"
  },
  {
    "key": "ab3f3594-fd49-464e-9180-1edfbae9414b",
    "mediaKey": "b69b1487-b2c5-d4fe-d991-f667309b2f35"
  },
  {
    "key": "2dfff0fd-c763-480b-a140-1e6c654dac3a",
    "mediaKey": "34b092a9-338a-78d3-dd8e-7c0ad2ea0a59"
  },
  {
    "key": "3e74a314-fa52-45a8-b0da-9ddc0bd9ced1",
    "mediaKey": "87007279-1c35-b133-49fc-cb74712d5b81"
  },
  {
    "key": "1e9d04e6-f59a-43e4-ba52-a27aaeaf8ff3",
    "mediaKey": "2c0eb9d1-60ce-fe14-6128-a8c8b26055a1"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Борисовские пруды»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[фиброцементные плиты, керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-100"
]]]></Value>
    </systems>
  </Properties>
</Content>