<?xml version="1.0" encoding="utf-8"?>
<Content Key="299268f1-164c-1c01-1a4d-ac9cc122a44b" Alias="ЖК «Сердце Столицы»" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhKSerdtseStolitsy</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:18</CreateDate>
    <NodeName Default="ЖК «Сердце Столицы»" />
    <SortOrder>207</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул. Шеногина, д.1 и Шелипихинская набережная, вл.34]]></Value>
    </description>
    <god>
      <Value><![CDATA[2018]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "9456c842-a0da-47ed-8bcf-cdfe6ca88fbf",
    "mediaKey": "6e87a091-f2f5-553b-8137-a9d812c27994"
  },
  {
    "key": "6e8163c1-4533-48e4-8dbd-fa9b46965fa2",
    "mediaKey": "a0d0c6bf-7967-d901-c47d-67a81ccc3e6f"
  },
  {
    "key": "0306cfb6-2fa2-4c01-ae18-48946a08ee2a",
    "mediaKey": "b1ee6290-1a8c-0ec8-16f9-b8a6bab7091c"
  },
  {
    "key": "c6c3ffd6-cd24-4916-8aaf-0238a95aee92",
    "mediaKey": "cbfdf546-22ca-5d89-b3d1-d10acfec1f06"
  },
  {
    "key": "2e48f5d9-d8ff-41ae-b1ae-ba34e65dcc97",
    "mediaKey": "5d957f4f-e04b-47b2-375a-16a4efa0bd92"
  },
  {
    "key": "43aaa02a-33c5-480b-beec-8d3863fc26a8",
    "mediaKey": "05de5b17-4a69-e6e0-fb6d-9b8d8e09329b"
  },
  {
    "key": "377fa771-f007-4fb0-a2c6-07909673f0ac",
    "mediaKey": "ba72f5f6-f971-c418-6389-46fd74c2a9df"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Сердце Столицы»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[металлокасеты, клинкер, профнастил]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[1]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>