<?xml version="1.0" encoding="utf-8"?>
<Content Key="d297b797-8150-5602-fcce-92275ce22a3d" Alias="ЖК «Донской квартал»" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ZhKDonskoiKvartal</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:20</CreateDate>
    <NodeName Default="ЖК «Донской квартал»" />
    <SortOrder>262</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, Духовской пер., д. 17]]></Value>
    </description>
    <god>
      <Value><![CDATA[2020]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "5662a596-d2a5-4a29-b8de-a9ac0d422825",
    "mediaKey": "e97879b2-3ac9-631f-09a0-848157d04154"
  },
  {
    "key": "565a522d-096d-4a3d-8244-ca3826156b47",
    "mediaKey": "d557c91c-d7ce-0639-8430-0a1a25254641"
  },
  {
    "key": "aff11bca-d973-4992-8e25-649b212d9336",
    "mediaKey": "2115b2ab-474e-05a7-c2a8-546594a6975e"
  },
  {
    "key": "82c774ba-cead-4a18-9337-49578fe3c5af",
    "mediaKey": "ad24a111-ce79-ac6d-dc53-ff1213b3e3a6"
  },
  {
    "key": "8b8b114a-83cc-4b34-abea-252bdfdf6322",
    "mediaKey": "d62742e0-c6ff-72e0-91e8-1a20968f2b57"
  },
  {
    "key": "8c9b50e2-e593-4bc1-b640-af3cf3f248ee",
    "mediaKey": "2b379f27-2d15-73d2-7244-4e78c483c621"
  },
  {
    "key": "3ee5c5ad-fd9d-4632-b514-d6d9715775a9",
    "mediaKey": "1f25003a-2eb8-56b1-6eaf-a3571030569b"
  },
  {
    "key": "c799b978-901d-4955-a6fb-7e9632f5ed2e",
    "mediaKey": "4150229e-b735-50cd-388f-a24516bd175e"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Донской квартал»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[декоративный камень White Hills]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[1]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>