<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bd21254-38b8-bc4e-bcd1-da4633dafc90" Alias="ЖК «Ломоносовский»" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ZhKLomonosovskii</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:51</CreateDate>
    <NodeName Default="ЖК «Ломоносовский»" />
    <SortOrder>89</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул. Панферова, д.8]]></Value>
    </description>
    <god>
      <Value><![CDATA[2013]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "cfccafc6-70ae-4c09-bbf1-ae7538b6242f",
    "mediaKey": "c567c0de-f6b3-6c2b-a9ed-4d41f89e71a8"
  },
  {
    "key": "1fbcbee8-e42b-4d87-bc36-86e71386ef98",
    "mediaKey": "b82a722d-2683-b035-5c19-3b2226c7c502"
  },
  {
    "key": "d0a0b4bb-17bc-48ee-b587-99d5c4decb6d",
    "mediaKey": "bdeb97bd-1348-770d-ec9b-5d484545bfda"
  },
  {
    "key": "e4038256-6112-45b4-975f-a29646d9ebd8",
    "mediaKey": "da0884c0-ed7c-1cc2-4865-98e11e86a5fd"
  },
  {
    "key": "d1a5c4f5-0c79-4852-a839-afddc9729caf",
    "mediaKey": "8c768884-9c56-8627-e1bc-96dbf42f326c"
  },
  {
    "key": "16b7dc02-6ab5-45bc-9359-a614323c43c0",
    "mediaKey": "8d7460b0-3f03-6966-52f0-6f18176337a7"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Ломоносовский»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление), натуральный камень]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>