<?xml version="1.0" encoding="utf-8"?>
<Content Key="d06dc63e-190d-c92e-b115-55bf4856acec" Alias="ЖК «Большой»" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ZhKBolshoi</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:05</CreateDate>
    <NodeName Default="ЖК «Большой»" />
    <SortOrder>137</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Краснодар, улица Красная, 176]]></Value>
    </description>
    <god>
      <Value><![CDATA[2016]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "b8979798-20de-4e3f-a8c1-9de58068a220",
    "mediaKey": "fd39c422-54d6-2126-ba31-3f4690c3d294"
  },
  {
    "key": "a6211e8a-9148-45dd-8708-309653b2dd22",
    "mediaKey": "f48d4127-2051-095f-bc3b-2263dc713adc"
  },
  {
    "key": "d70f6dde-f9fa-41c3-b029-eb1759cd30c6",
    "mediaKey": "d5166e64-25a8-ba53-b534-9420bcf96598"
  },
  {
    "key": "c4d70e8f-6f51-491f-826f-5573ae90e0a8",
    "mediaKey": "686cbc94-71cd-35c2-de13-a880a926ee1d"
  },
  {
    "key": "b1822a87-9400-47cb-8679-0bf045a84dd2",
    "mediaKey": "f3456ee4-75b2-6306-d437-386b24ffa89e"
  },
  {
    "key": "fea02475-51bc-47e4-aff1-a177abb7bf02",
    "mediaKey": "570e3320-bc6a-8f69-1dc3-3b499c59f2b1"
  },
  {
    "key": "81268f8e-83a8-44d1-8e6f-ca10f4a0304f",
    "mediaKey": "ed254d97-17af-a020-900a-09c6c77793da"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ЖК «Большой»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление), керамогранит (скрытое крепление), декор из стеклофибробетона]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[1]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[1]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>