<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c35f6ca-6803-7530-0a05-1bfffce06294" Alias="Завод «ROCKWOOL»" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ZavodROCKWOOL</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:33</CreateDate>
    <NodeName Default="Завод «ROCKWOOL»" />
    <SortOrder>40</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Железнодорожный,   ул. Автозаводская,  д. 48А]]></Value>
    </description>
    <god>
      <Value><![CDATA[2009]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "007c681e-4ab5-46af-918a-5269a6115b80",
    "mediaKey": "8a52c17b-a670-0e5c-1593-6ad56cffb3b1"
  },
  {
    "key": "db8c22f7-0e8c-4cbf-a176-624c4d4287d2",
    "mediaKey": "4a55b61b-8abe-d19a-972d-b8331634e81c"
  },
  {
    "key": "f77b7299-66cf-47a5-b429-ba49f29a1f25",
    "mediaKey": "b7af44e1-aba6-12ea-148a-6a0965bd7a57"
  },
  {
    "key": "732c237a-6797-4f96-98e0-ec0dfb1d0f83",
    "mediaKey": "4a12ae9b-04c6-b714-356a-f985d2275b28"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Завод «ROCKWOOL»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[кассеты из алюмокомпозита, керамогранит (видимое крепление), витражи]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[1]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-200"
]]]></Value>
    </systems>
  </Properties>
</Content>