<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea31fb2c-429d-4618-bd8b-2d5f5b2b5e29" Alias="Завершился V Международный Форум Building Skin Russia" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/ZavershilsyaVMezhdunarodnyiForumBuildingSkinRussia</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Завершился V Международный Форум Building Skin Russia" />
    <SortOrder>74</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>26 февраля завершился форум фасадных технологий Building Skin Russia 2021.</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2021-03-03T17:13:18]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Завершился V Международный Форум Building Skin Russia]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>26 февраля завершился форум фасадных технологий Building Skin Russia 2021, который традиционно собирает тысячи архитекторов, проектировщиков, дизайнеров, застройщиков из разных регионов.</p><p>&nbsp;</p><p>Мы рады были в очередной раз принять участие в этом событии и познакомить посетителей выставки с продукцией РОНСОН.</p>]]></Value>
    </text>
  </Properties>
</Content>