<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ff0617b-b5fe-2cd3-ed50-1754f3bf88ea" Alias="Здание народного суда" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ZdanieNarodnogoSuda</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:55</CreateDate>
    <NodeName Default="Здание народного суда" />
    <SortOrder>101</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Ногинск]]></Value>
    </description>
    <god>
      <Value><![CDATA[]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "cc9f6fe6-b080-48f0-b7d7-a24c4afdc57a",
    "mediaKey": "609a515b-4d67-06a9-87a5-c2d8ce81ffac"
  },
  {
    "key": "56e55eb7-63f6-4bfe-9100-4a1eb3d27000",
    "mediaKey": "5cda5036-86e2-f7f1-d8e5-087a636b8fcc"
  },
  {
    "key": "6fe4bee6-6e28-4615-b70d-3a834abe964b",
    "mediaKey": "77962855-0f94-8487-2015-d9bf1fa125fe"
  },
  {
    "key": "b13d01eb-26be-48b2-889b-56a785448049",
    "mediaKey": "e757aaf5-df5e-83b7-53ff-94b94fc186bd"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Здание народного суда]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[металлические кассеты]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[0]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[]]]></Value>
    </systems>
  </Properties>
</Content>