<?xml version="1.0" encoding="utf-8"?>
<Content Key="42a08a2b-b4d6-43db-b3aa-5b5f7938d23c" Alias="Итоги Building Skin Russia" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/ItogiBuildingSkinRussia</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Итоги Building Skin Russia" />
    <SortOrder>78</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Завершился ежегодный Всероссийский форум Building Skin Russia</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2022-03-10T14:32:34]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Итоги Building Skin Russia]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>1-2 марта в павильоне №57 ВДНХ прошел ежегодный Всероссийский форму Building Skin Russia. Посетители нашего стенда узнали все преимущества инновационной фасадной системы с вертикально-скользящим соединением, увидели и опробовали в действии монтаж вентилируемого фасада с кирпичом Recke-РОНСОН.</p><p>&nbsp;</p><p>Мы предоставили каждому возможность разбить плиту керамогранита, для ее дальнейшей быстрой точечной замены. Провели мастер класс и получили восторженные отклики!</p><p>&nbsp;</p><p>Как это было смотрите в видеорепортаже!</p><p>&nbsp;</p><center><iframe allowfullscreen="" frameborder="0" height="700" scrolling="no" src="https://www.youtube.com/embed/lOxEAic2_BU?rel=0" width="394"></iframe></center>]]></Value>
    </text>
  </Properties>
</Content>