<?xml version="1.0" encoding="utf-8"?>
<Content Key="9556d139-8eeb-4b79-852e-41d9f81c5973" Alias="Кассеты из композита и стали" Level="3">
  <Info>
    <Parent Key="a3c671aa-d24d-47c7-a671-6058fa0a3ecb">Системы</Parent>
    <Path>/Glavnaya/Sistemy/KassetyIzKompozitaIStali</Path>
    <Trashed>false</Trashed>
    <ContentType>sistema</ContentType>
    <CreateDate>2025-10-16T19:28:23</CreateDate>
    <NodeName Default="Кассеты из композита и стали" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <detailImage>
      <Value><![CDATA[[
  {
    "key": "9b3c0c8a-4c93-41b1-add7-0da6feeb82d1",
    "mediaKey": "3c594b23-a984-42d4-9ac2-31f3137517c5"
  }
]]]></Value>
    </detailImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <izobrazhenieDlyaSpiskaSistem>
      <Value><![CDATA[[
  {
    "key": "a7d8736a-6aed-41ec-b61c-56480a76f1dc",
    "mediaKey": "3c594b23-a984-42d4-9ac2-31f3137517c5"
  }
]]]></Value>
    </izobrazhenieDlyaSpiskaSistem>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "10bf82e6-48f4-4786-be0d-c58a6fdff34f",
    "mediaKey": "3c594b23-a984-42d4-9ac2-31f3137517c5"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <systemAdvantages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/19e1cf42843c4d65b88f9c756231c48f"
      },
      {
        "contentUdi": "umb://element/490560c7ae10474f96329db215b47fc6"
      },
      {
        "contentUdi": "umb://element/4b38a3fc41ae4201a3c16674d1c88522"
      },
      {
        "contentUdi": "umb://element/5270ac1737dc4d429faa7bec2638ba6e"
      },
      {
        "contentUdi": "umb://element/ff9539048696416daffe92d912b7529a"
      }
    ]
  },
  "contentData": [
    {
      "advantageDescription": "Благодаря предварительному соединению кассеты с кассетным кронштейном значительно облегчается монтаж",
      "advantageIcon": [
        {
          "key": "1ce0db25-fc80-42f9-86aa-8041c2d6153d",
          "mediaKey": "2912553c-dba4-4f68-b03c-a78a01c0b9f0"
        }
      ],
      "advantageTitle": "Значительно облегчается монтаж",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/19e1cf42843c4d65b88f9c756231c48f"
    },
    {
      "advantageDescription": "Удобная фиксация кассеты как в вертикальном, так и в горизонтальном положении",
      "advantageIcon": [
        {
          "key": "1c500273-00f8-478b-9b56-940085f7aa87",
          "mediaKey": "cf2c042b-e200-42a6-9491-df5c734fc3bb"
        }
      ],
      "advantageTitle": "Удобная фиксация кассеты",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/490560c7ae10474f96329db215b47fc6"
    },
    {
      "advantageDescription": "Исключена возможность деформации кассеты при тепловых расширениях",
      "advantageIcon": [
        {
          "key": "6303b6cb-3f13-4949-b296-59c8452be6ca",
          "mediaKey": "0cf35893-1522-4a5c-8976-3c753bb421d2"
        }
      ],
      "advantageTitle": "Исключена возможность деформации кассеты",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/4b38a3fc41ae4201a3c16674d1c88522"
    },
    {
      "advantageDescription": "Крепление крупноформатных кассет размером до 4 м2",
      "advantageIcon": [
        {
          "key": "7cd379b5-316e-46ef-886c-91f6d89c4852",
          "mediaKey": "e87f2cb0-7030-4ce7-aef1-7b28bf011bc9"
        }
      ],
      "advantageTitle": "Крепление крупноформатных кассет",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/5270ac1737dc4d429faa7bec2638ba6e"
    },
    {
      "advantageDescription": "Швы от 5 мм",
      "advantageIcon": [
        {
          "key": "0937ef2d-95e9-432a-a519-563127db7767",
          "mediaKey": "a4590b3f-06a8-4f51-b7da-933d32dde38c"
        }
      ],
      "advantageTitle": "Швы",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/ff9539048696416daffe92d912b7529a"
    }
  ],
  "settingsData": []
}]]></Value>
    </systemAdvantages>
    <systemDescription>
      <Value><![CDATA[{
  "markup": "<p>РОНСОН-200 – система навесного вентилируемого фасада, предназначенная для крепления кассет из композитных материалов, оцинкованной или нержавеющей стали и алюминия.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </systemDescription>
    <systemFeatures>
      <Value><![CDATA[]]></Value>
    </systemFeatures>
    <systemName>
      <Value><![CDATA[Кассеты из композита и стали]]></Value>
    </systemName>
    <systemTag>
      <Value><![CDATA[РОНСОН-200]]></Value>
    </systemTag>
    <testBlockGrid>
      <Value><![CDATA[]]></Value>
    </testBlockGrid>
    <toolDescription>
      <Value><![CDATA[]]></Value>
    </toolDescription>
    <toolImage>
      <Value><![CDATA[[]]]></Value>
    </toolImage>
    <toolTitle>
      <Value><![CDATA[]]></Value>
    </toolTitle>
    <videoPrezentatsiya>
      <Value><![CDATA[]]></Value>
    </videoPrezentatsiya>
  </Properties>
</Content>