<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f5bcc4f-1861-471e-b017-0aed50fa3436" Alias="Керамогранит (точечное крепление)" Level="3">
  <Info>
    <Parent Key="a3c671aa-d24d-47c7-a671-6058fa0a3ecb">Системы</Parent>
    <Path>/Glavnaya/Sistemy/KeramogranitTochechnoeKreplenie</Path>
    <Trashed>false</Trashed>
    <ContentType>sistema</ContentType>
    <CreateDate>2025-10-16T18:10:48</CreateDate>
    <NodeName Default="Керамогранит (точечное крепление)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <detailImage>
      <Value><![CDATA[[
  {
    "key": "207e95c2-7e50-4ffa-89fd-9dfc8b8bc9b0",
    "mediaKey": "8624fcf7-2215-4e77-a4a9-a8b827ee1212"
  }
]]]></Value>
    </detailImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <izobrazhenieDlyaSpiskaSistem>
      <Value><![CDATA[[
  {
    "key": "2a3356f6-192f-4e4d-b18c-e1f4444acd14",
    "mediaKey": "3a56e3d9-dcf8-4470-8e1f-ac36ba4d327a"
  }
]]]></Value>
    </izobrazhenieDlyaSpiskaSistem>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "6e003e76-4ccb-420a-8ac2-118598472839",
    "mediaKey": "8624fcf7-2215-4e77-a4a9-a8b827ee1212"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <systemAdvantages>
      <Value><![CDATA[]]></Value>
    </systemAdvantages>
    <systemDescription>
      <Value><![CDATA[{
  "markup": "<p>РОНСОН-300 – система навесного вентилируемого фасада, предназначенная для крепления керамогранитных плит (точечное крепление).&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </systemDescription>
    <systemFeatures>
      <Value><![CDATA[]]></Value>
    </systemFeatures>
    <systemName>
      <Value><![CDATA[Керамогранит (точечное крепление)]]></Value>
    </systemName>
    <systemTag>
      <Value><![CDATA[РОНСОН-300]]></Value>
    </systemTag>
    <testBlockGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/fe91c3913bf342d2ae67d9bbab53f219",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1301e49ec46446b59b29db3ce6cb74a5",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "aaaa1111-1111-1111-1111-111111111111",
      "textContent": {
        "markup": "<p><strong>Особенности системы НВФ «РОНСОН-300» с новыми кляммерами ЗВЕЗДОЧКАМИ:</strong></p>\n<ul class=\"bullet-list\">\n<li>Ускоренный процесс монтажа (всего 1 заклепка)</li>\n<li>Повышенная несущая способность</li>\n<li>Стабильные вертикальные и горизонтальные швы за счет строения кляммера</li>\n<li>Ремонтопригодность фасада</li>\n<li>Позволяет создавать новые архитектурные формы</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/fe91c3913bf342d2ae67d9bbab53f219"
    },
    {
      "contentTypeKey": "bbbb2222-2222-2222-2222-222222222222",
      "image": [
        {
          "key": "b127bec3-7aeb-44ab-8349-b31c90d271c8",
          "mediaKey": "2d59c26a-65a8-45ee-9ce0-0415eb53c7de"
        }
      ],
      "imageAlign": [
        "center"
      ],
      "imageSize": [
        "100%"
      ],
      "udi": "umb://element/1301e49ec46446b59b29db3ce6cb74a5"
    }
  ],
  "settingsData": []
}]]></Value>
    </testBlockGrid>
    <toolDescription>
      <Value><![CDATA[]]></Value>
    </toolDescription>
    <toolImage>
      <Value><![CDATA[[]]]></Value>
    </toolImage>
    <toolTitle>
      <Value><![CDATA[]]></Value>
    </toolTitle>
    <videoPrezentatsiya>
      <Value><![CDATA[]]></Value>
    </videoPrezentatsiya>
  </Properties>
</Content>