<?xml version="1.0" encoding="utf-8"?>
<Content Key="45a65abd-24e2-4f53-834b-ba1c190f43a1" Alias="Кирпичная кладка на вентфасаде!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/KirpichnayaKladkaNaVentfasade</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Кирпичная кладка на вентфасаде!" />
    <SortOrder>80</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Мы разработали новую систему НВФ РОНСОН-740 предназначенную для крепления облицовки из кирпича на вентилируемом фасаде.</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2017-10-20T20:56:30]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Кирпичная кладка на вентфасаде!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Мы разработали новую систему НВФ РОНСОН-740 предназначенную для крепления облицовки из кирпича на вентилируемом фасаде.</p><p>РОНСОН-740 &ndash; позволяет создать фасад из кирпича с охранением всех плюсов вентилируемого фасада.</p><p>&nbsp;</p><p style="text-align: center;"><img alt="" src="/netcat_files/userfiles/news/r-740.jpg" style="width: 300px; height: 300px;" /></p><p style="text-align: center;">&nbsp;</p><p>&nbsp;Более подробно с новой системой НВФ &quot;РОНСОН-740&quot; можно ознакомиться в разделе - <a href="/systems/kirpichnaya-kladka-na-ventfasade/">Кирпичная кладка на вентфасаде</a></p>]]></Value>
    </text>
  </Properties>
</Content>