<?xml version="1.0" encoding="utf-8"?>
<Content Key="88976b05-54df-4df1-bea9-9fd5ba7c524a" Alias="Кирпичная кладка на вентфасаде" Level="3">
  <Info>
    <Parent Key="a3c671aa-d24d-47c7-a671-6058fa0a3ecb">Системы</Parent>
    <Path>/Glavnaya/Sistemy/KirpichnayaKladkaNaVentfasade</Path>
    <Trashed>false</Trashed>
    <ContentType>sistema</ContentType>
    <CreateDate>2025-10-16T17:20:13</CreateDate>
    <NodeName Default="Кирпичная кладка на вентфасаде" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <detailImage>
      <Value><![CDATA[[
  {
    "key": "0a6d581a-6e93-4a87-bed9-1ba79e0ce325",
    "mediaKey": "4b656aa4-92d7-4c24-b230-dac9e53f3b3a"
  }
]]]></Value>
    </detailImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "7a121d87-3a79-4d36-ae8c-628e6368a56c",
    "mediaKey": "0ac6c033-77ea-4634-b90c-1c473938c6b8"
  }
]]]></Value>
    </imageGallery>
    <izobrazhenieDlyaSpiskaSistem>
      <Value><![CDATA[[
  {
    "key": "98f9962b-a851-475d-87da-3b5f3393eafc",
    "mediaKey": "61388dde-0fce-4b14-ae3b-db029289cc71"
  }
]]]></Value>
    </izobrazhenieDlyaSpiskaSistem>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "5411e146-d00f-4a51-86c9-7e500f2a9e81",
    "mediaKey": "4b656aa4-92d7-4c24-b230-dac9e53f3b3a"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <systemAdvantages>
      <Value><![CDATA[]]></Value>
    </systemAdvantages>
    <systemDescription>
      <Value><![CDATA[{
  "markup": "<p>РОНСОН-740 – система навесного вентилируемого фасада, предназначенная для крепления кирпича</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </systemDescription>
    <systemFeatures>
      <Value><![CDATA[]]></Value>
    </systemFeatures>
    <systemName>
      <Value><![CDATA[Кирпичная кладка на вентфасаде]]></Value>
    </systemName>
    <systemTag>
      <Value><![CDATA[РОНСОН-740]]></Value>
    </systemTag>
    <testBlockGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/634d9cfd243a4e30a22b398bf67fa234",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/bfe13a6a477144d78b329f7de94f7127",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/bb3d3015987d4276b867ed89593c286a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "aaaa1111-1111-1111-1111-111111111111",
      "textContent": {
        "markup": "<p><strong>РОНСОН-740 – позволяет создать фасад из кирпича с охранением всех плюсов вентилируемого фасада</strong></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/634d9cfd243a4e30a22b398bf67fa234"
    },
    {
      "contentTypeKey": "aaaa1111-1111-1111-1111-111111111111",
      "textContent": {
        "markup": "<p><strong>Особенности системы НВФ «РОНСОН-740»:</strong></p>\n<ul class=\"bullet-list body2\">\n<li>Наличие нескольких вариантов крепления кирпича к подсистеме позволяет воссоздать любые архитектурные формы</li>\n<li>Наличие межэтажного способа крепелния позволяет полностью снять нагрузку с заполнения стен</li>\n<li>Закладные элементы из нержавеющей стали гарантируют срок службы более 50 лет</li>\n<li>Гарантия надежности крепелния за счет детальной проработки всех узлов и деформационных стыков кирпичной кладки</li>\n<li>Специальный Кладочный кронштейн, обладающей повышенной несущей способностью</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/bfe13a6a477144d78b329f7de94f7127"
    },
    {
      "contentTypeKey": "bbbb2222-2222-2222-2222-222222222222",
      "image": [
        {
          "key": "243b8feb-afff-42fb-9e7c-b74ba82613e4",
          "mediaKey": "0ac6c033-77ea-4634-b90c-1c473938c6b8"
        }
      ],
      "imageAlign": [
        "left"
      ],
      "imageSize": [
        "100%"
      ],
      "udi": "umb://element/bb3d3015987d4276b867ed89593c286a"
    }
  ],
  "settingsData": []
}]]></Value>
    </testBlockGrid>
    <toolDescription>
      <Value><![CDATA[]]></Value>
    </toolDescription>
    <toolImage>
      <Value><![CDATA[[]]]></Value>
    </toolImage>
    <toolTitle>
      <Value><![CDATA[]]></Value>
    </toolTitle>
    <videoPrezentatsiya>
      <Value><![CDATA[]]></Value>
    </videoPrezentatsiya>
  </Properties>
</Content>