<?xml version="1.0" encoding="utf-8"?>
<Content Key="beab3f0b-5149-9818-a5a2-df3b82bb26bc" Alias="Комплекс административно–производственных зданий г. Зеленоград" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/KompleksAdministrativnoProizvodstvennykhZdaniiGZelenograd</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:35</CreateDate>
    <NodeName Default="Комплекс административно–производственных зданий г. Зеленоград" />
    <SortOrder>47</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[Московская область, г. Зеленоград, Сосновая аллея, д.6]]></Value>
    </description>
    <god>
      <Value><![CDATA[2008]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "b8c7f96d-236b-45c1-baa0-011cf2a67137",
    "mediaKey": "33bbc1f8-484c-9f41-6052-1865fa32b832"
  },
  {
    "key": "46bfc42e-af42-450a-b2a4-0eaf9fa545c9",
    "mediaKey": "6c0f8621-4fc7-66f4-76eb-dd6eddea99eb"
  },
  {
    "key": "755c249c-f802-4997-b1c7-9db298f69ed0",
    "mediaKey": "78ea8f39-6fc5-ffa6-77bc-934d76da4ca8"
  },
  {
    "key": "53ce8488-411e-45a5-84ac-b35c8704d65f",
    "mediaKey": "26732977-d330-523b-0ede-3494590d721d"
  },
  {
    "key": "65a8b720-9b5a-473c-b1b0-f1b9562df82a",
    "mediaKey": "48686bb0-4754-98b0-b63f-f24247298c06"
  },
  {
    "key": "c3f0fbf8-7f1e-4bba-b1cc-f3bfd6121a28",
    "mediaKey": "1ca97d33-40b6-b447-04f4-5486f1093a86"
  },
  {
    "key": "b3833365-2cbb-413f-bf9d-019a9cbf356f",
    "mediaKey": "d25e1d81-792d-18a4-b78d-18277ce93c22"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Комплекс административно–производственных зданий г. Зеленоград]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[фиброцементные плиты, металлокасеты]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[0]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[1]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-200"
]]]></Value>
    </systems>
  </Properties>
</Content>