<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb57afa1-0f75-4298-9650-933db4489a38" Alias="Компания «Тороговый Дом РОНСОН» получила Свидетельство о членстве в Союзе строителей Республики Крым." Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/KompaniyaTorogovyiDomRONSONPoluchilaSvidetelstvoOChlenstveVSoyuzeStroiteleiRespublikiKrym</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Компания «Тороговый Дом РОНСОН» получила Свидетельство о членстве в Союзе строителей Республики Крым." />
    <SortOrder>115</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Компания &laquo;Торговый Дом РОНСОН&raquo; стала членом Союза Строителей Республики Крым. ССРК &ndash; крупная общественная организация, объединяющая строительные организации, предприятия стройиндустрии, институты. Руководители и члены Союза тесно взаимодействуют с Государственной думой РФ и ее профильными комитетами, с Правительством РФ, Советом Федерации, Министерством регионального развития РФ, принимают участие в разработке новых законодательных актов и совершенствовании нормативной базы.</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2014-12-03T18:21:50]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Компания «Тороговый Дом РОНСОН» получила Свидетельство о членстве в Союзе строителей Республики Крым.]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Компания &laquo;Торговый Дом РОНСОН&raquo; стала членом Союза Строителей Республики Крым. ССРК &ndash; крупная общественная организация, объединяющая строительные организации, предприятия стройиндустрии, институты. Руководители и члены Союза тесно взаимодействуют с Государственной думой РФ и ее профильными комитетами, с Правительством РФ, Советом Федерации, Министерством регионального развития РФ, принимают участие в разработке новых законодательных актов и совершенствовании нормативной базы.</p><p><img alt="" src="/netcat_files/userfiles/sstroitel/IMG_5366.jpg" style="width: 800px; height: 514px;" /></p>]]></Value>
    </text>
  </Properties>
</Content>