<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb854a58-3360-4a50-9b83-baa8e722a84f" Alias="Контакты" Level="2">
  <Info>
    <Parent Key="5f1311c8-eabc-4395-a068-ac1e99ed290c">Главная</Parent>
    <Path>/Glavnaya/Kontakty</Path>
    <Trashed>false</Trashed>
    <ContentType>kontakty</ContentType>
    <CreateDate>2025-09-15T12:56:40</CreateDate>
    <NodeName Default="Контакты" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5309e32f-bc8d-454f-b141-0644677f28ac">Kontakty</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>