<?xml version="1.0" encoding="utf-8"?>
<Content Key="056a7b7c-ea12-7a1f-fce6-6a0ff9e17e82" Alias="Комплекс жилых домов (4)" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/KompleksZhilykhDomov4</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:06</CreateDate>
    <NodeName Default="Комплекс жилых домов (4)" />
    <SortOrder>141</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г.Балашиха, мкр-н Сокраменто]]></Value>
    </description>
    <god>
      <Value><![CDATA[2014]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "4c7a62c9-2b50-4d43-b7d3-79d852edf227",
    "mediaKey": "fa35a0a1-2e90-134e-3abc-b25f8b9add7c"
  },
  {
    "key": "6856bd06-b0cd-45d5-8774-434b27decb92",
    "mediaKey": "75c67bde-bfd8-bef3-52a5-8d45fc456085"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Комплекс жилых домов]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300 (КРЕПЛЕНИЕ В МЕЖЭТАЖНЫЕ ПЕРЕКРЫТИЯ)"
]]]></Value>
    </systems>
  </Properties>
</Content>