<?xml version="1.0" encoding="utf-8"?>
<Content Key="b45402f8-0908-4a8d-ba18-54589bf3bb4a" Alias="Компания РОНСОН поздравляет Вас с Всемирным днем архитектуры!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/KompaniyaRONSONPozdravlyaetVasSVsemirnymDnemArkhitektury</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Компания РОНСОН поздравляет Вас с Всемирным днем архитектуры!" />
    <SortOrder>97</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>От всей души желаем творческих&nbsp;свершений, новых проектов, инновационных идей и неиссякаемого вдохновения!</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2015-10-05T15:01:36]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Компания РОНСОН поздравляет Вас с Всемирным днем архитектуры!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>От всей души желаем творческих&nbsp;свершений, новых проектов, инновационных идей и неиссякаемого вдохновения!</p><p>На протяжении многих лет РОНСОН сотрудничает с лучшими российскими архитекторами. Благодарим наших партнеров за интересную и успешную работу по созданию прекрасных и неповторимых объектов. Вы &ndash; наш творческий двигатель, ведь именно задумки архитекторов, порой самые невероятные, рождают новые решения и развивают уже существующие проекты. Мы верим, что все самое лучшее &ndash; еще впереди!&nbsp;</p><p><img alt="" src="http://ronson-group.ru/netcat_files/userfiles/1/den-arhi-ronson.jpg" style="width: 700px; height: 528px;" /></p>]]></Value>
    </text>
  </Properties>
</Content>