<?xml version="1.0" encoding="utf-8"?>
<Content Key="78cdfe06-caa6-4eb9-8c17-2e6bb57b2e4c" Alias="Коллаборации" Level="2">
  <Info>
    <Parent Key="5f1311c8-eabc-4395-a068-ac1e99ed290c">Главная</Parent>
    <Path>/Glavnaya/Kollaboratsii</Path>
    <Trashed>false</Trashed>
    <ContentType>kollaborafii</ContentType>
    <CreateDate>2025-09-15T12:42:29</CreateDate>
    <NodeName Default="Коллаборации" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c119b7dc-29fc-4431-958c-86b8764a4d80">Kollaborafii</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[{
  "markup": "<p class=\"text-regular-secondary leading-normal max-w-[640px] mx-auto body1 mt-5 mb-20\">Мы развиваем партнёрство с ведущими брендами White Hills и RECKE, создавая инновационные фасадные системы. Наши решения основаны на глубоком анализе рынка и точно отвечают современным требованиям архитектуры и строительства.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>