<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3b34511-9116-4ae0-95a8-5b00de0a0b0f" Alias="Компания «АРТ ФАСАД РОНСОН» приглашает Вас посетить наш стенд на специализированной выставке «Малоэтажное домостроение. Строительные и отделочные материалы»" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/KompaniyaARTFASADRONSONPriglashaetVasPosetitNashStendNaSpetsializirovannoiVystavkeMaloetazhnoeDomostroenieStroitelnyeIOtdelochnyeMaterialy</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Компания «АРТ ФАСАД РОНСОН» приглашает Вас посетить наш стенд на специализированной выставке «Малоэтажное домостроение. Строительные и отделочные материалы»" />
    <SortOrder>82</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>C 11 по 14 мая 2016 года&nbsp;пройдет специализированная&nbsp;выставка &laquo;Малоэтажное домостроение. Строительные и отделочные материалы&raquo;&nbsp;в Красноярске.</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2016-04-18T15:54:39]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Компания «АРТ ФАСАД РОНСОН» приглашает Вас посетить наш стенд на специализированной выставке «Малоэтажное домостроение. Строительные и отделочные материалы»]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Производитель Навесных Фасадных Систем, Компания &laquo;Арт Фасад РОНСОН&raquo;, Москва приглашает Вас с 11 по 14 мая 2016 года посетить наш стенд, организованный совместно с нашими партнерами &laquo;<a>Строительная керамика</a>&raquo;, на специализированной выставке &laquo;Малоэтажное домостроение. Строительные и отделочные материалы&raquo; в г. Красноярске., которая проходит по адресу: г. Красноярск, &nbsp;ул. Авиаторов, 19,&nbsp;МВДЦ &laquo;Сибирь&raquo;, Павильон №2. Наш стенд № В 801.</p><p>&nbsp;</p><p>&nbsp;Получить бесплатный электронный билет можно пройдя по <a>ссылке</a>.</p><p>&nbsp;</p><p>Будем рады вас видеть!</p><p>&nbsp;</p><p><a href="http://www.ronson-group.ru/netcat_files/userfiles/news/stnd.jpg" rel="lightbox"><img alt="" src="http://www.ronson-group.ru/netcat_files/userfiles/news/stnd.jpg" style="width: 700px; height: 494px;" /></a></p><p>&nbsp;</p>]]></Value>
    </text>
  </Properties>
</Content>