<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a4c52fa-3e26-493b-9551-82c64d553a1c" Alias="Компания «РОНСОН» и ее дилер во Владивостоке ООО «Центр Фасадов» принимают участие в 22-ой международной строительной выставке «Город»." Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/KompaniyaRONSONIEeDilerVoVladivostokeOOOFentrFasadovPrinimayutUchastieV22OiMezhdunarodnoiStroitelnoiVystavkeGorod</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Компания «РОНСОН» и ее дилер во Владивостоке ООО «Центр Фасадов» принимают участие в 22-ой международной строительной выставке «Город»." />
    <SortOrder>90</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>На выставке во Владивостоке представлены системы навесных вентилируемых фасадов &laquo;РОНСОН&raquo;, а также материалы для их облицовки.&nbsp;</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2015-04-23T12:47:19]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Компания «РОНСОН» и ее дилер во Владивостоке ООО «Центр Фасадов» принимают участие в 22-ой международной строительной выставке «Город».]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>На выставке во Владивостоке представлены системы навесных вентилируемых фасадов &laquo;РОНСОН&raquo;, а также материалы для их облицовки. Большим интересом у посетителей стенда пользуются японские фасадные плиты KMEW, натуральная клинкерная плитка для вентфасада, тонкостенный декор из стеклофибробетона.</p><p>Выставка &laquo;Город&raquo; проходит в концертно-спортивном комплексе &laquo;Фетисов Арена&raquo; (г.Владивосток, ул. Маковского, 284) с 22 по 24 апреля. Участие в ней принимают более 140 компаний из России, а также из представители Китая, Японии, Кипра. Посещение выставки &ndash; свободное.&nbsp;</p><p>Приглашаем всех желающих посетить наш стенд №125!</p>]]></Value>
    </text>
  </Properties>
</Content>