<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0b541d6-ee34-43a8-9503-4ecec14b15af" Alias="Листовые материалы" Level="3">
  <Info>
    <Parent Key="a3c671aa-d24d-47c7-a671-6058fa0a3ecb">Системы</Parent>
    <Path>/Glavnaya/Sistemy/ListovyeMaterialy</Path>
    <Trashed>false</Trashed>
    <ContentType>sistema</ContentType>
    <CreateDate>2025-10-16T19:32:40</CreateDate>
    <NodeName Default="Листовые материалы" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <detailImage>
      <Value><![CDATA[[
  {
    "key": "5796d46e-ded4-443e-a95a-3768fae4ca94",
    "mediaKey": "5689d365-7510-4bb3-a2ae-42fcad372acc"
  }
]]]></Value>
    </detailImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <izobrazhenieDlyaSpiskaSistem>
      <Value><![CDATA[[
  {
    "key": "7a63e16b-25f9-4779-bddf-d0c83d584434",
    "mediaKey": "a3cc8c9e-1583-4c85-8f6a-f6d01ed0b29d"
  }
]]]></Value>
    </izobrazhenieDlyaSpiskaSistem>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "231827dc-1352-4c4b-81dc-37b8dcbba716",
    "mediaKey": "5689d365-7510-4bb3-a2ae-42fcad372acc"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <systemAdvantages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ecd3a4c6f6164c429b0312b57fffdc75"
      },
      {
        "contentUdi": "umb://element/4da52d94998d45fa9f4d07cca01540fc"
      },
      {
        "contentUdi": "umb://element/e61745f289ce4ab589bd4098c8255df7"
      }
    ]
  },
  "contentData": [
    {
      "advantageDescription": "Надежное крепление облицовки с помощью заклепок с широким бортиков повышает прочность фасада и обеспечивает надежность системы при больших ветровых нагрузках",
      "advantageIcon": [
        {
          "key": "99ebe132-7e21-47c4-8d70-4aa26925594b",
          "mediaKey": "44a42c78-275c-4f0f-8601-306aa8f8c042"
        }
      ],
      "advantageTitle": "Надежное крепление облицовки",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/ecd3a4c6f6164c429b0312b57fffdc75"
    },
    {
      "advantageDescription": "Применение заклепок без проставочных втулок повышает надежность, уменьшает стоимость и ускоряет монтаж",
      "advantageIcon": [
        {
          "key": "84340a59-508d-459d-9aa0-7b75a9397b86",
          "mediaKey": "42fec790-8766-419c-9656-0f77bcd05e1d"
        }
      ],
      "advantageTitle": "Применение заклепок без проставочных втулок",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/4da52d94998d45fa9f4d07cca01540fc"
    },
    {
      "advantageDescription": "Увеличенная ширина полки планки горизонтального шва до 35 мм позволяет крепить ее к вертикальным направляющим под облицовочной плитой с помощью заклепок, что предотвращает ее выпадение",
      "advantageIcon": [
        {
          "key": "1f88edd7-440e-425f-a483-b2852c4232bb",
          "mediaKey": "0cf35893-1522-4a5c-8976-3c753bb421d2"
        }
      ],
      "advantageTitle": "Увеличенная ширина полки планки горизонтального шва",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/e61745f289ce4ab589bd4098c8255df7"
    }
  ],
  "settingsData": []
}]]></Value>
    </systemAdvantages>
    <systemDescription>
      <Value><![CDATA[{
  "markup": "<p>РОНСОН-100 – система навесного вентилируемого фасада, предназначенная для крепления облицовки из фиброцементных плит, Rockpanel и HPL-панелей.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </systemDescription>
    <systemFeatures>
      <Value><![CDATA[]]></Value>
    </systemFeatures>
    <systemName>
      <Value><![CDATA[Листовые материалы]]></Value>
    </systemName>
    <systemTag>
      <Value><![CDATA[РОНСОН-100]]></Value>
    </systemTag>
    <testBlockGrid>
      <Value><![CDATA[]]></Value>
    </testBlockGrid>
    <toolDescription>
      <Value><![CDATA[]]></Value>
    </toolDescription>
    <toolImage>
      <Value><![CDATA[[]]]></Value>
    </toolImage>
    <toolTitle>
      <Value><![CDATA[]]></Value>
    </toolTitle>
    <videoPrezentatsiya>
      <Value><![CDATA[]]></Value>
    </videoPrezentatsiya>
  </Properties>
</Content>