<?xml version="1.0" encoding="utf-8"?>
<Content Key="9664c634-a73a-0cd8-8564-5da209b556b7" Alias="Магазин Мультибренд" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/MagazinMultibrend</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:28</CreateDate>
    <NodeName Default="Магазин Мультибренд" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Екатеринбург, ул. Первомайская, д. 54]]></Value>
    </description>
    <god>
      <Value><![CDATA[2010]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "bef9cf20-54f3-4567-a661-953300028084",
    "mediaKey": "e3421afa-3b8a-ed4d-8610-85d1f0a09e77"
  },
  {
    "key": "7f027b7d-a630-4093-853f-46aa1d416c3a",
    "mediaKey": "cc277296-2d33-abd7-5cf1-1c486404d393"
  },
  {
    "key": "af9bc12f-465d-41f0-897b-11d12298af19",
    "mediaKey": "d871d05b-500a-99ef-a607-8aec25e863b0"
  },
  {
    "key": "cbd942e4-d16b-47fe-ab53-fb373d51716b",
    "mediaKey": "0e2029c5-c0c0-7a62-44b2-c35c02a4bec5"
  },
  {
    "key": "b92e5341-7148-4283-8ccc-28c504d89fac",
    "mediaKey": "569c5b5f-84bd-a25a-f911-d84accb273a3"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Магазин Мультибренд]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (скрытое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[1]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-400"
]]]></Value>
    </systems>
  </Properties>
</Content>