<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8e781ae-8986-5dea-2f62-349c9f35b232" Alias="Мортонград «Путилково»" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/MortongradPutilkovo</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:10</CreateDate>
    <NodeName Default="Мортонград «Путилково»" />
    <SortOrder>163</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[Московская область, Красногорский район, деревня Путилково]]></Value>
    </description>
    <god>
      <Value><![CDATA[2015]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "41f364e6-b431-4791-a0e3-9802001ffe47",
    "mediaKey": "37b5b7dc-a605-3dc2-e5bb-f1873fdba7e7"
  },
  {
    "key": "eac5e7c3-6e82-47d0-ba47-3ce92771744c",
    "mediaKey": "fae19d2e-1863-f434-a859-12c66bb73313"
  },
  {
    "key": "b318bf9d-ec57-431d-95a3-613c77b4866e",
    "mediaKey": "9d63eaad-eb5b-a546-67c1-d6e4a32724c4"
  },
  {
    "key": "2a225ecb-7bec-4d2c-945e-52986720c30e",
    "mediaKey": "2fed73b4-0fa8-8393-c879-9daaf288599c"
  },
  {
    "key": "9f345810-c8b8-4d2f-bd77-8b7b8d303a42",
    "mediaKey": "50aa3796-bbe3-f43b-33e0-c80e0c71ea76"
  },
  {
    "key": "03890c21-38db-46a5-ba18-363d6d9a0f40",
    "mediaKey": "3bd3723b-bdf6-ef5e-dae1-c73160d8dbab"
  },
  {
    "key": "022fe960-69a4-4981-86a2-4e836b596f2a",
    "mediaKey": "eda26afb-3e9e-927e-0266-c996afbeb69f"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Мортонград «Путилково»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>