<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c0ebc8e-7401-4657-b863-444c48ec38d8" Alias="Мы получили очередной патент «Кляммер для крепления облицовочных плит фасадов зданий»" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/MyPoluchiliOcherednoiPatentKlyammerDlyaKrepleniyaOblitsovochnykhPlitFasadovZdanii</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Мы получили очередной патент «Кляммер для крепления облицовочных плит фасадов зданий»" />
    <SortOrder>125</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[nan]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2010-07-26T02:32:32]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Мы получили очередной патент «Кляммер для крепления облицовочных плит фасадов зданий»]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Мы получили патент на ИЗОБРЕТЕНИЕ &laquo;Кляммер для крепления облицовочных плит фасадов зданий&raquo;</p><p>&nbsp;</p><p>&nbsp;</p><div align="center"><a href="/images/000001991.jpg" linkindex="36" rel="lightbox" set="yes"><img alt="" border="1" src="/images/000001992.jpg" style="border-left-color: #b0b0b0; border-bottom-color: #b0b0b0; border-top-color: #b0b0b0; border-right-color: #b0b0b0" /> </a></div><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><div style="clear: both;">&nbsp;</div>]]></Value>
    </text>
  </Properties>
</Content>