<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0bd1981-07bc-471a-bf95-dc066402c185" Alias="МЫ ПОЛУЧИЛИ ОЧЕРЕДНОЙ ПАТЕНТ!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/MYPOLUChILIOChEREDNOIPATENT</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="МЫ ПОЛУЧИЛИ ОЧЕРЕДНОЙ ПАТЕНТ!" />
    <SortOrder>123</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[nan]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2011-12-15T01:50:50]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[МЫ ПОЛУЧИЛИ ОЧЕРЕДНОЙ ПАТЕНТ!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>	Мы получили патент <strong>№2435006</strong> на ИЗОБРЕТЕНИЕ «Устройство для крепления облицовочных панелей к <a href="/">НВФ</a> скрытым способом с индивидуальной заменой плиток облицовки»</p><div align="center">	<a href="/images/000002456.jpg" rel="lightbox"><img alt="" border="1" src="/images/000002457.jpg" style="border-left-color: #b0b0b0; border-bottom-color: #b0b0b0; border-top-color: #b0b0b0; border-right-color: #b0b0b0" /> </a>	<div style="clear: both;">		&nbsp;</div></div><p>	&nbsp;</p>]]></Value>
    </text>
  </Properties>
</Content>