<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2faeaf5-e66f-4777-9cb7-c0b1f7e25f1d" Alias="Мы получили очередной патент «Вертикальная направляющая для крепления облицовочных плит навесного вентилируемого фасада»" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/MyPoluchiliOcherednoiPatentVertikalnayaNapravlyayuschayaDlyaKrepleniyaOblitsovochnykhPlitNavesnogoVentiliruemogoFasada</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Мы получили очередной патент «Вертикальная направляющая для крепления облицовочных плит навесного вентилируемого фасада»" />
    <SortOrder>124</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[nan]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2010-05-19T02:53:56]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Мы получили очередной патент «Вертикальная направляющая для крепления облицовочных плит навесного вентилируемого фасада»]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Мы получили патент на ИЗОБРЕТЕНИЕ &laquo;Вертикальная направляющая для крепления облицовочных плит навесного вентилируемого фасада&raquo;</p><p><br /><br />&nbsp;</p><div align="center"><a href="/images/000001573.jpg" linkindex="36" rel="lightbox" set="yes"><img alt="" border="1" src="/images/000001574.jpg" style="border-bottom-color: #b0b0b0; border-top-color: #b0b0b0; border-right-color: #b0b0b0; border-left-color: #b0b0b0" /> </a></div><p><br /><br />&nbsp;</p><p>Со всеми нашими патентами Вы можете ознакомится в разделе &laquo;Техническая документация&raquo;</p><div style="clear: both;">&nbsp;</div>]]></Value>
    </text>
  </Properties>
</Content>