<?xml version="1.0" encoding="utf-8"?>
<Content Key="b42c53fa-3871-4248-aa1e-00169b045921" Alias="Натуральный камень с рустами" Level="3">
  <Info>
    <Parent Key="a3c671aa-d24d-47c7-a671-6058fa0a3ecb">Системы</Parent>
    <Path>/Glavnaya/Sistemy/NaturalnyiKamenSRustami</Path>
    <Trashed>false</Trashed>
    <ContentType>sistema</ContentType>
    <CreateDate>2025-10-16T19:07:51</CreateDate>
    <NodeName Default="Натуральный камень с рустами" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <detailImage>
      <Value><![CDATA[[
  {
    "key": "f502cab8-8cd5-4523-8c69-733906b9bd3e",
    "mediaKey": "8b30cc7a-dd0a-4aea-a9a8-2e19d3653b65"
  }
]]]></Value>
    </detailImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <izobrazhenieDlyaSpiskaSistem>
      <Value><![CDATA[[
  {
    "key": "cf5b9a0f-89be-47ca-8e34-3232834e02f5",
    "mediaKey": "804efb29-b849-4549-a5bb-8bd2fa3cc32a"
  }
]]]></Value>
    </izobrazhenieDlyaSpiskaSistem>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "87d45c0b-7c50-46d0-9c87-c378010ed60d",
    "mediaKey": "8b30cc7a-dd0a-4aea-a9a8-2e19d3653b65"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <systemAdvantages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bbad1a19e3484f37b70f1b269fc24a5a"
      },
      {
        "contentUdi": "umb://element/555321b1eb1d418e9f6a54ea09f9ab96"
      },
      {
        "contentUdi": "umb://element/7021a4c6cb034acfa77c2eb7a73357a9"
      }
    ]
  },
  "contentData": [
    {
      "advantageDescription": "Исключены дорогостоящие операции по изготовлению изделий индивидуальной формы. Русты на фасаде создаются с использованием камня стандартной толщины",
      "advantageIcon": [
        {
          "key": "86a1b63f-26c3-4050-8e13-0a2692002929",
          "mediaKey": "6043d717-c092-49d2-859d-f024b177712a"
        }
      ],
      "advantageTitle": "Исключены дорогостоящие операции",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/bbad1a19e3484f37b70f1b269fc24a5a"
    },
    {
      "advantageDescription": "Наличие собственного каркаса на лицевом камне облегчает процесс монтажа и улучшает эксплуатационные характеристики фасада",
      "advantageIcon": [
        {
          "key": "1b8e83ea-246e-49f7-972d-80d56209cee7",
          "mediaKey": "c20efbe7-ac67-4c97-98a1-263691c24873"
        }
      ],
      "advantageTitle": "Наличие собственного каркаса",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/555321b1eb1d418e9f6a54ea09f9ab96"
    },
    {
      "advantageDescription": "Пропилы и сборка элементов могут производиться в условиях стройки",
      "advantageIcon": [
        {
          "key": "e5e1ce2c-4428-433a-b5f1-422179c7b295",
          "mediaKey": "2912553c-dba4-4f68-b03c-a78a01c0b9f0"
        }
      ],
      "advantageTitle": "Пропилы и сборка",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/7021a4c6cb034acfa77c2eb7a73357a9"
    }
  ],
  "settingsData": []
}]]></Value>
    </systemAdvantages>
    <systemDescription>
      <Value><![CDATA[{
  "markup": "<p>РОНСОН-400 - система навесного вентилируемого фасада, предназначенная для облицовки из натурального камня, в том числе из натурального камня с рустами.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </systemDescription>
    <systemFeatures>
      <Value><![CDATA[]]></Value>
    </systemFeatures>
    <systemName>
      <Value><![CDATA[Натуральный камень с рустами]]></Value>
    </systemName>
    <systemTag>
      <Value><![CDATA[РОНСОН-400]]></Value>
    </systemTag>
    <testBlockGrid>
      <Value><![CDATA[]]></Value>
    </testBlockGrid>
    <toolDescription>
      <Value><![CDATA[]]></Value>
    </toolDescription>
    <toolImage>
      <Value><![CDATA[[]]]></Value>
    </toolImage>
    <toolTitle>
      <Value><![CDATA[]]></Value>
    </toolTitle>
    <videoPrezentatsiya>
      <Value><![CDATA[]]></Value>
    </videoPrezentatsiya>
  </Properties>
</Content>