<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c410a93-d3e6-4082-8cc3-80c387aa049e" Alias="Натуральный камень" Level="3">
  <Info>
    <Parent Key="a3c671aa-d24d-47c7-a671-6058fa0a3ecb">Системы</Parent>
    <Path>/Glavnaya/Sistemy/NaturalnyiKamen</Path>
    <Trashed>false</Trashed>
    <ContentType>sistema</ContentType>
    <CreateDate>2025-10-16T19:01:57</CreateDate>
    <NodeName Default="Натуральный камень" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <detailImage>
      <Value><![CDATA[[
  {
    "key": "b69b228f-1cbc-4080-bff7-982f1901088b",
    "mediaKey": "d9003cd7-cd93-4cd0-9e7a-15194601df89"
  }
]]]></Value>
    </detailImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <izobrazhenieDlyaSpiskaSistem>
      <Value><![CDATA[[
  {
    "key": "440daf5a-f866-44c5-bf97-f3a5b51a2a2c",
    "mediaKey": "d9003cd7-cd93-4cd0-9e7a-15194601df89"
  }
]]]></Value>
    </izobrazhenieDlyaSpiskaSistem>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "d647b7d0-d10a-40fe-855b-7954f3f4ad4d",
    "mediaKey": "d9003cd7-cd93-4cd0-9e7a-15194601df89"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <systemAdvantages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c4c4639790c441f8b3c424eb5bfff53f"
      },
      {
        "contentUdi": "umb://element/4d9718de1a2746dbb5f52e73bc195677"
      },
      {
        "contentUdi": "umb://element/a1ec4134b6f34fa6b8db97254d7f4ec0"
      },
      {
        "contentUdi": "umb://element/a9cd8d8352d049d984a3abd097598f98"
      }
    ]
  },
  "contentData": [
    {
      "advantageDescription": "Несущая способность – более 200 кг/м2. Реализован относ от стены 400 мм при толщине камня – 70 мм",
      "advantageIcon": [
        {
          "key": "3d7b22af-63c8-4b69-9147-4c69751d2e77",
          "mediaKey": "44a42c78-275c-4f0f-8601-306aa8f8c042"
        }
      ],
      "advantageTitle": "Несущая способность",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/c4c4639790c441f8b3c424eb5bfff53f"
    },
    {
      "advantageDescription": "Возможность уменьшения шва между плитами – до 2 мм",
      "advantageIcon": [
        {
          "key": "3179f4aa-5e4a-41ee-a0ea-b8514eaf7156",
          "mediaKey": "cf2c042b-e200-42a6-9491-df5c734fc3bb"
        }
      ],
      "advantageTitle": "Возможность уменьшения шва",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/4d9718de1a2746dbb5f52e73bc195677"
    },
    {
      "advantageDescription": "Наличие компенсационных усиков обеспечивает автоматический термозазор и упрощает процесс монтажа",
      "advantageIcon": [
        {
          "key": "0d37ce41-916c-41dc-bcd8-c443121de191",
          "mediaKey": "7fc0d50b-5f37-4fdd-bf42-163db8a6ccc2"
        }
      ],
      "advantageTitle": "Наличие компенсационных усиков",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/a1ec4134b6f34fa6b8db97254d7f4ec0"
    },
    {
      "advantageDescription": "Наличие разных типоразмеров профилей (ПС-ПЗ) позволяет создавать различные архитектурные формы на фасаде",
      "advantageIcon": [
        {
          "key": "4b2e3039-9ec5-468c-a582-fa7f98593005",
          "mediaKey": "e87f2cb0-7030-4ce7-aef1-7b28bf011bc9"
        }
      ],
      "advantageTitle": "Наличие разных типоразмеров профилей",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/a9cd8d8352d049d984a3abd097598f98"
    }
  ],
  "settingsData": []
}]]></Value>
    </systemAdvantages>
    <systemDescription>
      <Value><![CDATA[{
  "markup": "<p>РОНСОН-400 - система навесного вентилируемого фасада, предназначенная для облицовки из натурального камня.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </systemDescription>
    <systemFeatures>
      <Value><![CDATA[]]></Value>
    </systemFeatures>
    <systemName>
      <Value><![CDATA[Натуральный камень]]></Value>
    </systemName>
    <systemTag>
      <Value><![CDATA[РОНСОН-400]]></Value>
    </systemTag>
    <testBlockGrid>
      <Value><![CDATA[]]></Value>
    </testBlockGrid>
    <toolDescription>
      <Value><![CDATA[]]></Value>
    </toolDescription>
    <toolImage>
      <Value><![CDATA[[]]]></Value>
    </toolImage>
    <toolTitle>
      <Value><![CDATA[]]></Value>
    </toolTitle>
    <videoPrezentatsiya>
      <Value><![CDATA[]]></Value>
    </videoPrezentatsiya>
  </Properties>
</Content>