<?xml version="1.0" encoding="utf-8"?>
<Content Key="d25d7e33-0310-4db8-b27e-e88109263c1a" Alias="Новости" Level="3">
  <Info>
    <Parent Key="e2ac0bb2-e330-437c-b283-88823c03535f">О нас</Parent>
    <Path>/Glavnaya/ONas/Novosti</Path>
    <Trashed>false</Trashed>
    <ContentType>nOVOSTI</ContentType>
    <CreateDate>2025-09-14T20:21:31</CreateDate>
    <NodeName Default="Новости" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3913617f-f3fe-4c84-9356-47df78fc5880">NOVOSTI</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>