<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f575637-a256-42bb-a97a-9ad808cd4d97" Alias="Очередной Евразийский патент РОНСОН!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/OcherednoiEvraziiskiiPatentRONSON</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Очередной Евразийский патент РОНСОН!" />
    <SortOrder>155</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Мы получили еще один Евразийский патент на изобретение.</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2021-02-01T17:36:38]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Очередной Евразийский патент РОНСОН!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Мы получили Евразийский патент №036939&nbsp;на изобретение &laquo;Навесной фасад из пустотелого кирпича&raquo;.</p><div id="center" style="color: rgb(0, 0, 0); font-family: Times; font-size: medium; "><p>&nbsp;</p><table align="center" border="0" cellpadding="0" cellspacing="0"><tbody>	<tr>		<td align="center" width="100%">		<div align="center" style="width: 170px; float: left; height: 300px; "><a href="/images/patents/big_036939.jpg" linkindex="36" rel="lightbox" set="yes"><img alt="" src="/images/new_036939.jpg" style="border: 1px solid rgb(176, 176, 176); width: 200px; height: 283px;" /></a></div></td>	</tr></tbody></table></div>]]></Value>
    </text>
  </Properties>
</Content>