<?xml version="1.0" encoding="utf-8"?>
<Content Key="18d970f3-0bb5-4ec8-a06b-55fcfeaa72cf" Alias="Объекты" Level="2">
  <Info>
    <Parent Key="5f1311c8-eabc-4395-a068-ac1e99ed290c">Главная</Parent>
    <Path>/Glavnaya/Obekty</Path>
    <Trashed>false</Trashed>
    <ContentType>papka</ContentType>
    <CreateDate>2025-09-15T12:27:26</CreateDate>
    <NodeName Default="Объекты" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>