<?xml version="1.0" encoding="utf-8"?>
<Content Key="54ba7872-d75f-9501-7ed8-e20453aeb7c1" Alias="Офисное здание (1)" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/OfisnoeZdanie1</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:51</CreateDate>
    <NodeName Default="Офисное здание (1)" />
    <SortOrder>91</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, Мурманский пр-д, д. 514/1]]></Value>
    </description>
    <god>
      <Value><![CDATA[2013]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "44856f72-e976-48cf-991a-5c999232d447",
    "mediaKey": "c7a72d41-ac05-0a72-0941-d2eca41a8ed9"
  },
  {
    "key": "9fef5680-b6c2-4597-a232-82a5fbeea67a",
    "mediaKey": "c7eb75d1-d0c8-c9ac-a8ec-0107d467ad24"
  },
  {
    "key": "e2ffb302-f773-4a48-a407-d5b694544deb",
    "mediaKey": "4a9e196a-87f5-c4ae-171c-39053507f0c3"
  },
  {
    "key": "4c914532-e239-45b6-95c6-4939f8a66950",
    "mediaKey": "1089784a-b49b-11b4-c42a-75090afba0f8"
  },
  {
    "key": "d1828a5c-fb77-4ce0-af6e-48010f158dac",
    "mediaKey": "cd68cc3f-c8fb-5b37-6c3e-bcf26bd90a24"
  },
  {
    "key": "fa64a3a6-e0ed-47d4-ac87-e79cae15917b",
    "mediaKey": "e7b30444-603b-e274-2fa1-765a50471f84"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Офисное здание]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[кассеты из алюмокомпозита, керамогранит, натуральный камень, светопрозрачные конструкции]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[1]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-200"
]]]></Value>
    </systems>
  </Properties>
</Content>