<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b527924-b74c-89fd-bb66-d19a73c1ffb3" Alias="Офисное здание (2)" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/OfisnoeZdanie2</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:51</CreateDate>
    <NodeName Default="Офисное здание (2)" />
    <SortOrder>93</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, Милютинский пер., вл. 14]]></Value>
    </description>
    <god>
      <Value><![CDATA[2013]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "4a1aac2b-f556-41aa-9b54-48f85bfb46a3",
    "mediaKey": "de8f601a-e78d-e2f8-7eab-00e2b9ef30b2"
  },
  {
    "key": "25a5bb8c-60ed-4ea4-8900-7c9a1d241463",
    "mediaKey": "8710f3d5-4d91-96ec-7741-98c391134c88"
  },
  {
    "key": "9dcc4886-a573-41b3-af3a-f768653a9b11",
    "mediaKey": "0f04b57e-9292-2ff4-bebc-6fe0a9a6841b"
  },
  {
    "key": "8280c62b-72b3-4c26-a2ad-0436bad59324",
    "mediaKey": "5afbcc42-26a1-b47c-3712-676eb206eddf"
  },
  {
    "key": "8bdd6580-0b32-46f0-9ad7-9376215543f7",
    "mediaKey": "89b1dc4b-873a-7173-f4dc-a542c039de94"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Офисное здание]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[натуральный камень, агломератные плиты, фасадный декор]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[1]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-400"
]]]></Value>
    </systems>
  </Properties>
</Content>