<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bf31803-6faf-2310-9df6-00268bf56608" Alias="Офисное здание (4)" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/OfisnoeZdanie4</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:12</CreateDate>
    <NodeName Default="Офисное здание (4)" />
    <SortOrder>168</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г .Москва, Старомонетный переулок, д. 4, стр. 1]]></Value>
    </description>
    <god>
      <Value><![CDATA[2016]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "6d94f5ec-f74c-4881-8ddc-727e8f7c477f",
    "mediaKey": "f3ac5c8c-7d0e-7eff-c124-e5f576bd89f1"
  },
  {
    "key": "40674938-3feb-4a93-929d-cdfe49e6c5db",
    "mediaKey": "faca3e88-3489-1095-c109-1b40759517c2"
  },
  {
    "key": "51427c65-f3b4-453a-b11a-fec5ef7d2866",
    "mediaKey": "717407b2-06d2-2b1d-d268-005ea3541e31"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Офисное здание]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[декоративный камень White Hills]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>