<?xml version="1.0" encoding="utf-8"?>
<Content Key="df56acf3-509d-4f5c-9710-5472215bf476" Alias="Партнерская сеть" Level="2">
  <Info>
    <Parent Key="5f1311c8-eabc-4395-a068-ac1e99ed290c">Главная</Parent>
    <Path>/Glavnaya/PartnerskayaSet</Path>
    <Trashed>false</Trashed>
    <ContentType>partnerskayaSet</ContentType>
    <CreateDate>2025-09-15T12:48:30</CreateDate>
    <NodeName Default="Партнерская сеть" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="482a063d-762d-4406-aab4-9b5dba8fc1eb">PartnerskayaSet</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <heroButtonText>
      <Value><![CDATA[РАБОТАТЬ С НАМИ]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[[
  {
    "udi": "umb://document/df56acf3509d4f5c97105472215bf476"
  }
]]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[{
  "markup": "<h3 class=\"text-[42px] font-normal tracking-normal\">здесь архитектура<br>встречается с инженерией</h3>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[{
  "markup": "<h1 class=\"py-6\">Представители, дилеры и партнеры</h1>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>