<?xml version="1.0" encoding="utf-8"?>
<Content Key="34a55b9b-fb0a-28fc-1058-dbf663a1da32" Alias="Пенсионный фонд Российской Федерации" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/PensionnyiFondRossiiskoiFederatsii</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:51</CreateDate>
    <NodeName Default="Пенсионный фонд Российской Федерации" />
    <SortOrder>90</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул. Стасовой, вл. 14]]></Value>
    </description>
    <god>
      <Value><![CDATA[2013]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "b874d91e-c71d-46d7-a32a-94ff96494e6d",
    "mediaKey": "1f35071d-9540-8027-96a1-d8c56f009efd"
  },
  {
    "key": "33d71d34-bf1e-4871-9c17-b19f84fbd708",
    "mediaKey": "3ced3efc-4c99-714f-f2c5-98cab2ee58ee"
  },
  {
    "key": "8bd0def6-22a2-4af7-9440-099b0be49548",
    "mediaKey": "85ac5086-49bb-fc9c-bfbe-8f2f993cf93d"
  },
  {
    "key": "1da6b748-b3f3-4573-946a-2e771dc5facd",
    "mediaKey": "59d27a49-d729-562f-bd19-fb9e3161c187"
  },
  {
    "key": "39243894-0b63-4a82-aaf0-905391d0adbf",
    "mediaKey": "204391ea-ae94-0b51-7816-d98f9587d5f6"
  },
  {
    "key": "743927b8-93da-4190-9826-17cf020414d0",
    "mediaKey": "34b0d1e4-ca20-a5d5-c885-5b87bb9fad25"
  },
  {
    "key": "99b8d422-adf4-47f2-b6d7-0e8de944463f",
    "mediaKey": "d2eb85a6-e849-a461-754c-23dc2aded0ad"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Пенсионный фонд Российской Федерации]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит (видимое и скрытое крепление), натуральный камень, фасадный декор, зенитарные фонари]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[1]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[1]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>