<?xml version="1.0" encoding="utf-8"?>
<Content Key="21ef5a88-2916-47c6-9a4b-b6170cdd3ab6" Alias="Плитка на затирке" Level="3">
  <Info>
    <Parent Key="a3c671aa-d24d-47c7-a671-6058fa0a3ecb">Системы</Parent>
    <Path>/Glavnaya/Sistemy/PlitkaNaZatirke</Path>
    <Trashed>false</Trashed>
    <ContentType>sistema</ContentType>
    <CreateDate>2025-10-15T16:21:52</CreateDate>
    <NodeName Default="Плитка на затирке" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <detailImage>
      <Value><![CDATA[[
  {
    "key": "5a837b11-d48a-4af8-b236-2e60f3070b51",
    "mediaKey": "6671bea9-c36d-4084-ab29-ea6a09c039fa"
  }
]]]></Value>
    </detailImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <izobrazhenieDlyaSpiskaSistem>
      <Value><![CDATA[[
  {
    "key": "8838b7c8-e03c-470c-8124-8e16e79d2440",
    "mediaKey": "b4b81544-443c-496e-a8a9-ba4d83d485c9"
  }
]]]></Value>
    </izobrazhenieDlyaSpiskaSistem>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "9ffd4614-3529-443a-8367-13d1a818d68c",
    "mediaKey": "6671bea9-c36d-4084-ab29-ea6a09c039fa"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <systemAdvantages>
      <Value><![CDATA[]]></Value>
    </systemAdvantages>
    <systemDescription>
      <Value><![CDATA[{
  "markup": "<p>РОНСОН-500 – система навесного вентилируемого фасада, предназначенная для крепления плитки под затирку.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </systemDescription>
    <systemFeatures>
      <Value><![CDATA[]]></Value>
    </systemFeatures>
    <systemName>
      <Value><![CDATA[Плитка на затирке]]></Value>
    </systemName>
    <systemTag>
      <Value><![CDATA[РОНСОН-500]]></Value>
    </systemTag>
    <testBlockGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/8834268d21d547f18673cb169ca0e29a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/eb4064b7078c4ca8aba649ebab0a9458",
        "areas": [
          {
            "key": "aaaaaaaa-1111-1111-1111-111111111111",
            "items": [
              {
                "contentUdi": "umb://element/38b644e6427840289fd4e4a0a855993b",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "bbbbbbbb-2222-2222-2222-222222222222",
            "items": [
              {
                "contentUdi": "umb://element/d8a80e356e924981a2f07e1671587b41",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "cccccccc-3333-3333-3333-333333333333",
            "items": [
              {
                "contentUdi": "umb://element/b72ee5379e7f47058662ef50af7eafd8",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/83ade7fa8ec840f595a6f6fe18b49f5c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/354249bcc12342b6b86fc5196768e83e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c824416b473e4ab3ac5b04f44d6afe56",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "aaaa1111-1111-1111-1111-111111111111",
      "textContent": {
        "markup": "<p><strong>ИНДИВИДУАЛЬНАЯ УСТАНОВКА ПЛИТОК</strong></p>\n<p>Система РОНСОН продумана таким образом, что каждая плитка устанавливается на фасад индивидуально, независимо от остальных</p>\n<p> </p>\n<p><strong>УДОБСТВО МОНТАЖА:</strong></p>\n<ul class=\"body2 bullet-list\">\n<li>Позиционирование крепежных профилей осуществляется при помощи специальных шаблонов.</li>\n<li>Процесс монтажа крепежных профилей и установка плитки на фасад выделены в разные операции — благодаря этому монтировать плитку можно даже после установки всех профилей:</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/8834268d21d547f18673cb169ca0e29a"
    },
    {
      "contentTypeKey": "cccc3333-3333-3333-3333-333333333333",
      "udi": "umb://element/eb4064b7078c4ca8aba649ebab0a9458"
    },
    {
      "contentTypeKey": "bbbb2222-2222-2222-2222-222222222222",
      "image": [
        {
          "key": "6193b4b5-9475-40b6-a428-c20dbcec8b0f",
          "mediaKey": "f0690a70-f517-4caa-96c5-11ac4f27b0c7"
        }
      ],
      "imageAlign": [
        "center"
      ],
      "imageSize": [
        "100%"
      ],
      "udi": "umb://element/38b644e6427840289fd4e4a0a855993b"
    },
    {
      "contentTypeKey": "bbbb2222-2222-2222-2222-222222222222",
      "image": [
        {
          "key": "d8a03c8c-b554-4701-a483-8796b5c2093c",
          "mediaKey": "b9d23795-baa7-4861-83c7-2ccb3379469f"
        }
      ],
      "imageAlign": [
        "center"
      ],
      "imageSize": [
        "100%"
      ],
      "udi": "umb://element/d8a80e356e924981a2f07e1671587b41"
    },
    {
      "contentTypeKey": "bbbb2222-2222-2222-2222-222222222222",
      "image": [
        {
          "key": "e83985f4-63e7-4fc6-a4d1-6438a52fedc3",
          "mediaKey": "3a3fd8d3-5ef5-43a7-b61c-0fca7ffc58ac"
        }
      ],
      "imageAlign": [
        "center"
      ],
      "imageSize": [
        "100%"
      ],
      "udi": "umb://element/b72ee5379e7f47058662ef50af7eafd8"
    },
    {
      "contentTypeKey": "aaaa1111-1111-1111-1111-111111111111",
      "textContent": {
        "markup": "<p>&nbsp;</p>\n<p><strong>ОТСУТСТВИЕ ПЕРФОЛЕНТЫ</strong></p>\n<p>Особая запатентованная форма крепежного профиля позволила отказаться от применения перфоленты в горизонтальных швах – благодаря этому повысилась надёжность системы и уменьшилась трудоемкость монтажа.</p>\n<p>&nbsp;</p>\n<p><strong>РЕМОНТОПРИГОДНОСТЬ ФАСАДА</strong></p>\n<p>Каждая плитка может быть точечно демонтирована из облицовки и смонтирована обратно. Это позволяет закрепить строительные леса в любом месте фасада и осуществлять прокладку коммуникаций на любом этапе монтажа, а также производить удобный ремонт фасада в случае необходимости</p>\n<p>&nbsp;</p>\n<p><strong>НАДЕЖНОСТЬ</strong></p>\n<p>Фиксирующие усики крепежного профиля обеспечивают надежное механическое крепление каждой плитки</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/354249bcc12342b6b86fc5196768e83e"
    },
    {
      "contentTypeKey": "bbbb2222-2222-2222-2222-222222222222",
      "image": [
        {
          "key": "d7e4176a-605c-456b-8ffa-6c75c6a11e49",
          "mediaKey": "934bad7c-76f6-4338-b164-2c2999b65b4c"
        }
      ],
      "imageAlign": [
        "center"
      ],
      "imageSize": [
        "100%"
      ],
      "udi": "umb://element/c824416b473e4ab3ac5b04f44d6afe56"
    },
    {
      "contentTypeKey": "aaaa1111-1111-1111-1111-111111111111",
      "textContent": {
        "markup": "<div class=\"flex items-start gap-4 p-6 rounded-3xl border border-gray h-full\">\n<div class=\"flex-shrink-0 w-8 h-8 border border-accent text-accent rounded-full flex items-center justify-center\"><span class=\"text-accent\">1</span></div>\n<p>Сначала крепежные профили монтируются на подсистему</p>\n<div class=\"flex-shrink-0 w-8 h-8 border border-accent text-accent rounded-full flex items-center justify-center\"><span class=\"text-accent\">2</span></div>\n<p>Затем устанавливается плитка и фиксируется усиками профиля при помощи специального ключа</p>\n<div class=\"flex-shrink-0 w-8 h-8 border border-accent text-accent rounded-full flex items-center justify-center\"><span class=\"text-accent\">3</span></div>\n<p>После этого производится затирка швов</p>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/83ade7fa8ec840f595a6f6fe18b49f5c"
    }
  ],
  "settingsData": []
}]]></Value>
    </testBlockGrid>
    <toolDescription>
      <Value><![CDATA[]]></Value>
    </toolDescription>
    <toolImage>
      <Value><![CDATA[[]]]></Value>
    </toolImage>
    <toolTitle>
      <Value><![CDATA[]]></Value>
    </toolTitle>
    <videoPrezentatsiya>
      <Value><![CDATA[-XCeJ4QJUC0]]></Value>
    </videoPrezentatsiya>
  </Properties>
</Content>