<?xml version="1.0" encoding="utf-8"?>
<Content Key="79230316-2ca2-4def-a74d-5c7c9a0b61ce" Alias="Плиты KMEW" Level="3">
  <Info>
    <Parent Key="a3c671aa-d24d-47c7-a671-6058fa0a3ecb">Системы</Parent>
    <Path>/Glavnaya/Sistemy/PlityKMEW</Path>
    <Trashed>false</Trashed>
    <ContentType>sistema</ContentType>
    <CreateDate>2025-10-16T19:36:01</CreateDate>
    <NodeName Default="Плиты KMEW" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <detailImage>
      <Value><![CDATA[[
  {
    "key": "f21ae5de-5b2e-4bfe-a068-79f35e1d155e",
    "mediaKey": "52c8b6ac-4870-46fe-920d-f1574b74db91"
  }
]]]></Value>
    </detailImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <izobrazhenieDlyaSpiskaSistem>
      <Value><![CDATA[[
  {
    "key": "b62db9eb-f6b4-4ac2-9b7e-c4ac05ab32bf",
    "mediaKey": "52c8b6ac-4870-46fe-920d-f1574b74db91"
  }
]]]></Value>
    </izobrazhenieDlyaSpiskaSistem>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "91a675a3-dd03-42e8-b8a3-e437fdf151da",
    "mediaKey": "52c8b6ac-4870-46fe-920d-f1574b74db91"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <systemAdvantages>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5899cb287c6643f48205265a9d722aa2"
      },
      {
        "contentUdi": "umb://element/fc656849524948ebbd15b5d5df14ab5d"
      },
      {
        "contentUdi": "umb://element/786902e12eb34c3bb77b2b7eba44ea8e"
      }
    ]
  },
  "contentData": [
    {
      "advantageDescription": "Система РОНСОН позволяет выполнять экраны из плит KMEW СЕРАДИР-V без дополнительных деформационных стыков до 15 метром в высоту. Тем самым полностью реализуется уникальное преимущество панелей KMEW – эффект сплошного экрана без швов, имитация цельной стены. Отсутствует необходимость в терморазрывных швах каждые 3 метра.",
      "advantageIcon": [
        {
          "key": "123eddd7-839e-466c-a523-fd06beafaee2",
          "mediaKey": "dafdeb42-8a08-4d89-9b39-d62b53aa1eaf"
        }
      ],
      "advantageTitle": "Реализуется уникальное преимущество панелей KMEW ",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/5899cb287c6643f48205265a9d722aa2"
    },
    {
      "advantageDescription": "Система РОНСОН с плитой KMEW прошла все необходимые испытания и имеет одобрение к применению от производителя",
      "advantageIcon": [
        {
          "key": "051d6f39-e352-41d9-b724-d2b44f85b6c0",
          "mediaKey": "44a42c78-275c-4f0f-8601-306aa8f8c042"
        }
      ],
      "advantageTitle": "Система прошла все необходимые испытания",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/fc656849524948ebbd15b5d5df14ab5d"
    },
    {
      "advantageDescription": "Производителем японской фиброцементной плиты KMEW запрещена установка плиты на алюминиевую систему. Система НВФ РОНСОН производится из нержавеющей или оцинкованной стали – она полностью удовлетворяет требованиям производителя!",
      "advantageIcon": [
        {
          "key": "c91a7e6c-3059-4796-9a55-06894b03d69d",
          "mediaKey": "52691903-c0dc-4de8-ad63-b7e0709dec38"
        }
      ],
      "advantageTitle": "Полностью удовлетворяет требованиям производителя",
      "contentTypeKey": "22222222-2222-2222-2222-222222222222",
      "udi": "umb://element/786902e12eb34c3bb77b2b7eba44ea8e"
    }
  ],
  "settingsData": []
}]]></Value>
    </systemAdvantages>
    <systemDescription>
      <Value><![CDATA[{
  "markup": "<p>РОНСОН-100 – система навесного вентилируемого фасада, предназначенная для крепления облицовки из фиброцементных плит KMEW СЕРАДИР-V.&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </systemDescription>
    <systemFeatures>
      <Value><![CDATA[]]></Value>
    </systemFeatures>
    <systemName>
      <Value><![CDATA[Плиты KMEW]]></Value>
    </systemName>
    <systemTag>
      <Value><![CDATA[РОНСОН-100]]></Value>
    </systemTag>
    <testBlockGrid>
      <Value><![CDATA[]]></Value>
    </testBlockGrid>
    <toolDescription>
      <Value><![CDATA[]]></Value>
    </toolDescription>
    <toolImage>
      <Value><![CDATA[[]]]></Value>
    </toolImage>
    <toolTitle>
      <Value><![CDATA[]]></Value>
    </toolTitle>
    <videoPrezentatsiya>
      <Value><![CDATA[]]></Value>
    </videoPrezentatsiya>
  </Properties>
</Content>