<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0712cb6-49e3-40e4-84d6-7fdd5c6d8d20" Alias="Посмотрите наш новый Видео ролик РОНСОН" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/PosmotriteNashNovyiVideoRolikRONSON</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Посмотрите наш новый Видео ролик РОНСОН" />
    <SortOrder>177</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Новая система РОНСОН для скрытого крепления керамогранита и других видов облицовочных плит.</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2018-02-02T17:22:02]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Посмотрите наш новый Видео ролик РОНСОН]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Новая система РОНСОН для скрытого крепления керамогранита и других видов облицовочных плит.</p><p><iframe allowfullscreen="" frameborder="0" height="394" scrolling="no" src="https://www.youtube.com/embed/OM7_y3xm4Ck?rel=0" width="700"></iframe></p>]]></Value>
    </text>
  </Properties>
</Content>