<?xml version="1.0" encoding="utf-8"?>
<Content Key="f48944e2-b823-41cb-9251-5ac9a35b80ad" Alias="Приглашаем на KazBuild 2021" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/PriglashaemNaKazBuild2021</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Приглашаем на KazBuild 2021" />
    <SortOrder>189</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>9-11 сентября , г. Алматы пройдет выставка&nbsp;KazBuild 2021</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2021-08-20T20:33:02]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Приглашаем на KazBuild 2021]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>С&nbsp;7&nbsp;по&nbsp;9&nbsp;сентября 2021 года компания РОНСОН примет участие в главной международной строительной выставке Казахстана - KazBuild 2021, которая будет проходить в выставочном комплексе &laquo;Атакент&raquo; (г. Алматы, Тимирязева, 42).</p><p>&nbsp;</p><p>Приглашаем Вас посетить наш стенд! Он будет расположен в павильоне №10:</p><p>&nbsp;</p><p><a href="/netcat_files/userfiles/1/kazbuild2021.jpg" rel="lightbox"><img alt="" src="/netcat_files/userfiles/1/kazbuild2021.jpg" style="width: 700px; height: 413px;" /></a></p><p>&nbsp;</p><p>Получить билет на выставку можно <strong>только по предварительной онлайн регистрации </strong>с возможностью выбора удобного времени посещения. Используя промокод <span style="color:#FF0000;"><strong>KBA2807VIS</strong></span>, вы сможете получить электронный билет на сайте выставки бесплатно.</p><p>&nbsp;</p><p>До встречи на нашем стенде!</p>]]></Value>
    </text>
  </Properties>
</Content>