<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ba9841e-3efa-4c8e-a72c-9981167fad5e" Alias="Производство" Level="3">
  <Info>
    <Parent Key="e2ac0bb2-e330-437c-b283-88823c03535f">О нас</Parent>
    <Path>/Glavnaya/ONas/Proizvodstvo</Path>
    <Trashed>false</Trashed>
    <ContentType>proizvodstvo</ContentType>
    <CreateDate>2025-09-14T20:07:39</CreateDate>
    <NodeName Default="Производство" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35b11fce-7ffd-4f7e-9064-1b444571b4d2">Proizvodstvo</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[{
  "markup": "<div class=\"bg-white rounded-xl p-2 max-w-md mx-auto mt-8\">\n<div class=\"text-center\">\n<h3 class=\"body1 text-bold text-gray-900 uppercase\">Завод фасадных конструкций</h3>\n<div class=\"bg-gray-100 rounded-4xl px-4 py-2\">\n<p class=\"text-regular-primary bg-background-primary p-1 rounded-4xl\">г. Киржач, Владимирская область</p>\n</div>\n</div>\n</div>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[{
  "markup": "<h1>Здесь рождаются фасады<br><span class=\"text-accent inline-block mt-3\">РОНСОН</span></h1>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>