<?xml version="1.0" encoding="utf-8"?>
<Content Key="4eedbc37-2d29-4287-9138-65e26c02fd29" Alias="РАСШИРЕНИЕ ЛИНЕЙКИ ОПОРНЫХ КРОНШТЕЙНОВ РОНСОН!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/RASShIRENIELINEIKIOPORNYKhKRONShTEINOVRONSON</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="РАСШИРЕНИЕ ЛИНЕЙКИ ОПОРНЫХ КРОНШТЕЙНОВ РОНСОН!" />
    <SortOrder>195</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[nan]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2011-12-20T02:33:56]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[РАСШИРЕНИЕ ЛИНЕЙКИ ОПОРНЫХ КРОНШТЕЙНОВ РОНСОН!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>	<a href="/images/000002451.jpg" linkindex="36" rel="lightbox" set="yes" style="font-family: tahoma; text-align: -webkit-center; background-color: rgb(234, 234, 234); "><img alt="" border="1" src="/images/000002452.jpg" style="border-color: rgb(176, 176, 176); " /></a></p>]]></Value>
    </text>
  </Properties>
</Content>