<?xml version="1.0" encoding="utf-8"?>
<Content Key="c60ae71f-e1f8-0546-2fa1-53d5e0dca5a9" Alias="Ржевский мемориал советскому солдату (г. Ржев)" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/RzhevskiiMemorialSovetskomuSoldatuGRzhev</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:19</CreateDate>
    <NodeName Default="Ржевский мемориал советскому солдату (г. Ржев)" />
    <SortOrder>250</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[Тверская область, Ржевский район, деревня Хорошево]]></Value>
    </description>
    <god>
      <Value><![CDATA[2020]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "e0092c01-ca22-445a-aad8-531c4e437e6d",
    "mediaKey": "cc4c7535-e338-4683-204d-71df68d387d5"
  },
  {
    "key": "178673b4-55aa-462b-b2f4-7c9071ad01a1",
    "mediaKey": "4ec3917d-27d5-b692-f21b-052adfc35cf2"
  },
  {
    "key": "8f2daf89-4ca3-4b40-9740-02203d009b8f",
    "mediaKey": "2e45edd6-87b1-dc05-5a32-75273f16849e"
  },
  {
    "key": "10b90300-a145-4f22-9093-e1bdc0f8d45d",
    "mediaKey": "81742548-9803-03bc-b59f-4bcfc832c474"
  },
  {
    "key": "15d2abce-a75a-4bfd-8ae5-0458bf2df34e",
    "mediaKey": "709c938b-870d-9114-f9d9-39c82d081b3f"
  },
  {
    "key": "9e9a1e68-835f-4dd6-aaaf-7dcd914b7c2a",
    "mediaKey": "ba1063bf-b060-bd14-750f-db965bed1495"
  },
  {
    "key": "22915c0c-5c9a-4bec-9c2c-4fbb0165ce76",
    "mediaKey": "383a5560-2281-4aff-76f5-9b8dc0b91ad7"
  },
  {
    "key": "4c1dd502-94f6-46ee-b4f3-74b59eccc9a6",
    "mediaKey": "4d884a18-2ef0-1570-a2f5-01cc60f7d36d"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Ржевский мемориал советскому солдату (г. Ржев)]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[кассеты из кортеновской стали]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-200"
]]]></Value>
    </systems>
  </Properties>
</Content>