<?xml version="1.0" encoding="utf-8"?>
<Content Key="c009c046-ed9c-4c48-8cfa-b0f090ad9c6a" Alias="РОНСОН ГРУПП завершила фасадные работы в ЖК Царская Столица" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/RONSONGRUPPZavershilaFasadnyeRabotyVZhKFarskayaStolitsa</Path>
    <Trashed>false</Trashed>
    <ContentType>novost2</ContentType>
    <CreateDate>2025-09-15T13:18:35</CreateDate>
    <NodeName Default="РОНСОН ГРУПП завершила фасадные работы в ЖК Царская Столица" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c550ecea-3745-436e-829d-e8901ecee711">NovostTip2</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[]]></Value>
    </text>
  </Properties>
</Content>