<?xml version="1.0" encoding="utf-8"?>
<Content Key="0736fbab-acc2-47b1-b326-18a6dfa57380" Alias="Ронсон системы на выставке в Саранске!" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/RonsonSistemyNaVystavkeVSaranske</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Ронсон системы на выставке в Саранске!" />
    <SortOrder>223</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[nan]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2010-03-08T03:05:11]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Ронсон системы на выставке в Саранске!]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>Компания «Ронсон системы» приняла участие в выставке «Энергоресурсосбережение,  связь и инфокоммуникации», которая проходила с 11 по 13 марта в г. Саранск.</p><br><table align="center" border="0" cellpadding="3">	<tr>    	<td><p align="center"><a href="/images/000001480.jpg" rel="lightbox" set="yes" linkindex="33"><img src="/images/000001481.jpg" border="0" style="margin:5px"></a></p></td>        <td><p align="center"><a href="/images/000001482.jpg" rel="lightbox" set="yes" linkindex="33"><img src="/images/000001483.jpg" border="0" style="margin:5px"></a></p></td>        <td><p align="center"><a href="/images/000001484.jpg" rel="lightbox" set="yes" linkindex="33"><img src="/images/000001485.jpg" border="0" style="margin:5px"></a></p></td>    </tr></table>	<div style="clear: both;"></div>]]></Value>
    </text>
  </Properties>
</Content>