<?xml version="1.0" encoding="utf-8"?>
<Content Key="052d54a8-453f-4fc3-bc33-9df3a5ee1241" Alias="РОНСОН на Форуме Building Skin Russia" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/RONSONNaForumeBuildingSkinRussia</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="РОНСОН на Форуме Building Skin Russia" />
    <SortOrder>212</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>27 февраля 2020 года завершился Форум Building Skin Russia</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2020-03-02T17:35:08]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[РОНСОН на Форуме Building Skin Russia]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>27 февраля 2020 года завершился Форум Building Skin Russia, в которой приняли участие более 100 ведущих экспертов России в области фасадов, кровель, окон и изоляции. Форум привлек внимание тысяч девелоперов, архитекторов, проектировщиков, застройщиков из самых разных регионов страны.</p><p>&nbsp;</p><p>Компания РОНСОН представила навесные вентилируемые фасады с облицовками из <a href="http://ronson-group.ru/objects/klinker/" target="_blank">натурального клинкера</a>. Посетители выставки проявляли большой интерес к нашему стенду, было задано множество вопросов об особенностях крепления вентилируемых фасадов РОНСОН.</p><p>&nbsp;</p><p>Благодарим всех гостей Форума Building Skin Russia 2020 за проявленный интерес к продукции РОНСОН, а также наших партнеров &ndash; компании Ceramic Group за успешное и плодотворное сотрудничество в процессе подготовки и на протяжении всей выставки.</p><p>&nbsp;</p><p>До новых встреч!</p>]]></Value>
    </text>
  </Properties>
</Content>