<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4c33e7d-445c-4714-a941-670586026aef" Alias="Система «Ронсон-500» успешно прошла пожарные испытания" Level="4">
  <Info>
    <Parent Key="d25d7e33-0310-4db8-b27e-e88109263c1a">Новости</Parent>
    <Path>/Glavnaya/ONas/Novosti/SistemaRonson500UspeshnoProshlaPozharnyeIspytaniya</Path>
    <Trashed>false</Trashed>
    <ContentType>novost</ContentType>
    <CreateDate>2025-09-15T15:14:00</CreateDate>
    <NodeName Default="Система «Ронсон-500» успешно прошла пожарные испытания" />
    <SortOrder>253</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf99c3b3-ec0b-46a1-90bb-a2e8281fa607">Novost</Template>
  </Info>
  <Properties>
    <announce>
      <Value><![CDATA[<p>Система навесных вентилируемых фасадов &laquo;Ронсон-500&raquo; с облицовкой из РОНСОН КЛИНКЕРА успешно прошла пожарные испытания</p>]]></Value>
    </announce>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <cover>
      <Value><![CDATA[]]></Value>
    </cover>
    <extLink>
      <Value><![CDATA[[
  {
    "url": "nan"
  }
]]]></Value>
    </extLink>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[1]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <newsDate>
      <Value><![CDATA[2014-08-06T14:21:42]]></Value>
    </newsDate>
    <ogImage>
      <Value><![CDATA[]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[Система «Ронсон-500» успешно прошла пожарные испытания]]></Value>
    </pageTitle>
    <text>
      <Value><![CDATA[<p>По результатам огневых испытаний, проведенных &laquo;Лабораторией противопожарных исследований, сертификационных испытаний и экспертизы в строительстве&raquo; ЦНИИСК им. В.А.Кучеренко, система НВФ &laquo;Ронсон-500&raquo; с облицовочным слоем из КЛИНКЕРА РОНСОН и декоративного камня WHITE HILLS имеет показатели, удовлетворяющие требованиям ГОСТ 31251 для конструкций класса пожарной опасности <strong>КО</strong></p><p><strong>Видео испытаний</strong></p><p><iframe allowfullscreen="" frameborder="0" height="400" scrolling="no" src="//www.youtube.com/embed/jjAkn-BBsTM" width="700"></iframe></p>]]></Value>
    </text>
  </Properties>
</Content>