<?xml version="1.0" encoding="utf-8"?>
<Content Key="65fd67cb-ff99-48f1-9da8-725e0541c74e" Alias="Терракота" Level="3">
  <Info>
    <Parent Key="a3c671aa-d24d-47c7-a671-6058fa0a3ecb">Системы</Parent>
    <Path>/Glavnaya/Sistemy/Terrakota</Path>
    <Trashed>false</Trashed>
    <ContentType>sistema</ContentType>
    <CreateDate>2025-10-16T19:12:13</CreateDate>
    <NodeName Default="Терракота" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40727990-b245-405c-8c81-efb143cd43ae">Sistema</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <detailImage>
      <Value><![CDATA[[
  {
    "key": "a2a60335-b595-41b7-87a0-a74f31303db3",
    "mediaKey": "6805af78-4362-4dce-b122-0f466d2055ba"
  }
]]]></Value>
    </detailImage>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <imageGallery>
      <Value><![CDATA[[]]]></Value>
    </imageGallery>
    <izobrazhenieDlyaSpiskaSistem>
      <Value><![CDATA[[
  {
    "key": "c4a00077-a8eb-4c7f-b406-f21765d0ea1e",
    "mediaKey": "9838b460-4420-4219-be5b-fd30c67d0563"
  }
]]]></Value>
    </izobrazhenieDlyaSpiskaSistem>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "35fd0717-8e3e-4a54-b802-b6c0b716fabe",
    "mediaKey": "6805af78-4362-4dce-b122-0f466d2055ba"
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <systemAdvantages>
      <Value><![CDATA[]]></Value>
    </systemAdvantages>
    <systemDescription>
      <Value><![CDATA[{
  "markup": "<p>РОНСОН-400 – система навесного вентилируемого фасада, предназначенная для крепления облицовки из терракоты (объемной керамики).</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </systemDescription>
    <systemFeatures>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f5996738c49945a1a1f8935b9b9205a7"
      },
      {
        "contentUdi": "umb://element/560e7eac7aba4fd4910ad48a01f275d8"
      },
      {
        "contentUdi": "umb://element/4c97b15226d648abb624e6201c19443a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "11111111-1111-1111-1111-111111111111",
      "featureText": "Ускоренный процесс монтажа",
      "udi": "umb://element/f5996738c49945a1a1f8935b9b9205a7"
    },
    {
      "contentTypeKey": "11111111-1111-1111-1111-111111111111",
      "featureText": "Возможность быстрой замены отдельно взятой плиты на фасаде",
      "udi": "umb://element/560e7eac7aba4fd4910ad48a01f275d8"
    },
    {
      "contentTypeKey": "11111111-1111-1111-1111-111111111111",
      "featureText": "Повышенная надежность крепления",
      "udi": "umb://element/4c97b15226d648abb624e6201c19443a"
    }
  ],
  "settingsData": []
}]]></Value>
    </systemFeatures>
    <systemName>
      <Value><![CDATA[Терракота]]></Value>
    </systemName>
    <systemTag>
      <Value><![CDATA[РОНСОН-400]]></Value>
    </systemTag>
    <testBlockGrid>
      <Value><![CDATA[]]></Value>
    </testBlockGrid>
    <toolDescription>
      <Value><![CDATA[]]></Value>
    </toolDescription>
    <toolImage>
      <Value><![CDATA[[]]]></Value>
    </toolImage>
    <toolTitle>
      <Value><![CDATA[]]></Value>
    </toolTitle>
    <videoPrezentatsiya>
      <Value><![CDATA[]]></Value>
    </videoPrezentatsiya>
  </Properties>
</Content>