<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ae0a61f-172f-26d3-197a-52d4eb07a2a6" Alias="Торгово – офисное здание" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/TorgovoOfisnoeZdanie</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:37</CreateDate>
    <NodeName Default="Торгово – офисное здание" />
    <SortOrder>53</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Ногинск, ул. Соборная, д. 12]]></Value>
    </description>
    <god>
      <Value><![CDATA[2009]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "2c6ebe65-16b3-4152-8c8d-dc4112944acc",
    "mediaKey": "c400daf6-cf5d-427c-64ed-4e5e2db519ce"
  },
  {
    "key": "ee7f75a8-d5df-4728-99b1-800fdee0e96d",
    "mediaKey": "94e6d70c-654e-ea25-5e15-01589623fc83"
  },
  {
    "key": "b0151e34-3f94-47de-bcb2-b7c287ac4dea",
    "mediaKey": "38ddbdaf-b136-0aaf-7e3f-f11c911fca7c"
  },
  {
    "key": "fb84d09c-8589-4e51-b881-f8580c9ae66c",
    "mediaKey": "a9c826e5-12c4-3474-85b1-9bfe0c837a7b"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Торгово – офисное здание]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[фиброцементные плиты]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[0]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[1]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-100"
]]]></Value>
    </systems>
  </Properties>
</Content>