<?xml version="1.0" encoding="utf-8"?>
<Content Key="c20c1e6d-c9a6-4b38-b74f-54dbae676796" Alias="Торговые Центры" Level="3">
  <Info>
    <Parent Key="18d970f3-0bb5-4ec8-a06b-55fcfeaa72cf">Объекты</Parent>
    <Path>/Glavnaya/Obekty/TorgovyeFentry</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkty</ContentType>
    <CreateDate>2025-09-15T12:28:29</CreateDate>
    <NodeName Default="Торговые Центры" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a25e3f6-0921-47b5-b40e-790d7d6bd14a">ObEkty</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>