<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d4939dd-1778-30a9-50fe-5d4b3edad4d0" Alias="Торгово-офисное здание «Каскад-мебель»" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/TorgovoOfisnoeZdanieKaskadMebel</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:55</CreateDate>
    <NodeName Default="Торгово-офисное здание «Каскад-мебель»" />
    <SortOrder>100</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, Сущевский вал]]></Value>
    </description>
    <god>
      <Value><![CDATA[]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "08cd4d92-63de-4a9d-940c-4654ddae4f24",
    "mediaKey": "627267d7-fee9-e04b-1f07-e0c22baffb63"
  },
  {
    "key": "b8a0c36b-1ed9-4460-b621-dc65a8d0864e",
    "mediaKey": "3b0e46c1-b7b5-fc12-b0a1-8abea4bf8ba2"
  },
  {
    "key": "fbdf694c-43a1-4615-a5e2-a468ba84e58c",
    "mediaKey": "bc874a40-d98f-6a23-42ca-fc33c8c685a8"
  },
  {
    "key": "ed7be5b8-e21f-453c-9a56-0aee720a1260",
    "mediaKey": "3d528e3e-2396-fb77-380a-49f2eaf853d5"
  },
  {
    "key": "bd10314b-9d53-4b59-b3e4-605fc69ed989",
    "mediaKey": "cbbdc87e-d428-bd40-12f5-5c47e48196e0"
  },
  {
    "key": "19d7c343-c2a5-401d-84ce-2ce90381cee0",
    "mediaKey": "fe9d1722-5a4e-9561-4daa-416cfd02ec8c"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Торгово-офисное здание «Каскад-мебель»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[алюмокомпозит, керамогранит (видимое крепление)]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[0]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[]]]></Value>
    </systems>
  </Properties>
</Content>