<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f494f09-396f-118d-3aa2-919f8f6ff5d5" Alias="ТЦ «Семейный»" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/TFSemeinyi</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:23</CreateDate>
    <NodeName Default="ТЦ «Семейный»" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Калуга, ул. Суворова, д.109]]></Value>
    </description>
    <god>
      <Value><![CDATA[2011]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "3fb10b31-e746-4a8a-bb35-692ace06d1ca",
    "mediaKey": "3b369867-56f2-f0e3-cbb9-c4640e394804"
  },
  {
    "key": "1e76e2aa-108f-4804-af49-3ab3443f99de",
    "mediaKey": "d528e640-54d0-6d11-1f6c-6537e7231d85"
  },
  {
    "key": "5a0778bb-39e5-4efd-86f6-50ce85856af9",
    "mediaKey": "d82cd09b-9347-cd0b-94d2-abe6b9015402"
  },
  {
    "key": "30f9b71e-cc9d-48f9-be5c-e8108e107a0e",
    "mediaKey": "6aac0e69-fa1b-e236-18dd-65852485edcb"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[ТЦ «Семейный»]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[кассеты из композитных материалов, керамогранит, пояски из металлокасет, светопрозрачные конструкции, зенитарные фонари]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[1]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>