<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc9d1a5c-f97e-4455-b585-bc8763ca1ba8" Alias="Учебный центр" Level="3">
  <Info>
    <Parent Key="e2ac0bb2-e330-437c-b283-88823c03535f">О нас</Parent>
    <Path>/Glavnaya/ONas/UchebnyiTsentr</Path>
    <Trashed>false</Trashed>
    <ContentType>uchebnyiFentr</ContentType>
    <CreateDate>2025-09-14T20:16:43</CreateDate>
    <NodeName Default="Учебный центр" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6003d3d2-a4d7-4d26-91e5-a6137f703c39">UchebnyiFentr</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <heroButtonText>
      <Value><![CDATA[Программа обучения]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[[
  {
    "udi": "umb://document/dc9d1a5cf97e4455b585bc8763ca1ba8"
  }
]]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[{
  "markup": "<p class=\"text-regular-secondary leading-normal max-w-[740px] mx-auto body1\">Современные здания должны обладать не&nbsp;только красивыми, но&nbsp;и&nbsp;обязательно надежными фасадами. Поэтому, каждый участник процесса, от&nbsp;менеджера до&nbsp;рабочего на&nbsp;стройке должен понимать тонкости навесных вентилируемых фасадов. Эту задачу мы&nbsp;помогаем закрыть в&nbsp;нашем учебном центре.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>