<?xml version="1.0" encoding="utf-8"?>
<Content Key="98414000-c940-57cb-ad20-b3ea0c931f06" Alias="Физкультурно-оздоровительный комплекс" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/FizkulturnoOzdorovitelnyiKompleks</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T12:59:24</CreateDate>
    <NodeName Default="Физкультурно-оздоровительный комплекс" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г. Москва, ул. Перовская, вл. 37]]></Value>
    </description>
    <god>
      <Value><![CDATA[2011]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "5a4b9428-cc12-44a4-93ef-02f26026f26d",
    "mediaKey": "f1cf9747-6299-ae5a-817d-3f825ef1b9de"
  },
  {
    "key": "829463b1-b41a-4858-957f-cf65883271e6",
    "mediaKey": "fa48dd2e-8e72-c06f-695a-42f3bbf6508a"
  },
  {
    "key": "34f9290e-89fd-4207-8704-8c78b68997f9",
    "mediaKey": "fb511517-f5b7-48e4-eb84-ba9e0ee730ec"
  },
  {
    "key": "2f576fbc-38d0-4da4-8a4c-28ffe9e06034",
    "mediaKey": "c8d3e1e0-17d5-6bfe-e65a-6a59b9983002"
  },
  {
    "key": "70da4466-3b95-40d6-bc9a-fa85d0ae1be4",
    "mediaKey": "8cf07ef8-b1f0-d871-fb51-88b7d07256d6"
  },
  {
    "key": "3c1c8d32-0c47-46af-9b08-66a51f55c64a",
    "mediaKey": "14c17253-c4b4-9bf7-5551-491441b40131"
  },
  {
    "key": "37092e7f-b08c-4c6b-a75f-78daee463e67",
    "mediaKey": "42744792-dc30-1865-0895-2f5b00002b9b"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Физкультурно-оздоровительный комплекс]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[керамогранит, светопрозрачные конструкции]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[0]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[1]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-300"
]]]></Value>
    </systems>
  </Properties>
</Content>