<?xml version="1.0" encoding="utf-8"?>
<Content Key="e408d464-55ba-224a-0b4b-72842630aa57" Alias="Частный гараж, г. Минск, Республика Беларусь" Level="4">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Жилые Комплексы</Parent>
    <Path>/Glavnaya/Obekty/ZhilyeKompleksy/ChastnyiGarazhGMinskRespublikaBelarus</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:14</CreateDate>
    <NodeName Default="Частный гараж, г. Минск, Республика Беларусь" />
    <SortOrder>176</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[Республика Белоруссия, г. Минск]]></Value>
    </description>
    <god>
      <Value><![CDATA[2015]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "a3bf9041-7d04-421e-bf0c-74a038ef916f",
    "mediaKey": "1bbbc58e-6813-ddd4-ff08-e0aaf86ad5b0"
  },
  {
    "key": "8da54000-f945-4449-a083-329f94a82fbc",
    "mediaKey": "2663bcef-9a49-64c2-1c5e-74ea59b93cc9"
  },
  {
    "key": "1c04448c-ef13-42b3-9876-fb1c4b0fd1e1",
    "mediaKey": "80ebf48d-c1f7-ad38-71d1-e805ca8229c1"
  },
  {
    "key": "9d58442f-4c1d-451e-b875-1c73afddcfd7",
    "mediaKey": "018fa092-4195-6953-9be4-b97ff936630f"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[1]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Частный гараж, г. Минск, Республика Беларусь]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[HPL панели, клинкер, декоративный камень White Hills]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[1]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[0]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>