<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c681f04-9172-871d-dc5f-ef46b9b2b664" Alias="Частный дом г. Набережные Челны" Level="3">
  <Info>
    <Parent Key="1bca0e81-44d6-46fc-a81c-4a63bbeee5fc">Объекты</Parent>
    <Path>/Glavnaya/Obekty/ChastnyiDomGNaberezhnyeChelny</Path>
    <Trashed>false</Trashed>
    <ContentType>obEkt</ContentType>
    <CreateDate>2025-10-22T13:00:03</CreateDate>
    <NodeName Default="Частный дом г. Набережные Челны" />
    <SortOrder>119</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e412aa4-a93d-4914-9374-9677188720d2">ObEkt</Template>
  </Info>
  <Properties>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <description>
      <Value><![CDATA[г.Набережные Челны]]></Value>
    </description>
    <god>
      <Value><![CDATA[2014]]></Value>
    </god>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <hideFromSearch>
      <Value><![CDATA[0]]></Value>
    </hideFromSearch>
    <hideHeroSection>
      <Value><![CDATA[0]]></Value>
    </hideHeroSection>
    <imageGallery>
      <Value><![CDATA[[
  {
    "key": "1572c25b-7bfb-4aff-81ad-69a3aa6932ab",
    "mediaKey": "1d2074e8-f7c4-862d-73a0-b953c7246304"
  },
  {
    "key": "81bc9c68-54ee-47a3-9023-d10bdd07c94a",
    "mediaKey": "29042d74-515c-65cd-140d-8b861c38fa2d"
  },
  {
    "key": "bfc6ec29-c4eb-4fb4-920b-a65e01100626",
    "mediaKey": "31d29ffa-3af7-ec7a-96bb-f19af3f5f11f"
  },
  {
    "key": "37d6764d-efe9-40e4-9e50-7f07a617f56c",
    "mediaKey": "10be8aad-9376-e9b6-e193-590d35859ee7"
  },
  {
    "key": "5a275e6d-50d9-45d3-b796-3472343b9f02",
    "mediaKey": "efdef1ff-bbe1-8f3d-b1c6-fddc63c778fa"
  }
]]]></Value>
    </imageGallery>
    <inside>
      <Value><![CDATA[0]]></Value>
    </inside>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <montage>
      <Value><![CDATA[]]></Value>
    </montage>
    <montagepartner>
      <Value><![CDATA[]]></Value>
    </montagepartner>
    <objectName>
      <Value><![CDATA[Частный дом г. Набережные Челны]]></Value>
    </objectName>
    <obl>
      <Value><![CDATA[клинкер]]></Value>
    </obl>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ronsonBrick>
      <Value><![CDATA[0]]></Value>
    </ronsonBrick>
    <ronsonDecor>
      <Value><![CDATA[0]]></Value>
    </ronsonDecor>
    <ronsonGranit>
      <Value><![CDATA[0]]></Value>
    </ronsonGranit>
    <ronsonKlinker>
      <Value><![CDATA[1]]></Value>
    </ronsonKlinker>
    <ronsonMontage>
      <Value><![CDATA[1]]></Value>
    </ronsonMontage>
    <ronsonSystem>
      <Value><![CDATA[1]]></Value>
    </ronsonSystem>
    <ronsonVitrage>
      <Value><![CDATA[0]]></Value>
    </ronsonVitrage>
    <systems>
      <Value><![CDATA[[
  "РОНСОН-500"
]]]></Value>
    </systems>
  </Properties>
</Content>